In [2]:
import pandas as pd

In [3]:
prefix_path = 'D:/jeju_bus_data_no_leakage/bis/'
file_name = 'BIS_190531.csv'

path = prefix_path + file_name

In [4]:
df = pd.read_csv(path, 
                 usecols = ['EVENT_DATE', 'EVENT_CD', 'VH_ID', 'ROUTE_ID', 
                            'BUS_RUN_CNT', 'ROUTE_RUN_CNT', 'STATION_ORD', 'RUN_DIST'])

In [5]:
df = df[(df['EVENT_CD'] == 18) | (df['EVENT_CD'] == 17)]

In [6]:
grouped_1 = df.groupby(['ROUTE_ID', 'ROUTE_RUN_CNT', 'VH_ID', 'BUS_RUN_CNT'])

In [18]:
# import IPython.display

cnt = 0
g = []
for name, group in grouped_1:
    group = group.sort_values(by=['EVENT_DATE'])
    if group.iloc[-1]['EVENT_CD'] == 18:
        #display(group.iloc[[-1]])
        print(str(group.iloc[len(group) - 1]).replace('\n', ' '))
        g.append(group)
        print(name)
        cnt+=1
#     print(group.iloc[len(group) - 1]['EVENT_CD'])
#     cnt += 1
print(cnt)

EVENT_DATE       19/05/31 19:48:34 EVENT_CD                        18 VH_ID                      7996007 ROUTE_ID                 405130001 RUN_DIST                     31124 STATION_ORD                     23 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 2058166, dtype: object
(405130001, 3, 7996007, 5)
EVENT_DATE       19/05/31 20:13:46 EVENT_CD                        18 VH_ID                      7996017 ROUTE_ID                 405130001 RUN_DIST                     29976 STATION_ORD                     22 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1944895, dtype: object
(405130001, 4, 7996017, 6)
EVENT_DATE       19/05/31 21:42:48 EVENT_CD                        18 VH_ID                      7996026 ROUTE_ID                 405130001 RUN_DIST                     31124 STATION_ORD                     23 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1807523, dtype: object
(405130001, 7, 7996026, 8)
EVENT_DATE       19/05/31 11:52:28 EVENT_CD                        18 VH_ID                      7996027 ROUTE_ID                 405130001 RUN_DIST                     31124 STATION_ORD                     23 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   10 Name: 483898, dtype: object
(405130001, 10, 7996027, 3)
EVENT_DATE       19/05/31 12:17:32 EVENT_CD                        18 VH_ID                      7996016 ROUTE_ID                 405130001 RUN_DIST                     28481 STATION_ORD                     21 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   11 Name: 1241256, dtype: object
(405130001, 11, 7996016, 3)
EVENT_DATE       19/05/31 13:15:53 EVENT_CD                        18 VH_ID                      7996025 ROUTE_ID                 405130001 RUN_DIST                     31124 STATION_ORD                     23 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 1014839, dtype: object
(405130001, 12, 7996025, 3)
EVENT_DATE       19/05/31 17:56:26 EVENT_CD                        18 VH_ID                      7996016 ROUTE_ID                 405130001 RUN_DIST                     16831 STATION_ORD                     15 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1636335, dtype: object
(405130001, 18, 7996016, 5)
EVENT_DATE       19/05/31 17:53:49 EVENT_CD                        18 VH_ID                      7996025 ROUTE_ID                 405130001 RUN_DIST                      4400 STATION_ORD                      5 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1611129, dtype: object
(405130001, 19, 7996025, 5)
EVENT_DATE       19/05/31 08:04:43 EVENT_CD                        18 VH_ID                      7996026 ROUTE_ID                 405130002 RUN_DIST                      5173 STATION_ORD                      5 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    4 Name: 238752, dtype: object
(405130002, 4, 7996026, 2)
EVENT_DATE       19/05/31 09:24:51 EVENT_CD                        18 VH_ID                      7996027 ROUTE_ID                 405130002 RUN_DIST                     31113 STATION_ORD                     22 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    5 Name: 679717, dtype: object
(405130002, 5, 7996027, 2)
EVENT_DATE       19/05/31 11:23:22 EVENT_CD                        18 VH_ID                      7996007 ROUTE_ID                 405130002 RUN_DIST                     31113 STATION_ORD                     22 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    9 Name: 618081, dtype: object
(405130002, 9, 7996007, 3)
EVENT_DATE       19/05/31 14:13:33 EVENT_CD                        18 VH_ID                      7996026 ROUTE_ID                 405130002 RUN_DIST                     31113 STATION_ORD                     22 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   13 Name: 1152960, dtype: object
(405130002, 13, 7996026, 5)
EVENT_DATE       19/05/31 17:54:34 EVENT_CD                        18 VH_ID                      7996024 ROUTE_ID                 405130002 RUN_DIST                     20726 STATION_ORD                     15 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   18 Name: 1657363, dtype: object
(405130002, 18, 7996024, 4)
EVENT_DATE       19/05/31 17:55:02 EVENT_CD                        18 VH_ID                      7996023 ROUTE_ID                 405130002 RUN_DIST                      5173 STATION_ORD                      5 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1607735, dtype: object
(405130002, 19, 7996023, 5)
EVENT_DATE       19/05/31 19:25:42 EVENT_CD                        18 VH_ID                      7983651 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 2072695, dtype: object
(405131101, 2, 7983651, 1)
EVENT_DATE       19/05/31 06:33:34 EVENT_CD                        18 VH_ID                      7983674 ROUTE_ID                 405131101 RUN_DIST                      2009 STATION_ORD                      7 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 182748, dtype: object
(405131101, 3, 7983674, 1)
EVENT_DATE       19/05/31 20:49:54 EVENT_CD                        18 VH_ID                      7983686 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    9 Name: 1720283, dtype: object
(405131101, 9, 7983686, 10)
EVENT_DATE       19/05/31 22:16:15 EVENT_CD                        18 VH_ID                      7983682 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   10 Name: 1918897, dtype: object
(405131101, 10, 7983682, 9)
EVENT_DATE       19/05/31 09:49:51 EVENT_CD                        18 VH_ID                      7983683 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   10 Name: 548762, dtype: object
(405131101, 10, 7983683, 2)
EVENT_DATE       19/05/31 10:21:58 EVENT_CD                        18 VH_ID                      7983686 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   11 Name: 372929, dtype: object
(405131101, 11, 7983686, 3)
EVENT_DATE       19/05/31 11:22:29 EVENT_CD                        18 VH_ID                      7983681 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   13 Name: 433884, dtype: object
(405131101, 13, 7983681, 3)
EVENT_DATE       19/05/31 12:28:29 EVENT_CD                        18 VH_ID                      7983674 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   16 Name: 1221429, dtype: object
(405131101, 16, 7983674, 4)
EVENT_DATE       19/05/31 15:14:07 EVENT_CD                        18 VH_ID                      7983683 ROUTE_ID                 405131101 RUN_DIST                     25111 STATION_ORD                     60 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   22 Name: 1072437, dtype: object
(405131101, 22, 7983683, 4)
EVENT_DATE       19/05/31 17:56:00 EVENT_CD                        18 VH_ID                      7983674 ROUTE_ID                 405131101 RUN_DIST                     10701 STATION_ORD                     27 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   28 Name: 1636233, dtype: object
(405131101, 28, 7983674, 7)
EVENT_DATE       19/05/31 17:55:08 EVENT_CD                        18 VH_ID                      7983688 ROUTE_ID                 405131101 RUN_DIST                      6824 STATION_ORD                     19 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   30 Name: 1625471, dtype: object
(405131101, 30, 7983688, 6)
EVENT_DATE       19/05/31 19:43:05 EVENT_CD                        18 VH_ID                      7983682 ROUTE_ID                 405131102 RUN_DIST                     26034 STATION_ORD                     58 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 2078688, dtype: object
(405131102, 4, 7983682, 8)
EVENT_DATE       19/05/31 22:16:12 EVENT_CD                        18 VH_ID                      7983683 ROUTE_ID                 405131102 RUN_DIST                     26034 STATION_ORD                     58 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 1915809, dtype: object
(405131102, 8, 7983683, 7)
EVENT_DATE       19/05/31 13:25:21 EVENT_CD                        18 VH_ID                      7983682 ROUTE_ID                 405131102 RUN_DIST                      1016 STATION_ORD                      3 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   16 Name: 1030179, dtype: object
(405131102, 16, 7983682, 5)
EVENT_DATE       19/05/31 16:44:40 EVENT_CD                        18 VH_ID                      7983675 ROUTE_ID                 405131102 RUN_DIST                     16920 STATION_ORD                     38 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   21 Name: 1555459, dtype: object
(405131102, 21, 7983675, 6)
EVENT_DATE       19/05/31 17:56:22 EVENT_CD                        18 VH_ID                      7983686 ROUTE_ID                 405131102 RUN_DIST                     23489 STATION_ORD                     52 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   24 Name: 1629202, dtype: object
(405131102, 24, 7983686, 7)
EVENT_DATE       19/05/31 17:56:06 EVENT_CD                        18 VH_ID                      7983673 ROUTE_ID                 405131102 RUN_DIST                     15929 STATION_ORD                     36 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   25 Name: 1650453, dtype: object
(405131102, 25, 7983673, 7)
EVENT_DATE       19/05/31 22:46:16 EVENT_CD                        18 VH_ID                      7983679 ROUTE_ID                 405131103 RUN_DIST                     22528 STATION_ORD                     52 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1920704, dtype: object
(405131103, 0, 7983679, 7)
EVENT_DATE       19/05/31 22:28:00 EVENT_CD                        18 VH_ID                      7983686 ROUTE_ID                 405131104 RUN_DIST                     23154 STATION_ORD                     52 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1907443, dtype: object
(405131104, 1, 7983686, 11)
EVENT_DATE       19/05/31 13:33:13 EVENT_CD                        18 VH_ID                      7983679 ROUTE_ID                 405131201 RUN_DIST                     28261 STATION_ORD                     71 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    0 Name: 1031147, dtype: object
(405131201, 0, 7983679, 2)
EVENT_DATE       19/05/31 18:33:08 EVENT_CD                        18 VH_ID                      7983679 ROUTE_ID                 405131201 RUN_DIST                     27614 STATION_ORD                     68 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1495941, dtype: object
(405131201, 2, 7983679, 5)
EVENT_DATE       19/05/31 11:01:53 EVENT_CD                        18 VH_ID                      7983693 ROUTE_ID                 405131201 RUN_DIST                     28261 STATION_ORD                     71 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    8 Name: 420532, dtype: object
(405131201, 8, 7983693, 2)
EVENT_DATE       19/05/31 14:59:00 EVENT_CD                        18 VH_ID                      7983676 ROUTE_ID                 405131201 RUN_DIST                     28261 STATION_ORD                     71 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   14 Name: 889603, dtype: object
(405131201, 14, 7983676, 4)
EVENT_DATE       19/05/31 13:57:54 EVENT_CD                        18 VH_ID                      7983684 ROUTE_ID                 405131201 RUN_DIST                      4217 STATION_ORD                     14 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 850211, dtype: object
(405131201, 15, 7983684, 4)
EVENT_DATE       19/05/31 19:09:08 EVENT_CD                        18 VH_ID                      7983678 ROUTE_ID                 405131202 RUN_DIST                     29190 STATION_ORD                     71 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1419347, dtype: object
(405131202, 2, 7983678, 8)
EVENT_DATE       19/05/31 20:08:01 EVENT_CD                        18 VH_ID                      7983677 ROUTE_ID                 405131202 RUN_DIST                     28672 STATION_ORD                     70 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1947686, dtype: object
(405131202, 6, 7983677, 7)
EVENT_DATE       19/05/31 17:56:39 EVENT_CD                        18 VH_ID                      7983684 ROUTE_ID                 405131202 RUN_DIST                     29190 STATION_ORD                     71 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   18 Name: 1611489, dtype: object
(405131202, 18, 7983684, 6)
EVENT_DATE       19/05/31 17:56:32 EVENT_CD                        18 VH_ID                      7983685 ROUTE_ID                 405131202 RUN_DIST                     26310 STATION_ORD                     64 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1650542, dtype: object
(405131202, 19, 7983685, 5)
EVENT_DATE       19/05/31 17:56:26 EVENT_CD                        18 VH_ID                      7983678 ROUTE_ID                 405131202 RUN_DIST                     13475 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   21 Name: 1636341, dtype: object
(405131202, 21, 7983678, 7)
EVENT_DATE       19/05/31 20:53:55 EVENT_CD                        18 VH_ID                      7983174 ROUTE_ID                 405131501 RUN_DIST                     26810 STATION_ORD                     64 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    5 Name: 1752632, dtype: object
(405131501, 5, 7983174, 8)
EVENT_DATE       19/05/31 10:55:52 EVENT_CD                        18 VH_ID                      7983174 ROUTE_ID                 405131501 RUN_DIST                     27308 STATION_ORD                     65 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 713438, dtype: object
(405131501, 6, 7983174, 2)
EVENT_DATE       19/05/31 10:20:01 EVENT_CD                        18 VH_ID                      7983175 ROUTE_ID                 405131501 RUN_DIST                       940 STATION_ORD                      3 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    7 Name: 379759, dtype: object
(405131501, 7, 7983175, 3)
EVENT_DATE       19/05/31 22:08:26 EVENT_CD                        18 VH_ID                      7983176 ROUTE_ID                 405131501 RUN_DIST                     27308 STATION_ORD                     65 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    7 Name: 1788946, dtype: object
(405131501, 7, 7983176, 7)
EVENT_DATE       19/05/31 13:06:24 EVENT_CD                        18 VH_ID                      7983154 ROUTE_ID                 405131501 RUN_DIST                     25756 STATION_ORD                     61 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   11 Name: 1137623, dtype: object
(405131501, 11, 7983154, 3)
EVENT_DATE       19/05/31 17:56:01 EVENT_CD                        18 VH_ID                      7983155 ROUTE_ID                 405131501 RUN_DIST                     11014 STATION_ORD                     32 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1636288, dtype: object
(405131501, 20, 7983155, 7)

EVENT_DATE       19/05/31 17:56:27 EVENT_CD                        18 VH_ID                      7983174 ROUTE_ID                 405131502 RUN_DIST                      7741 STATION_ORD                     22 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   17 Name: 1639892, dtype: object
(405131502, 17, 7983174, 6)
EVENT_DATE       19/05/31 22:37:21 EVENT_CD                        18 VH_ID                      7983154 ROUTE_ID                 405131507 RUN_DIST                     24946 STATION_ORD                     59 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1898638, dtype: object
(405131507, 1, 7983154, 8)
EVENT_DATE       19/05/31 22:25:35 EVENT_CD                        18 VH_ID                      7983177 ROUTE_ID                 405131601 RUN_DIST                     28486 STATION_ORD                     70 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1910344, dtype: object
(405131601, 7, 7983177, 8)
EVENT_DATE       19/05/31 14:13:36 EVENT_CD                        18 VH_ID                      7983151 ROUTE_ID                 405131601 RUN_DIST                     28486 STATION_ORD                     70 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   11 Name: 1156543, dtype: object
(405131601, 11, 7983151, 4)
EVENT_DATE       19/05/31 17:56:07 EVENT_CD                        18 VH_ID                      7983151 ROUTE_ID                 405131601 RUN_DIST                      6285 STATION_ORD                     20 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   19 Name: 1650491, dtype: object
(405131601, 19, 7983151, 7)
EVENT_DATE       19/05/31 06:00:35 EVENT_CD                        18 VH_ID                      7983153 ROUTE_ID                 405131602 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 283735, dtype: object
(405131602, 0, 7983153, 0)
EVENT_DATE       19/05/31 05:58:49 EVENT_CD                        18 VH_ID                      7983153 ROUTE_ID                 405131602 RUN_DIST                      4953 STATION_ORD                      9 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 285622, dtype: object
(405131602, 2, 7983153, 1)
EVENT_DATE       19/05/31 21:57:59 EVENT_CD                        18 VH_ID                      7983156 ROUTE_ID                 405131602 RUN_DIST                       157 STATION_ORD                      2 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 1809117, dtype: object
(405131602, 8, 7983156, 8)
EVENT_DATE       19/05/31 14:42:01 EVENT_CD                        18 VH_ID                      7983177 ROUTE_ID                 405131602 RUN_DIST                      9480 STATION_ORD                     27 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   14 Name: 904958, dtype: object
(405131602, 14, 7983177, 4)
EVENT_DATE       19/05/31 17:54:41 EVENT_CD                        18 VH_ID                      7983156 ROUTE_ID                 405131602 RUN_DIST                     15474 STATION_ORD                     37 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1614799, dtype: object
(405131602, 19, 7983156, 5)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7983158 ROUTE_ID                 405131602 RUN_DIST                      6085 STATION_ORD                     18 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   20 Name: 1657634, dtype: object
(405131602, 20, 7983158, 5)
EVENT_DATE       19/05/31 07:41:09 EVENT_CD                        18 VH_ID                      7997094 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 85867, dtype: object
(405132001, 1, 7997094, 1)
EVENT_DATE       19/05/31 07:53:37 EVENT_CD                        18 VH_ID                      7997016 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 98353, dtype: object
(405132001, 2, 7997016, 1)
EVENT_DATE       19/05/31 08:17:27 EVENT_CD                        18 VH_ID                      7997053 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 261810, dtype: object
(405132001, 3, 7997053, 1)
EVENT_DATE       19/05/31 08:40:45 EVENT_CD                        18 VH_ID                      7997007 ROUTE_ID                 405132001 RUN_DIST                     25860 STATION_ORD                     58 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    5 Name: 133697, dtype: object
(405132001, 5, 7997007, 1)
EVENT_DATE       19/05/31 20:05:48 EVENT_CD                        18 VH_ID                      7997126 ROUTE_ID                 405132001 RUN_DIST                     27421 STATION_ORD                     62 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1979230, dtype: object
(405132001, 5, 7997126, 6)
EVENT_DATE       19/05/31 20:12:04 EVENT_CD                        18 VH_ID                      7997037 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1937640, dtype: object
(405132001, 6, 7997037, 4)
EVENT_DATE       19/05/31 20:27:37 EVENT_CD                        18 VH_ID                      7997017 ROUTE_ID                 405132001 RUN_DIST                     27421 STATION_ORD                     62 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 1854567, dtype: object
(405132001, 7, 7997017, 6)
EVENT_DATE       19/05/31 20:51:37 EVENT_CD                        18 VH_ID                      7997094 ROUTE_ID                 405132001 RUN_DIST                     28029 STATION_ORD                     64 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 1731121, dtype: object
(405132001, 8, 7997094, 7)
EVENT_DATE       19/05/31 09:51:13 EVENT_CD                        18 VH_ID                      7997126 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    8 Name: 573665, dtype: object
(405132001, 8, 7997126, 2)
EVENT_DATE       19/05/31 12:23:13 EVENT_CD                        18 VH_ID                      7997053 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   11 Name: 1206620, dtype: object
(405132001, 11, 7997053, 3)
EVENT_DATE       19/05/31 12:41:37 EVENT_CD                        18 VH_ID                      7997052 ROUTE_ID                 405132001 RUN_DIST                     27421 STATION_ORD                     62 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 1237286, dtype: object
(405132001, 12, 7997052, 3)
EVENT_DATE       19/05/31 13:07:20 EVENT_CD                        18 VH_ID                      7997007 ROUTE_ID                 405132001 RUN_DIST                     26258 STATION_ORD                     59 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   13 Name: 1144786, dtype: object
(405132001, 13, 7997007, 3)
EVENT_DATE       19/05/31 14:25:41 EVENT_CD                        18 VH_ID                      7997126 ROUTE_ID                 405132001 RUN_DIST                     27421 STATION_ORD                     62 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   17 Name: 1161557, dtype: object
(405132001, 17, 7997126, 4)
EVENT_DATE       19/05/31 16:01:40 EVENT_CD                        18 VH_ID                      7997094 ROUTE_ID                 405132001 RUN_DIST                     27421 STATION_ORD                     62 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   21 Name: 1666695, dtype: object
(405132001, 21, 7997094, 4)
EVENT_DATE       19/05/31 17:45:24 EVENT_CD                        18 VH_ID                      7997092 ROUTE_ID                 405132001 RUN_DIST                      1441 STATION_ORD                      4 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   27 Name: 1602842, dtype: object
(405132001, 27, 7997092, 7)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7997092 ROUTE_ID                 405132001 RUN_DIST                      4158 STATION_ORD                     13 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   28 Name: 1654085, dtype: object
(405132001, 28, 7997092, 8)
EVENT_DATE       19/05/31 08:25:18 EVENT_CD                        18 VH_ID                      7997053 ROUTE_ID                 405132002 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 255928, dtype: object
(405132002, 0, 7997053, 1)
EVENT_DATE       19/05/31 21:13:07 EVENT_CD                        18 VH_ID                      7997092 ROUTE_ID                 405132002 RUN_DIST                     27996 STATION_ORD                     64 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    8 Name: 1991758, dtype: object
(405132002, 8, 7997092, 10)
EVENT_DATE       19/05/31 20:35:56 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132002 RUN_DIST                      5624 STATION_ORD                     13 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    9 Name: 1876957, dtype: object
(405132002, 9, 7997096, 12)
EVENT_DATE       19/05/31 21:42:24 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132002 RUN_DIST                     26597 STATION_ORD                     61 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                   10 Name: 1818062, dtype: object
(405132002, 10, 7997096, 13)
EVENT_DATE       19/05/31 15:42:37 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132002 RUN_DIST                      6376 STATION_ORD                     14 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   20 Name: 931028, dtype: object
(405132002, 20, 7997096, 8)
EVENT_DATE       19/05/31 17:55:47 EVENT_CD                        18 VH_ID                      7997037 ROUTE_ID                 405132002 RUN_DIST                     22572 STATION_ORD                     49 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   24 Name: 1604287, dtype: object
(405132002, 24, 7997037, 2)
EVENT_DATE       19/05/31 17:54:51 EVENT_CD                        18 VH_ID                      7997094 ROUTE_ID                 405132002 RUN_DIST                     16023 STATION_ORD                     35 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   25 Name: 1639659, dtype: object
(405132002, 25, 7997094, 5)
EVENT_DATE       19/05/31 11:21:12 EVENT_CD                        18 VH_ID                      7997094 ROUTE_ID                 405132003 RUN_DIST                     24249 STATION_ORD                     53 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    0 Name: 426633, dtype: object
(405132003, 0, 7997094, 2)
EVENT_DATE       19/05/31 08:33:12 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132003 RUN_DIST                      8922 STATION_ORD                     22 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 132564, dtype: object
(405132003, 1, 7997096, 3)
EVENT_DATE       19/05/31 09:16:54 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132003 RUN_DIST                     23025 STATION_ORD                     50 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 667962, dtype: object
(405132003, 2, 7997096, 4)
EVENT_DATE       19/05/31 10:21:41 EVENT_CD                        18 VH_ID                      7997017 ROUTE_ID                 405132003 RUN_DIST                     25194 STATION_ORD                     56 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 387083, dtype: object
(405132003, 3, 7997017, 2)
EVENT_DATE       19/05/31 10:15:55 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132003 RUN_DIST                     24586 STATION_ORD                     54 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 365017, dtype: object
(405132003, 4, 7997096, 5)
EVENT_DATE       19/05/31 07:58:53 EVENT_CD                        18 VH_ID                      7997094 ROUTE_ID                 405132004 RUN_DIST                      4423 STATION_ORD                     11 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 74396, dtype: object
(405132004, 0, 7997094, 1)
EVENT_DATE       19/05/31 06:26:28 EVENT_CD                        18 VH_ID                      7997096 ROUTE_ID                 405132004 RUN_DIST                      1771 STATION_ORD                      6 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 221512, dtype: object
(405132004, 1, 7997096, 1)
EVENT_DATE       19/05/31 06:57:33 EVENT_CD                        18 VH_ID                      7997010 ROUTE_ID                 405132005 RUN_DIST                     15664 STATION_ORD                     33 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 37216, dtype: object
(405132005, 1, 7997010, 1)
EVENT_DATE       19/05/31 06:59:29 EVENT_CD                        18 VH_ID                      7983516 ROUTE_ID                 405132511 RUN_DIST                     21586 STATION_ORD                     51 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 33899, dtype: object
(405132511, 2, 7983516, 1)
EVENT_DATE       19/05/31 19:34:16 EVENT_CD                        18 VH_ID                      7983516 ROUTE_ID                 405132511 RUN_DIST                      3025 STATION_ORD                      9 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    5 Name: 2063283, dtype: object
(405132511, 5, 7983516, 7)
EVENT_DATE       19/05/31 10:36:33 EVENT_CD                        18 VH_ID                      7983536 ROUTE_ID                 405132511 RUN_DIST                     29350 STATION_ORD                     71 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 728511, dtype: object
(405132511, 6, 7983536, 2)
EVENT_DATE       19/05/31 21:14:59 EVENT_CD                        18 VH_ID                      7983525 ROUTE_ID                 405132511 RUN_DIST                     29350 STATION_ORD                     71 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    7 Name: 2002563, dtype: object
(405132511, 7, 7983525, 9)
EVENT_DATE       19/05/31 22:18:33 EVENT_CD                        18 VH_ID                      7983522 ROUTE_ID                 405132511 RUN_DIST                     29350 STATION_ORD                     71 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    9 Name: 1888043, dtype: object
(405132511, 9, 7983522, 7)
EVENT_DATE       19/05/31 22:53:22 EVENT_CD                        18 VH_ID                      7983510 ROUTE_ID                 405132511 RUN_DIST                     29350 STATION_ORD                     71 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   10 Name: 1908661, dtype: object
(405132511, 10, 7983510, 8)
EVENT_DATE       19/05/31 17:53:51 EVENT_CD                        18 VH_ID                      7983510 ROUTE_ID                 405132511 RUN_DIST                     29350 STATION_ORD                     71 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   20 Name: 1618202, dtype: object
(405132511, 20, 7983510, 5)
EVENT_DATE       19/05/31 17:56:26 EVENT_CD                        18 VH_ID                      7983562 ROUTE_ID                 405132511 RUN_DIST                     15327 STATION_ORD                     38 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   21 Name: 1636338, dtype: object
(405132511, 21, 7983562, 5)
EVENT_DATE       19/05/31 21:25:20 EVENT_CD                        18 VH_ID                      7983503 ROUTE_ID                 405132512 RUN_DIST                     30313 STATION_ORD                     72 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    6 Name: 2046091, dtype: object
(405132512, 6, 7983503, 9)
EVENT_DATE       19/05/31 11:54:20 EVENT_CD                        18 VH_ID                      7983525 ROUTE_ID                 405132512 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    9 Name: 508957, dtype: object
(405132512, 9, 7983525, 4)
EVENT_DATE       19/05/31 14:55:27 EVENT_CD                        18 VH_ID                      7983532 ROUTE_ID                 405132512 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   14 Name: 899740, dtype: object
(405132512, 14, 7983532, 5)
EVENT_DATE       19/05/31 15:36:03 EVENT_CD                        18 VH_ID                      7983536 ROUTE_ID                 405132512 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   16 Name: 969023, dtype: object
(405132512, 16, 7983536, 6)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7983536 ROUTE_ID                 405132512 RUN_DIST                     29795 STATION_ORD                     71 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   17 Name: 1657635, dtype: object
(405132512, 17, 7983536, 7)
EVENT_DATE       19/05/31 17:54:50 EVENT_CD                        18 VH_ID                      7983516 ROUTE_ID                 405132512 RUN_DIST                     22248 STATION_ORD                     50 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1636119, dtype: object
(405132512, 18, 7983516, 5)
EVENT_DATE       19/05/31 17:55:23 EVENT_CD                        18 VH_ID                      7983525 ROUTE_ID                 405132512 RUN_DIST                     15274 STATION_ORD                     37 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   19 Name: 1657494, dtype: object
(405132512, 19, 7983525, 7)

EVENT_DATE       19/05/31 17:52:46 EVENT_CD                        18 VH_ID                      7983503 ROUTE_ID                 405132601 RUN_DIST                      7484 STATION_ORD                     23 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    7 Name: 1632274, dtype: object
(405132601, 7, 7983503, 7)
EVENT_DATE       19/05/31 14:03:27 EVENT_CD                        18 VH_ID                      7983057 ROUTE_ID                 405133101 RUN_DIST                      1579 STATION_ORD                      5 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   11 Name: 815481, dtype: object
(405133101, 11, 7983057, 5)
EVENT_DATE       19/05/31 05:57:31 EVENT_CD                        18 VH_ID                      7983062 ROUTE_ID                 405133102 RUN_DIST                     10975 STATION_ORD                     29 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 292337, dtype: object
(405133102, 0, 7983062, 1)
EVENT_DATE       19/05/31 17:55:47 EVENT_CD                        18 VH_ID                      7983058 ROUTE_ID                 405133102 RUN_DIST                     17191 STATION_ORD                     39 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   15 Name: 1604285, dtype: object
(405133102, 15, 7983058, 6)
EVENT_DATE       19/05/31 17:56:02 EVENT_CD                        18 VH_ID                      7983062 ROUTE_ID                 405133102 RUN_DIST                      3159 STATION_ORD                      9 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   16 Name: 1639816, dtype: object
(405133102, 16, 7983062, 8)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983090 ROUTE_ID                 405133103 RUN_DIST                     21576 STATION_ORD                     48 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1618632, dtype: object
(405133103, 3, 7983090, 6)
EVENT_DATE       19/05/31 18:34:27 EVENT_CD                        18 VH_ID                      7983060 ROUTE_ID                 405133201 RUN_DIST                      3741 STATION_ORD                     11 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1499648, dtype: object
(405133201, 3, 7983060, 7)
EVENT_DATE       19/05/31 05:49:37 EVENT_CD                        18 VH_ID                      7983062 ROUTE_ID                 405133202 RUN_DIST                     11191 STATION_ORD                     32 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 286357, dtype: object
(405133202, 1, 7983062, 1)
EVENT_DATE       19/05/31 22:38:39 EVENT_CD                        18 VH_ID                      7983035 ROUTE_ID                 405133202 RUN_DIST                     18443 STATION_ORD                     46 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1911122, dtype: object
(405133202, 6, 7983035, 6)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983035 ROUTE_ID                 405133202 RUN_DIST                      7687 STATION_ORD                     21 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   16 Name: 1618621, dtype: object
(405133202, 16, 7983035, 3)
EVENT_DATE       19/05/31 17:55:39 EVENT_CD                        18 VH_ID                      7983011 ROUTE_ID                 405133204 RUN_DIST                     18863 STATION_ORD                     47 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1639775, dtype: object
(405133204, 6, 7983011, 7)
EVENT_DATE       19/05/31 17:18:13 EVENT_CD                        18 VH_ID                      7983061 ROUTE_ID                 405133204 RUN_DIST                     11611 STATION_ORD                     33 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 1270101, dtype: object
(405133204, 7, 7983061, 6)
EVENT_DATE       19/05/31 17:09:30 EVENT_CD                        18 VH_ID                      7997102 ROUTE_ID                 405133521 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1435021, dtype: object
(405133521, 0, 7997102, 5)
EVENT_DATE       19/05/31 09:14:38 EVENT_CD                        18 VH_ID                      7997047 ROUTE_ID                 405133521 RUN_DIST                     23376 STATION_ORD                     56 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 678240, dtype: object
(405133521, 2, 7997047, 2)
EVENT_DATE       19/05/31 08:02:00 EVENT_CD                        18 VH_ID                      7997068 ROUTE_ID                 405133521 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 273633, dtype: object
(405133521, 3, 7997068, 2)
EVENT_DATE       19/05/31 19:11:48 EVENT_CD                        18 VH_ID                      7997069 ROUTE_ID                 405133521 RUN_DIST                     23376 STATION_ORD                     56 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1402034, dtype: object
(405133521, 3, 7997069, 7)
EVENT_DATE       19/05/31 09:34:06 EVENT_CD                        18 VH_ID                      7997102 ROUTE_ID                 405133521 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 680971, dtype: object
(405133521, 6, 7997102, 2)
EVENT_DATE       19/05/31 11:34:09 EVENT_CD                        18 VH_ID                      7997038 ROUTE_ID                 405133521 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 608908, dtype: object
(405133521, 8, 7997038, 5)
EVENT_DATE       19/05/31 12:40:54 EVENT_CD                        18 VH_ID                      7997105 ROUTE_ID                 405133521 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   12 Name: 1205330, dtype: object
(405133521, 12, 7997105, 5)
EVENT_DATE       19/05/31 17:30:32 EVENT_CD                        18 VH_ID                      7997047 ROUTE_ID                 405133521 RUN_DIST                     23376 STATION_ORD                     56 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   17 Name: 1296548, dtype: object
(405133521, 17, 7997047, 6)
EVENT_DATE       19/05/31 17:56:22 EVENT_CD                        18 VH_ID                      7997068 ROUTE_ID                 405133521 RUN_DIST                     18912 STATION_ORD                     43 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   18 Name: 1629209, dtype: object
(405133521, 18, 7997068, 7)
EVENT_DATE       19/05/31 17:56:11 EVENT_CD                        18 VH_ID                      7997069 ROUTE_ID                 405133521 RUN_DIST                      4758 STATION_ORD                      8 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   19 Name: 1604342, dtype: object
(405133521, 19, 7997069, 6)
EVENT_DATE       19/05/31 17:55:57 EVENT_CD                        18 VH_ID                      7997047 ROUTE_ID                 405133522 RUN_DIST                      6123 STATION_ORD                     18 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1629136, dtype: object
(405133522, 0, 7997047, 6)
EVENT_DATE       19/05/31 18:28:01 EVENT_CD                        18 VH_ID                      7997125 ROUTE_ID                 405133522 RUN_DIST                     23218 STATION_ORD                     57 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1353547, dtype: object
(405133522, 3, 7997125, 6)
EVENT_DATE       19/05/31 20:07:34 EVENT_CD                        18 VH_ID                      7997042 ROUTE_ID                 405133522 RUN_DIST                     23218 STATION_ORD                     57 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    5 Name: 1944059, dtype: object
(405133522, 5, 7997042, 8)
EVENT_DATE       19/05/31 15:11:55 EVENT_CD                        18 VH_ID                      7997038 ROUTE_ID                 405133522 RUN_DIST                     23218 STATION_ORD                     57 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   11 Name: 1050860, dtype: object
(405133522, 11, 7997038, 7)
EVENT_DATE       19/05/31 17:56:12 EVENT_CD                        18 VH_ID                      7997125 ROUTE_ID                 405133522 RUN_DIST                     14153 STATION_ORD                     39 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1607865, dtype: object
(405133522, 18, 7997125, 5)
EVENT_DATE       19/05/31 07:40:41 EVENT_CD                        18 VH_ID                      7997108 ROUTE_ID                 405133524 RUN_DIST                     13236 STATION_ORD                     35 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 68125, dtype: object
(405133524, 1, 7997108, 1)
EVENT_DATE       19/05/31 11:13:40 EVENT_CD                        18 VH_ID                      7997069 ROUTE_ID                 405133524 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 418549, dtype: object
(405133524, 5, 7997069, 3)
EVENT_DATE       19/05/31 10:35:34 EVENT_CD                        18 VH_ID                      7997026 ROUTE_ID                 405133601 RUN_DIST                      8955 STATION_ORD                     18 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    0 Name: 703574, dtype: object
(405133601, 0, 7997026, 2)
EVENT_DATE       19/05/31 15:13:47 EVENT_CD                        18 VH_ID                      7997038 ROUTE_ID                 405133601 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1086530, dtype: object
(405133601, 0, 7997038, 7)
EVENT_DATE       19/05/31 17:55:14 EVENT_CD                        18 VH_ID                      7997105 ROUTE_ID                 405133601 RUN_DIST                      7602 STATION_ORD                     14 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1639688, dtype: object
(405133601, 0, 7997105, 7)
EVENT_DATE       19/05/31 18:12:12 EVENT_CD                        18 VH_ID                      7997105 ROUTE_ID                 405133601 RUN_DIST                     10691 STATION_ORD                     21 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1369145, dtype: object
(405133601, 1, 7997105, 8)
EVENT_DATE       19/05/31 21:01:51 EVENT_CD                        18 VH_ID                      7997047 ROUTE_ID                 405133601 RUN_DIST                     22934 STATION_ORD                     54 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    6 Name: 1718319, dtype: object
(405133601, 6, 7997047, 8)
EVENT_DATE       19/05/31 21:09:20 EVENT_CD                        18 VH_ID                      7997026 ROUTE_ID                 405133601 RUN_DIST                      4758 STATION_ORD                      8 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    8 Name: 2019494, dtype: object
(405133601, 8, 7997026, 9)
EVENT_DATE       19/05/31 13:19:58 EVENT_CD                        18 VH_ID                      7997047 ROUTE_ID                 405133601 RUN_DIST                     22934 STATION_ORD                     54 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    8 Name: 1029530, dtype: object
(405133601, 8, 7997047, 4)
EVENT_DATE       19/05/31 22:05:20 EVENT_CD                        18 VH_ID                      7997026 ROUTE_ID                 405133601 RUN_DIST                     22934 STATION_ORD                     54 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    9 Name: 1781669, dtype: object
(405133601, 9, 7997026, 10)
EVENT_DATE       19/05/31 15:06:14 EVENT_CD                        18 VH_ID                      7997069 ROUTE_ID                 405133601 RUN_DIST                     22934 STATION_ORD                     54 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   10 Name: 1050054, dtype: object
(405133601, 10, 7997069, 5)
EVENT_DATE       19/05/31 10:08:02 EVENT_CD                        18 VH_ID                      7997061 ROUTE_ID                 405133602 RUN_DIST                     22781 STATION_ORD                     58 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 381651, dtype: object
(405133602, 6, 7997061, 2)

EVENT_DATE       19/05/31 13:22:54 EVENT_CD                        18 VH_ID                      7997003 ROUTE_ID                 405133602 RUN_DIST                     22781 STATION_ORD                     58 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   12 Name: 1008637, dtype: object
(405133602, 12, 7997003, 2)
EVENT_DATE       19/05/31 16:02:05 EVENT_CD                        18 VH_ID                      7997042 ROUTE_ID                 405133602 RUN_DIST                     22781 STATION_ORD                     58 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   15 Name: 1666763, dtype: object
(405133602, 15, 7997042, 6)
EVENT_DATE       19/05/31 17:56:42 EVENT_CD                        18 VH_ID                      7997108 ROUTE_ID                 405133603 RUN_DIST                     16147 STATION_ORD                     35 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 1618594, dtype: object
(405133603, 7, 7997108, 6)
EVENT_DATE       19/05/31 19:53:33 EVENT_CD                        18 VH_ID                      7997108 ROUTE_ID                 405133604 RUN_DIST                     25218 STATION_ORD                     62 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1977559, dtype: object
(405133604, 2, 7997108, 8)
EVENT_DATE       19/05/31 15:26:43 EVENT_CD                        18 VH_ID                      7997068 ROUTE_ID                 405133604 RUN_DIST                     25218 STATION_ORD                     62 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1063496, dtype: object
(405133604, 3, 7997068, 6)
EVENT_DATE       19/05/31 17:08:17 EVENT_CD                        18 VH_ID                      7997102 ROUTE_ID                 405133604 RUN_DIST                     25218 STATION_ORD                     62 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1438401, dtype: object
(405133604, 4, 7997102, 5)
EVENT_DATE       19/05/31 17:55:43 EVENT_CD                        18 VH_ID                      7997072 ROUTE_ID                 405133604 RUN_DIST                     18778 STATION_ORD                     51 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1650420, dtype: object
(405133604, 5, 7997072, 6)
EVENT_DATE       19/05/31 21:56:06 EVENT_CD                        18 VH_ID                      7997049 ROUTE_ID                 405133606 RUN_DIST                     17052 STATION_ORD                     50 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    2 Name: 1787837, dtype: object
(405133606, 2, 7997049, 10)
EVENT_DATE       19/05/31 06:03:28 EVENT_CD                        18 VH_ID                      7997093 ROUTE_ID                 405134101 RUN_DIST                      2648 STATION_ORD                      7 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 296420, dtype: object
(405134101, 1, 7997093, 1)
EVENT_DATE       19/05/31 20:27:16 EVENT_CD                        18 VH_ID                      7997093 ROUTE_ID                 405134101 RUN_DIST                     22597 STATION_ORD                     53 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    5 Name: 1861627, dtype: object
(405134101, 5, 7997093, 12)
EVENT_DATE       19/05/31 17:56:04 EVENT_CD                        18 VH_ID                      7997054 ROUTE_ID                 405134101 RUN_DIST                     11346 STATION_ORD                     27 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   21 Name: 1646899, dtype: object
(405134101, 21, 7997054, 7)
EVENT_DATE       19/05/31 17:55:12 EVENT_CD                        18 VH_ID                      7997060 ROUTE_ID                 405134101 RUN_DIST                      3502 STATION_ORD                     10 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   22 Name: 1632623, dtype: object
(405134101, 22, 7997060, 8)
EVENT_DATE       19/05/31 10:46:09 EVENT_CD                        18 VH_ID                      7997093 ROUTE_ID                 405134102 RUN_DIST                      4831 STATION_ORD                     14 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 712132, dtype: object
(405134102, 8, 7997093, 5)
EVENT_DATE       19/05/31 10:48:22 EVENT_CD                        18 VH_ID                      7997093 ROUTE_ID                 405134102 RUN_DIST                      5839 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    9 Name: 740762, dtype: object
(405134102, 9, 7997093, 6)
EVENT_DATE       19/05/31 17:56:04 EVENT_CD                        18 VH_ID                      7997029 ROUTE_ID                 405134102 RUN_DIST                     17374 STATION_ORD                     40 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   23 Name: 1643390, dtype: object
(405134102, 23, 7997029, 7)
EVENT_DATE       19/05/31 18:05:27 EVENT_CD                        18 VH_ID                      7997048 ROUTE_ID                 405134201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    3 Name: 1641127, dtype: object
(405134201, 3, 7997048, 9)
EVENT_DATE       19/05/31 09:01:33 EVENT_CD                        18 VH_ID                      7997116 ROUTE_ID                 405134201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 757861, dtype: object
(405134201, 8, 7997116, 3)
EVENT_DATE       19/05/31 17:56:38 EVENT_CD                        18 VH_ID                      7997114 ROUTE_ID                 405134202 RUN_DIST                     14963 STATION_ORD                     38 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   22 Name: 1607960, dtype: object
(405134202, 22, 7997114, 8)
EVENT_DATE       19/05/31 17:56:08 EVENT_CD                        18 VH_ID                      7997117 ROUTE_ID                 405134202 RUN_DIST                      3614 STATION_ORD                     11 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   23 Name: 1654041, dtype: object
(405134202, 23, 7997117, 8)
EVENT_DATE       19/05/31 09:48:09 EVENT_CD                        18 VH_ID                      7983533 ROUTE_ID                 405134309 RUN_DIST                     23442 STATION_ORD                     44 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 541471, dtype: object
(405134309, 1, 7983533, 3)
EVENT_DATE       19/05/31 13:18:49 EVENT_CD                        18 VH_ID                      7983570 ROUTE_ID                 405134309 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 990447, dtype: object
(405134309, 6, 7983570, 5)
EVENT_DATE       19/05/31 14:38:19 EVENT_CD                        18 VH_ID                      7983570 ROUTE_ID                 405134309 RUN_DIST                     23442 STATION_ORD                     44 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 872611, dtype: object
(405134309, 7, 7983570, 6)
EVENT_DATE       19/05/31 17:04:36 EVENT_CD                        18 VH_ID                      7983533 ROUTE_ID                 405134309 RUN_DIST                     23442 STATION_ORD                     44 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   12 Name: 1487391, dtype: object
(405134309, 12, 7983533, 8)
EVENT_DATE       19/05/31 16:44:43 EVENT_CD                        18 VH_ID                      7983570 ROUTE_ID                 405134309 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   13 Name: 1562572, dtype: object
(405134309, 13, 7983570, 9)
EVENT_DATE       19/05/31 17:56:17 EVENT_CD                        18 VH_ID                      7983538 ROUTE_ID                 405134310 RUN_DIST                     17562 STATION_ORD                     33 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 1618549, dtype: object
(405134310, 8, 7983538, 8)
EVENT_DATE       19/05/31 22:05:38 EVENT_CD                        18 VH_ID                      7983538 ROUTE_ID                 405134311 RUN_DIST                     20530 STATION_ORD                     41 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    1 Name: 1809855, dtype: object
(405134311, 1, 7983538, 12)
EVENT_DATE       19/05/31 07:34:41 EVENT_CD                        18 VH_ID                      7983570 ROUTE_ID                 405134311 RUN_DIST                     20530 STATION_ORD                     41 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 331038, dtype: object
(405134311, 1, 7983570, 2)
EVENT_DATE       19/05/31 22:37:45 EVENT_CD                        18 VH_ID                      7983546 ROUTE_ID                 405134401 RUN_DIST                     19319 STATION_ORD                     41 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    5 Name: 1920295, dtype: object
(405134401, 5, 7983546, 11)
EVENT_DATE       19/05/31 07:48:23 EVENT_CD                        18 VH_ID                      7983548 ROUTE_ID                 405134402 RUN_DIST                      2793 STATION_ORD                      5 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 72823, dtype: object
(405134402, 2, 7983548, 1)
EVENT_DATE       19/05/31 11:41:42 EVENT_CD                        18 VH_ID                      7983547 ROUTE_ID                 405134402 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 609897, dtype: object
(405134402, 5, 7983547, 6)
EVENT_DATE       19/05/31 17:56:10 EVENT_CD                        18 VH_ID                      7983546 ROUTE_ID                 405134402 RUN_DIST                      6488 STATION_ORD                     13 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   11 Name: 1657595, dtype: object
(405134402, 11, 7983546, 7)
EVENT_DATE       19/05/31 07:49:54 EVENT_CD                        18 VH_ID                      7983547 ROUTE_ID                 405134403 RUN_DIST                     20695 STATION_ORD                     43 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 83637, dtype: object
(405134403, 1, 7983547, 3)
EVENT_DATE       19/05/31 20:46:07 EVENT_CD                        18 VH_ID                      7983547 ROUTE_ID                 405134404 RUN_DIST                     24314 STATION_ORD                     48 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    1 Name: 1716275, dtype: object
(405134404, 1, 7983547, 13)
EVENT_DATE       19/05/31 11:35:38 EVENT_CD                        18 VH_ID                      7983548 ROUTE_ID                 405134404 RUN_DIST                      4883 STATION_ORD                      7 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 587943, dtype: object
(405134404, 1, 7983548, 3)
EVENT_DATE       19/05/31 06:01:32 EVENT_CD                        18 VH_ID                      7983547 ROUTE_ID                 405134407 RUN_DIST                      1661 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 292412, dtype: object
(405134407, 1, 7983547, 1)

EVENT_DATE       19/05/31 14:14:46 EVENT_CD                        18 VH_ID                      7983469 ROUTE_ID                 405134522 RUN_DIST                     17554 STATION_ORD                     38 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1188574, dtype: object
(405134522, 15, 7983469, 4)
EVENT_DATE       19/05/31 17:56:49 EVENT_CD                        18 VH_ID                      7983468 ROUTE_ID                 405134522 RUN_DIST                     23180 STATION_ORD                     51 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   21 Name: 1632830, dtype: object
(405134522, 21, 7983468, 5)
EVENT_DATE       19/05/31 17:56:30 EVENT_CD                        18 VH_ID                      7983470 ROUTE_ID                 405134522 RUN_DIST                     11215 STATION_ORD                     24 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   22 Name: 1646994, dtype: object
(405134522, 22, 7983470, 6)
EVENT_DATE       19/05/31 17:56:38 EVENT_CD                        18 VH_ID                      7983471 ROUTE_ID                 405134522 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   23 Name: 1607947, dtype: object
(405134522, 23, 7983471, 5)
EVENT_DATE       19/05/31 22:38:07 EVENT_CD                        18 VH_ID                      7983474 ROUTE_ID                 405134601 RUN_DIST                     15859 STATION_ORD                     37 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1886162, dtype: object
(405134601, 1, 7983474, 8)
EVENT_DATE       19/05/31 10:50:23 EVENT_CD                        18 VH_ID                      7983473 ROUTE_ID                 405134603 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 737484, dtype: object
(405134603, 2, 7983473, 3)
EVENT_DATE       19/05/31 17:46:22 EVENT_CD                        18 VH_ID                      7983474 ROUTE_ID                 405134603 RUN_DIST                     31323 STATION_ORD                     76 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1627811, dtype: object
(405134603, 5, 7983474, 6)
EVENT_DATE       19/05/31 08:54:27 EVENT_CD                        18 VH_ID                      7983474 ROUTE_ID                 405134604 RUN_DIST                     31208 STATION_ORD                     75 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 763913, dtype: object
(405134604, 1, 7983474, 2)
EVENT_DATE       19/05/31 17:55:56 EVENT_CD                        18 VH_ID                      7983472 ROUTE_ID                 405134606 RUN_DIST                      6584 STATION_ORD                     13 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1625624, dtype: object
(405134606, 4, 7983472, 5)
EVENT_DATE       19/05/31 07:01:32 EVENT_CD                        18 VH_ID                      7983475 ROUTE_ID                 405134608 RUN_DIST                     29177 STATION_ORD                     74 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 44857, dtype: object
(405134608, 0, 7983475, 1)
EVENT_DATE       19/05/31 06:36:09 EVENT_CD                        18 VH_ID                      7983475 ROUTE_ID                 405134611 RUN_DIST                      4097 STATION_ORD                      7 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 215242, dtype: object
(405134611, 1, 7983475, 1)
EVENT_DATE       19/05/31 19:51:59 EVENT_CD                        18 VH_ID                      7983479 ROUTE_ID                 405134701 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 1980861, dtype: object
(405134701, 0, 7983479, 0)
EVENT_DATE       19/05/31 19:47:47 EVENT_CD                        18 VH_ID                      7983479 ROUTE_ID                 405134701 RUN_DIST                      5616 STATION_ORD                     14 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    5 Name: 2061643, dtype: object
(405134701, 5, 7983479, 8)
EVENT_DATE       19/05/31 17:56:36 EVENT_CD                        18 VH_ID                      7983479 ROUTE_ID                 405134701 RUN_DIST                      3789 STATION_ORD                     10 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   20 Name: 1604380, dtype: object
(405134701, 20, 7983479, 6)
EVENT_DATE       19/05/31 21:53:13 EVENT_CD                        18 VH_ID                      7997054 ROUTE_ID                 405134801 RUN_DIST                     22730 STATION_ORD                     53 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    3 Name: 1776948, dtype: object
(405134801, 3, 7997054, 10)
EVENT_DATE       19/05/31 14:17:47 EVENT_CD                        18 VH_ID                      7997076 ROUTE_ID                 405134801 RUN_DIST                     17718 STATION_ORD                     38 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    6 Name: 1171224, dtype: object
(405134801, 6, 7997076, 9)
EVENT_DATE       19/05/31 11:30:36 EVENT_CD                        18 VH_ID                      7997076 ROUTE_ID                 405134802 RUN_DIST                      1016 STATION_ORD                      3 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 626106, dtype: object
(405134802, 6, 7997076, 5)
EVENT_DATE       19/05/31 12:43:19 EVENT_CD                        18 VH_ID                      7997114 ROUTE_ID                 405134901 RUN_DIST                      5892 STATION_ORD                     14 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1233936, dtype: object
(405134901, 2, 7997114, 4)
EVENT_DATE       19/05/31 17:55:57 EVENT_CD                        18 VH_ID                      7997065 ROUTE_ID                 405134901 RUN_DIST                     18012 STATION_ORD                     41 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1629148, dtype: object
(405134901, 6, 7997065, 7)
EVENT_DATE       19/05/31 22:12:37 EVENT_CD                        18 VH_ID                      7997097 ROUTE_ID                 405135101 RUN_DIST                     18584 STATION_ORD                     47 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    6 Name: 1778763, dtype: object
(405135101, 6, 7997097, 11)
EVENT_DATE       19/05/31 17:55:48 EVENT_CD                        18 VH_ID                      7997106 ROUTE_ID                 405135104 RUN_DIST                      9760 STATION_ORD                     26 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    5 Name: 1607821, dtype: object
(405135104, 5, 7997106, 8)
EVENT_DATE       19/05/31 13:47:13 EVENT_CD                        18 VH_ID                      7997083 ROUTE_ID                 405135201 RUN_DIST                       435 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    8 Name: 834742, dtype: object
(405135201, 8, 7997083, 4)
EVENT_DATE       19/05/31 17:56:26 EVENT_CD                        18 VH_ID                      7997084 ROUTE_ID                 405135201 RUN_DIST                      3174 STATION_ORD                      9 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   14 Name: 1639847, dtype: object
(405135201, 14, 7997084, 8)
EVENT_DATE       19/05/31 07:01:20 EVENT_CD                        18 VH_ID                      7997104 ROUTE_ID                 405135521 RUN_DIST                     15991 STATION_ORD                     43 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 16350, dtype: object
(405135521, 2, 7997104, 1)

EVENT_DATE       19/05/31 16:07:33 EVENT_CD                        18 VH_ID                      7997088 ROUTE_ID                 405135521 RUN_DIST                     12662 STATION_ORD                     35 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   18 Name: 1692264, dtype: object
(405135521, 18, 7997088, 6)
EVENT_DATE       19/05/31 17:55:00 EVENT_CD                        18 VH_ID                      7997104 ROUTE_ID                 405135521 RUN_DIST                     20812 STATION_ORD                     55 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   20 Name: 1604146, dtype: object
(405135521, 20, 7997104, 6)
EVENT_DATE       19/05/31 17:56:32 EVENT_CD                        18 VH_ID                      7997046 ROUTE_ID                 405135521 RUN_DIST                      5768 STATION_ORD                     17 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   21 Name: 1650553, dtype: object
(405135521, 21, 7997046, 7)
EVENT_DATE       19/05/31 13:21:56 EVENT_CD                        18 VH_ID                      7997073 ROUTE_ID                 405135522 RUN_DIST                      8054 STATION_ORD                     22 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   13 Name: 994382, dtype: object
(405135522, 13, 7997073, 3)
EVENT_DATE       19/05/31 17:56:06 EVENT_CD                        18 VH_ID                      7997073 ROUTE_ID                 405135524 RUN_DIST                     23861 STATION_ORD                     58 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1650455, dtype: object
(405135524, 1, 7997073, 6)
EVENT_DATE       19/05/31 20:28:54 EVENT_CD                        18 VH_ID                      7997071 ROUTE_ID                 405135601 RUN_DIST                     23571 STATION_ORD                     59 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    0 Name: 1854768, dtype: object
(405135601, 0, 7997071, 9)
EVENT_DATE       19/05/31 17:55:48 EVENT_CD                        18 VH_ID                      7997113 ROUTE_ID                 405135601 RUN_DIST                      9425 STATION_ORD                     28 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   19 Name: 1607822, dtype: object
(405135601, 19, 7997113, 6)
EVENT_DATE       19/05/31 17:55:47 EVENT_CD                        18 VH_ID                      7997100 ROUTE_ID                 405135601 RUN_DIST                       247 STATION_ORD                      2 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1604286, dtype: object
(405135601, 20, 7997100, 7)
EVENT_DATE       19/05/31 13:00:33 EVENT_CD                        18 VH_ID                      7997088 ROUTE_ID                 405135602 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   13 Name: 1101505, dtype: object
(405135602, 13, 7997088, 4)
EVENT_DATE       19/05/31 17:56:14 EVENT_CD                        18 VH_ID                      7997006 ROUTE_ID                 405135602 RUN_DIST                     10533 STATION_ORD                     26 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   21 Name: 1611457, dtype: object
(405135602, 21, 7997006, 7)
EVENT_DATE       19/05/31 17:56:07 EVENT_CD                        18 VH_ID                      7997088 ROUTE_ID                 405135602 RUN_DIST                      4559 STATION_ORD                     12 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   22 Name: 1650493, dtype: object
(405135602, 22, 7997088, 8)
EVENT_DATE       19/05/31 16:08:06 EVENT_CD                        18 VH_ID                      7997121 ROUTE_ID                 405135701 RUN_DIST                     23163 STATION_ORD                     57 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1710070, dtype: object
(405135701, 4, 7997121, 6)
EVENT_DATE       19/05/31 08:43:28 EVENT_CD                        18 VH_ID                      7997075 ROUTE_ID                 405135801 RUN_DIST                      2835 STATION_ORD                      9 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 141151, dtype: object
(405135801, 2, 7997075, 2)
EVENT_DATE       19/05/31 08:44:36 EVENT_CD                        18 VH_ID                      7997075 ROUTE_ID                 405135801 RUN_DIST                      3266 STATION_ORD                     10 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 137752, dtype: object
(405135801, 3, 7997075, 3)
EVENT_DATE       19/05/31 21:22:36 EVENT_CD                        18 VH_ID                      7997075 ROUTE_ID                 405135801 RUN_DIST                     24372 STATION_ORD                     63 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    4 Name: 1992866, dtype: object
(405135801, 4, 7997075, 10)
EVENT_DATE       19/05/31 17:55:54 EVENT_CD                        18 VH_ID                      7997012 ROUTE_ID                 405135801 RUN_DIST                     13431 STATION_ORD                     37 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 1622054, dtype: object
(405135801, 8, 7997012, 7)
EVENT_DATE       19/05/31 12:40:13 EVENT_CD                        18 VH_ID                      7997071 ROUTE_ID                 405135802 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1229986, dtype: object
(405135802, 6, 7997071, 5)
EVENT_DATE       19/05/31 17:54:22 EVENT_CD                        18 VH_ID                      7997121 ROUTE_ID                 405135802 RUN_DIST                     12627 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    9 Name: 1628937, dtype: object
(405135802, 9, 7997121, 7)
EVENT_DATE       19/05/31 17:55:04 EVENT_CD                        18 VH_ID                      7997035 ROUTE_ID                 405136001 RUN_DIST                      9451 STATION_ORD                     28 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1614836, dtype: object
(405136001, 0, 7997035, 6)
EVENT_DATE       19/05/31 21:02:21 EVENT_CD                        18 VH_ID                      7997041 ROUTE_ID                 405136001 RUN_DIST                     14972 STATION_ORD                     40 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    0 Name: 1732529, dtype: object
(405136001, 0, 7997041, 10)
EVENT_DATE       19/05/31 11:15:46 EVENT_CD                        18 VH_ID                      7997066 ROUTE_ID                 405136001 RUN_DIST                      7618 STATION_ORD                     22 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 429445, dtype: object
(405136001, 0, 7997066, 0)
EVENT_DATE       19/05/31 17:56:47 EVENT_CD                        18 VH_ID                      7997082 ROUTE_ID                 405136001 RUN_DIST                      1928 STATION_ORD                      6 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1629258, dtype: object
(405136001, 0, 7997082, 5)
EVENT_DATE       19/05/31 10:48:56 EVENT_CD                        18 VH_ID                      7997067 ROUTE_ID                 405136001 RUN_DIST                     13343 STATION_ORD                     37 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 705428, dtype: object
(405136001, 12, 7997067, 3)
EVENT_DATE       19/05/31 20:44:47 EVENT_CD                        18 VH_ID                      7997058 ROUTE_ID                 405136001 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   17 Name: 1754942, dtype: object
(405136001, 17, 7997058, 10)
EVENT_DATE       19/05/31 21:23:19 EVENT_CD                        18 VH_ID                      7997058 ROUTE_ID                 405136001 RUN_DIST                       244 STATION_ORD                      2 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   20 Name: 2024690, dtype: object
(405136001, 20, 7997058, 11)
EVENT_DATE       19/05/31 14:03:20 EVENT_CD                        18 VH_ID                      7997064 ROUTE_ID                 405136001 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   32 Name: 854467, dtype: object
(405136001, 32, 7997064, 6)
EVENT_DATE       19/05/31 17:54:17 EVENT_CD                        18 VH_ID                      7997041 ROUTE_ID                 405136001 RUN_DIST                     13343 STATION_ORD                     37 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   42 Name: 1618296, dtype: object
(405136001, 42, 7997041, 8)
EVENT_DATE       19/05/31 17:55:53 EVENT_CD                        18 VH_ID                      7997066 ROUTE_ID                 405136001 RUN_DIST                      7972 STATION_ORD                     23 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   43 Name: 1618505, dtype: object
(405136001, 43, 7997066, 5)
EVENT_DATE       19/05/31 17:55:59 EVENT_CD                        18 VH_ID                      7997064 ROUTE_ID                 405136001 RUN_DIST                      4164 STATION_ORD                     14 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   44 Name: 1632695, dtype: object
(405136001, 44, 7997064, 8)
EVENT_DATE       19/05/31 06:50:50 EVENT_CD                        18 VH_ID                      7997033 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 50504, dtype: object
(405136002, 1, 7997033, 1)
EVENT_DATE       19/05/31 07:03:45 EVENT_CD                        18 VH_ID                      7997034 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 34519, dtype: object
(405136002, 3, 7997034, 1)
EVENT_DATE       19/05/31 18:14:24 EVENT_CD                        18 VH_ID                      7997118 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1326963, dtype: object
(405136002, 3, 7997118, 7)

EVENT_DATE       19/05/31 19:07:53 EVENT_CD                        18 VH_ID                      7997123 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1415649, dtype: object
(405136002, 6, 7997123, 6)
EVENT_DATE       19/05/31 19:18:16 EVENT_CD                        18 VH_ID                      7997033 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    7 Name: 1420647, dtype: object
(405136002, 7, 7997033, 9)
EVENT_DATE       19/05/31 08:14:22 EVENT_CD                        18 VH_ID                      7997124 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    9 Name: 247236, dtype: object
(405136002, 9, 7997124, 1)
EVENT_DATE       19/05/31 19:50:42 EVENT_CD                        18 VH_ID                      7997041 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   10 Name: 1966531, dtype: object
(405136002, 10, 7997041, 10)
EVENT_DATE       19/05/31 09:02:22 EVENT_CD                        18 VH_ID                      7997028 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   12 Name: 761507, dtype: object
(405136002, 12, 7997028, 2)
EVENT_DATE       19/05/31 20:01:17 EVENT_CD                        18 VH_ID                      7997066 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   12 Name: 1982136, dtype: object
(405136002, 12, 7997066, 7)
EVENT_DATE       19/05/31 19:06:07 EVENT_CD                        18 VH_ID                      7997058 ROUTE_ID                 405136002 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   13 Name: 1387090, dtype: object
(405136002, 13, 7997058, 8)
EVENT_DATE       19/05/31 20:16:38 EVENT_CD                        18 VH_ID                      7997064 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   14 Name: 1831913, dtype: object
(405136002, 14, 7997064, 10)
EVENT_DATE       19/05/31 20:25:07 EVENT_CD                        18 VH_ID                      7997082 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   15 Name: 1847175, dtype: object
(405136002, 15, 7997082, 7)
EVENT_DATE       19/05/31 09:43:55 EVENT_CD                        18 VH_ID                      7997123 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   16 Name: 569155, dtype: object
(405136002, 16, 7997123, 2)
EVENT_DATE       19/05/31 20:20:32 EVENT_CD                        18 VH_ID                      7997124 ROUTE_ID                 405136002 RUN_DIST                      5759 STATION_ORD                     14 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   17 Name: 1839508, dtype: object
(405136002, 17, 7997124, 9)
EVENT_DATE       19/05/31 21:10:51 EVENT_CD                        18 VH_ID                      7997025 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   18 Name: 2044360, dtype: object
(405136002, 18, 7997025, 10)
EVENT_DATE       19/05/31 20:55:42 EVENT_CD                        18 VH_ID                      7997124 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   19 Name: 1759925, dtype: object
(405136002, 19, 7997124, 10)
EVENT_DATE       19/05/31 10:35:31 EVENT_CD                        18 VH_ID                      7997080 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   20 Name: 696502, dtype: object
(405136002, 20, 7997080, 3)
EVENT_DATE       19/05/31 21:26:18 EVENT_CD                        18 VH_ID                      7997118 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   20 Name: 1993356, dtype: object
(405136002, 20, 7997118, 8)
EVENT_DATE       19/05/31 21:38:42 EVENT_CD                        18 VH_ID                      7997112 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   21 Name: 1785945, dtype: object
(405136002, 21, 7997112, 10)
EVENT_DATE       19/05/31 22:12:37 EVENT_CD                        18 VH_ID                      7997067 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   24 Name: 1778765, dtype: object
(405136002, 24, 7997067, 11)
EVENT_DATE       19/05/31 12:08:32 EVENT_CD                        18 VH_ID                      7997028 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   28 Name: 478956, dtype: object
(405136002, 28, 7997028, 3)
EVENT_DATE       19/05/31 12:26:41 EVENT_CD                        18 VH_ID                      7997058 ROUTE_ID                 405136002 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   35 Name: 1210605, dtype: object
(405136002, 35, 7997058, 4)
EVENT_DATE       19/05/31 13:41:03 EVENT_CD                        18 VH_ID                      7997124 ROUTE_ID                 405136002 RUN_DIST                      2072 STATION_ORD                      6 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   42 Name: 816274, dtype: object
(405136002, 42, 7997124, 4)
EVENT_DATE       19/05/31 14:56:23 EVENT_CD                        18 VH_ID                      7997118 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   45 Name: 917548, dtype: object
(405136002, 45, 7997118, 5)
EVENT_DATE       19/05/31 16:04:01 EVENT_CD                        18 VH_ID                      7997123 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   48 Name: 1713051, dtype: object
(405136002, 48, 7997123, 5)
EVENT_DATE       19/05/31 17:00:06 EVENT_CD                        18 VH_ID                      7997035 ROUTE_ID                 405136002 RUN_DIST                     14624 STATION_ORD                     38 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   54 Name: 1462032, dtype: object
(405136002, 54, 7997035, 6)
EVENT_DATE       19/05/31 17:56:13 EVENT_CD                        18 VH_ID                      7997118 ROUTE_ID                 405136002 RUN_DIST                     11430 STATION_ORD                     30 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   58 Name: 1607907, dtype: object
(405136002, 58, 7997118, 6)
EVENT_DATE       19/05/31 17:55:03 EVENT_CD                        18 VH_ID                      7997112 ROUTE_ID                 405136002 RUN_DIST                      9146 STATION_ORD                     25 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   59 Name: 1611289, dtype: object
(405136002, 59, 7997112, 7)
EVENT_DATE       19/05/31 17:55:38 EVENT_CD                        18 VH_ID                      7997028 ROUTE_ID                 405136002 RUN_DIST                      8054 STATION_ORD                     22 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   60 Name: 1639743, dtype: object
(405136002, 60, 7997028, 7)
EVENT_DATE       19/05/31 17:32:21 EVENT_CD                        18 VH_ID                      7997111 ROUTE_ID                 405136002 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   61 Name: 1264933, dtype: object
(405136002, 61, 7997111, 9)
EVENT_DATE       19/05/31 17:55:41 EVENT_CD                        18 VH_ID                      7997040 ROUTE_ID                 405136002 RUN_DIST                      5104 STATION_ORD                     13 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   62 Name: 1646851, dtype: object
(405136002, 62, 7997040, 6)
EVENT_DATE       19/05/31 17:56:25 EVENT_CD                        18 VH_ID                      7997067 ROUTE_ID                 405136002 RUN_DIST                      2648 STATION_ORD                      7 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   63 Name: 1636314, dtype: object
(405136002, 63, 7997067, 8)
EVENT_DATE       19/05/31 18:04:00 EVENT_CD                        18 VH_ID                      7997025 ROUTE_ID                 405136004 RUN_DIST                     16649 STATION_ORD                     39 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1608971, dtype: object
(405136004, 1, 7997025, 9)
EVENT_DATE       19/05/31 17:48:06 EVENT_CD                        18 VH_ID                      7997124 ROUTE_ID                 405136004 RUN_DIST                     16649 STATION_ORD                     39 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1642249, dtype: object
(405136004, 1, 7997124, 7)
EVENT_DATE       19/05/31 17:52:45 EVENT_CD                        18 VH_ID                      7997025 ROUTE_ID                 405136004 RUN_DIST                     14951 STATION_ORD                     35 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1632241, dtype: object
(405136004, 2, 7997025, 8)
EVENT_DATE       19/05/31 17:10:10 EVENT_CD                        18 VH_ID                      7997064 ROUTE_ID                 405136006 RUN_DIST                     17964 STATION_ORD                     45 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1466973, dtype: object
(405136006, 3, 7997064, 7)
EVENT_DATE       19/05/31 21:55:42 EVENT_CD                        18 VH_ID                      7997123 ROUTE_ID                 405136012 RUN_DIST                      5104 STATION_ORD                     13 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1801877, dtype: object
(405136012, 1, 7997123, 8)
EVENT_DATE       19/05/31 22:41:14 EVENT_CD                        18 VH_ID                      7997123 ROUTE_ID                 405136012 RUN_DIST                     16186 STATION_ORD                     42 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 1920494, dtype: object
(405136012, 2, 7997123, 9)
EVENT_DATE       19/05/31 18:57:19 EVENT_CD                        18 VH_ID                      7997110 ROUTE_ID                 405136521 RUN_DIST                      3174 STATION_ORD                      9 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    8 Name: 1488550, dtype: object
(405136521, 8, 7997110, 10)
EVENT_DATE       19/05/31 19:17:59 EVENT_CD                        18 VH_ID                      7997110 ROUTE_ID                 405136521 RUN_DIST                      7979 STATION_ORD                     19 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    9 Name: 1381649, dtype: object
(405136521, 9, 7997110, 11)
EVENT_DATE       19/05/31 20:58:13 EVENT_CD                        18 VH_ID                      7997081 ROUTE_ID                 405136521 RUN_DIST                     18398 STATION_ORD                     42 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   15 Name: 1746112, dtype: object
(405136521, 15, 7997081, 9)
EVENT_DATE       19/05/31 10:17:11 EVENT_CD                        18 VH_ID                      7997115 ROUTE_ID                 405136521 RUN_DIST                       435 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   22 Name: 375776, dtype: object
(405136521, 22, 7997115, 3)
EVENT_DATE       19/05/31 12:48:16 EVENT_CD                        18 VH_ID                      7997087 ROUTE_ID                 405136521 RUN_DIST                     18398 STATION_ORD                     42 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   32 Name: 1138807, dtype: object
(405136521, 32, 7997087, 5)
EVENT_DATE       19/05/31 14:12:44 EVENT_CD                        18 VH_ID                      7997056 ROUTE_ID                 405136521 RUN_DIST                     18398 STATION_ORD                     42 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   41 Name: 1163517, dtype: object
(405136521, 41, 7997056, 5)
EVENT_DATE       19/05/31 17:56:40 EVENT_CD                        18 VH_ID                      7997077 ROUTE_ID                 405136521 RUN_DIST                      8587 STATION_ORD                     20 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   61 Name: 1611527, dtype: object
(405136521, 61, 7997077, 6)
EVENT_DATE       19/05/31 17:55:10 EVENT_CD                        18 VH_ID                      7997115 ROUTE_ID                 405136521 RUN_DIST                      6478 STATION_ORD                     16 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   62 Name: 1629047, dtype: object
(405136521, 62, 7997115, 6)
EVENT_DATE       19/05/31 17:55:58 EVENT_CD                        18 VH_ID                      7997001 ROUTE_ID                 405136521 RUN_DIST                      3174 STATION_ORD                      9 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   63 Name: 1629173, dtype: object
(405136521, 63, 7997001, 7)
EVENT_DATE       19/05/31 14:54:43 EVENT_CD                        18 VH_ID                      7997056 ROUTE_ID                 405136522 RUN_DIST                      4086 STATION_ORD                     12 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 910245, dtype: object
(405136522, 0, 7997056, 5)

EVENT_DATE       19/05/31 08:25:35 EVENT_CD                        18 VH_ID                      7997056 ROUTE_ID                 405136522 RUN_DIST                     17780 STATION_ORD                     40 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    7 Name: 127959, dtype: object
(405136522, 7, 7997056, 2)
EVENT_DATE       19/05/31 08:57:56 EVENT_CD                        18 VH_ID                      7997070 ROUTE_ID                 405136522 RUN_DIST                     17780 STATION_ORD                     40 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    9 Name: 782065, dtype: object
(405136522, 9, 7997070, 2)
EVENT_DATE       19/05/31 20:58:30 EVENT_CD                        18 VH_ID                      7997090 ROUTE_ID                 405136522 RUN_DIST                     17780 STATION_ORD                     40 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   19 Name: 1724919, dtype: object
(405136522, 19, 7997090, 9)
EVENT_DATE       19/05/31 20:45:20 EVENT_CD                        18 VH_ID                      7997110 ROUTE_ID                 405136522 RUN_DIST                      4086 STATION_ORD                     12 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                   23 Name: 1719693, dtype: object
(405136522, 23, 7997110, 14)
EVENT_DATE       19/05/31 17:56:04 EVENT_CD                        18 VH_ID                      7997110 ROUTE_ID                 405136522 RUN_DIST                     14273 STATION_ORD                     31 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   56 Name: 1643398, dtype: object
(405136522, 56, 7997110, 8)
EVENT_DATE       19/05/31 17:55:33 EVENT_CD                        18 VH_ID                      7997087 ROUTE_ID                 405136522 RUN_DIST                     13053 STATION_ORD                     29 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   57 Name: 1625568, dtype: object
(405136522, 57, 7997087, 9)
EVENT_DATE       19/05/31 17:56:30 EVENT_CD                        18 VH_ID                      7997062 ROUTE_ID                 405136522 RUN_DIST                      9384 STATION_ORD                     20 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   58 Name: 1646988, dtype: object
(405136522, 58, 7997062, 7)
EVENT_DATE       19/05/31 17:54:48 EVENT_CD                        18 VH_ID                      7997085 ROUTE_ID                 405136522 RUN_DIST                      5945 STATION_ORD                     13 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   59 Name: 1632530, dtype: object
(405136522, 59, 7997085, 7)
EVENT_DATE       19/05/31 17:55:17 EVENT_CD                        18 VH_ID                      7997004 ROUTE_ID                 405136522 RUN_DIST                      3631 STATION_ORD                     11 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   60 Name: 1646792, dtype: object
(405136522, 60, 7997004, 8)
EVENT_DATE       19/05/31 17:55:57 EVENT_CD                        18 VH_ID                      7997081 ROUTE_ID                 405136522 RUN_DIST                      1997 STATION_ORD                      6 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   61 Name: 1629145, dtype: object
(405136522, 61, 7997081, 7)
EVENT_DATE       19/05/31 17:55:48 EVENT_CD                        18 VH_ID                      7997022 ROUTE_ID                 405136522 RUN_DIST                       496 STATION_ORD                      2 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   62 Name: 1607817, dtype: object
(405136522, 62, 7997022, 7)
EVENT_DATE       19/05/31 17:56:09 EVENT_CD                        18 VH_ID                      7997119 ROUTE_ID                 405136523 RUN_DIST                     17160 STATION_ORD                     34 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1654056, dtype: object
(405136523, 0, 7997119, 6)
EVENT_DATE       19/05/31 08:34:32 EVENT_CD                        18 VH_ID                      7997004 ROUTE_ID                 405136526 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 157529, dtype: object
(405136526, 0, 7997004, 0)
EVENT_DATE       19/05/31 08:29:24 EVENT_CD                        18 VH_ID                      7997004 ROUTE_ID                 405136526 RUN_DIST                       948 STATION_ORD                      4 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 132005, dtype: object
(405136526, 2, 7997004, 2)
EVENT_DATE       19/05/31 17:50:52 EVENT_CD                        18 VH_ID                      7997120 ROUTE_ID                 405136526 RUN_DIST                     10642 STATION_ORD                     26 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 1642639, dtype: object
(405136526, 4, 7997120, 7)
EVENT_DATE       19/05/31 17:55:00 EVENT_CD                        18 VH_ID                      7997070 ROUTE_ID                 405136901 RUN_DIST                     13517 STATION_ORD                     32 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1604161, dtype: object
(405136901, 1, 7997070, 8)
EVENT_DATE       19/05/31 21:27:57 EVENT_CD                        18 VH_ID                      7997099 ROUTE_ID                 405137001 RUN_DIST                     24945 STATION_ORD                     59 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 2021752, dtype: object
(405137001, 4, 7997099, 7)
EVENT_DATE       19/05/31 22:14:45 EVENT_CD                        18 VH_ID                      7997103 ROUTE_ID                 405137001 RUN_DIST                     24945 STATION_ORD                     59 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    5 Name: 1906423, dtype: object
(405137001, 5, 7997103, 9)
EVENT_DATE       19/05/31 16:03:35 EVENT_CD                        18 VH_ID                      7997014 ROUTE_ID                 405137001 RUN_DIST                     24945 STATION_ORD                     59 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   10 Name: 1705930, dtype: object
(405137001, 10, 7997014, 5)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7997103 ROUTE_ID                 405137001 RUN_DIST                     23996 STATION_ORD                     56 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   12 Name: 1618623, dtype: object
(405137001, 12, 7997103, 6)
EVENT_DATE       19/05/31 17:56:28 EVENT_CD                        18 VH_ID                      7997063 ROUTE_ID                 405137002 RUN_DIST                     18849 STATION_ORD                     42 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    9 Name: 1643411, dtype: object
(405137002, 9, 7997063, 6)
EVENT_DATE       19/05/31 17:54:47 EVENT_CD                        18 VH_ID                      7997014 ROUTE_ID                 405137002 RUN_DIST                     11212 STATION_ORD                     23 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   10 Name: 1629015, dtype: object
(405137002, 10, 7997014, 6)
EVENT_DATE       19/05/31 21:52:21 EVENT_CD                        18 VH_ID                      7997109 ROUTE_ID                 405138002 RUN_DIST                     21803 STATION_ORD                     52 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    6 Name: 1794453, dtype: object
(405138002, 6, 7997109, 11)
EVENT_DATE       19/05/31 21:48:19 EVENT_CD                        18 VH_ID                      7997079 ROUTE_ID                 405138002 RUN_DIST                       504 STATION_ORD                      2 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    7 Name: 1801098, dtype: object
(405138002, 7, 7997079, 12)
EVENT_DATE       19/05/31 09:32:22 EVENT_CD                        18 VH_ID                      7983581 ROUTE_ID                 405241101 RUN_DIST                     29278 STATION_ORD                     73 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    4 Name: 663059, dtype: object
(405241101, 4, 7983581, 2)
EVENT_DATE       19/05/31 21:40:44 EVENT_CD                        18 VH_ID                      7983575 ROUTE_ID                 405241101 RUN_DIST                     31009 STATION_ORD                     77 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    6 Name: 1796760, dtype: object
(405241101, 6, 7983575, 8)
EVENT_DATE       19/05/31 22:15:57 EVENT_CD                        18 VH_ID                      7983576 ROUTE_ID                 405241101 RUN_DIST                     29731 STATION_ORD                     74 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    7 Name: 1897185, dtype: object
(405241101, 7, 7983576, 7)
EVENT_DATE       19/05/31 12:58:37 EVENT_CD                        18 VH_ID                      7983578 ROUTE_ID                 405241101 RUN_DIST                       220 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1136584, dtype: object
(405241101, 15, 7983578, 4)
EVENT_DATE       19/05/31 17:11:01 EVENT_CD                        18 VH_ID                      7983576 ROUTE_ID                 405241101 RUN_DIST                     27775 STATION_ORD                     70 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   20 Name: 1474135, dtype: object
(405241101, 20, 7983576, 5)
EVENT_DATE       19/05/31 17:32:31 EVENT_CD                        18 VH_ID                      7983578 ROUTE_ID                 405241101 RUN_DIST                     26296 STATION_ORD                     67 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   21 Name: 1289744, dtype: object
(405241101, 21, 7983578, 6)
EVENT_DATE       19/05/31 17:55:17 EVENT_CD                        18 VH_ID                      7983580 ROUTE_ID                 405241101 RUN_DIST                     23853 STATION_ORD                     62 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   22 Name: 1646791, dtype: object
(405241101, 22, 7983580, 5)
EVENT_DATE       19/05/31 20:15:42 EVENT_CD                        18 VH_ID                      7983578 ROUTE_ID                 405241201 RUN_DIST                     31014 STATION_ORD                     77 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1874275, dtype: object
(405241201, 6, 7983578, 7)
EVENT_DATE       19/05/31 17:30:28 EVENT_CD                        18 VH_ID                      7983581 ROUTE_ID                 405241201 RUN_DIST                     29283 STATION_ORD                     73 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   16 Name: 1285916, dtype: object
(405241201, 16, 7983581, 6)
EVENT_DATE       19/05/31 17:56:00 EVENT_CD                        18 VH_ID                      7983577 ROUTE_ID                 405241201 RUN_DIST                     25868 STATION_ORD                     66 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   17 Name: 1632734, dtype: object
(405241201, 17, 7983577, 6)

EVENT_DATE       19/05/31 17:56:44 EVENT_CD                        18 VH_ID                      7983579 ROUTE_ID                 405241201 RUN_DIST                     20254 STATION_ORD                     50 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1622163, dtype: object
(405241201, 18, 7983579, 5)
EVENT_DATE       19/05/31 17:55:30 EVENT_CD                        18 VH_ID                      7983575 ROUTE_ID                 405241201 RUN_DIST                      6432 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   19 Name: 1618425, dtype: object
(405241201, 19, 7983575, 6)
EVENT_DATE       19/05/31 22:20:39 EVENT_CD                        18 VH_ID                      7983581 ROUTE_ID                 405241202 RUN_DIST                     26274 STATION_ORD                     67 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1885070, dtype: object
(405241202, 1, 7983581, 9)
EVENT_DATE       19/05/31 05:48:33 EVENT_CD                        18 VH_ID                      7983625 ROUTE_ID                 405241501 RUN_DIST                      7265 STATION_ORD                     20 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 298980, dtype: object
(405241501, 1, 7983625, 1)
EVENT_DATE       19/05/31 22:11:28 EVENT_CD                        18 VH_ID                      7983696 ROUTE_ID                 405241501 RUN_DIST                     17674 STATION_ORD                     46 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   10 Name: 1785694, dtype: object
(405241501, 10, 7983696, 7)
EVENT_DATE       19/05/31 17:56:48 EVENT_CD                        18 VH_ID                      7983806 ROUTE_ID                 405241501 RUN_DIST                      2583 STATION_ORD                      9 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   30 Name: 1629284, dtype: object
(405241501, 30, 7983806, 6)
EVENT_DATE       19/05/31 19:20:21 EVENT_CD                        18 VH_ID                      7983613 ROUTE_ID                 405241502 RUN_DIST                     18126 STATION_ORD                     48 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1427999, dtype: object
(405241502, 4, 7983613, 6)
EVENT_DATE       19/05/31 17:56:41 EVENT_CD                        18 VH_ID                      7983640 ROUTE_ID                 405241502 RUN_DIST                     13762 STATION_ORD                     37 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   27 Name: 1615054, dtype: object
(405241502, 27, 7983640, 5)
EVENT_DATE       19/05/31 17:56:15 EVENT_CD                        18 VH_ID                      7983625 ROUTE_ID                 405241502 RUN_DIST                      8222 STATION_ORD                     22 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   28 Name: 1614984, dtype: object
(405241502, 28, 7983625, 7)
EVENT_DATE       19/05/31 17:56:49 EVENT_CD                        18 VH_ID                      7983638 ROUTE_ID                 405241502 RUN_DIST                      3784 STATION_ORD                     11 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   29 Name: 1632823, dtype: object
(405241502, 29, 7983638, 6)
EVENT_DATE       19/05/31 19:11:39 EVENT_CD                        18 VH_ID                      7983040 ROUTE_ID                 405242101 RUN_DIST                       833 STATION_ORD                      2 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1380775, dtype: object
(405242101, 0, 7983040, 7)
EVENT_DATE       19/05/31 18:28:59 EVENT_CD                        18 VH_ID                      7983042 ROUTE_ID                 405242101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1371372, dtype: object
(405242101, 3, 7983042, 7)
EVENT_DATE       19/05/31 21:16:28 EVENT_CD                        18 VH_ID                      7983040 ROUTE_ID                 405242101 RUN_DIST                     32072 STATION_ORD                     73 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 2027402, dtype: object
(405242101, 4, 7983040, 8)
EVENT_DATE       19/05/31 18:57:45 EVENT_CD                        18 VH_ID                      7983040 ROUTE_ID                 405242102 RUN_DIST                     29141 STATION_ORD                     66 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1488646, dtype: object
(405242102, 1, 7983040, 7)
EVENT_DATE       19/05/31 07:41:45 EVENT_CD                        18 VH_ID                      7983040 ROUTE_ID                 405242102 RUN_DIST                       833 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 68289, dtype: object
(405242102, 2, 7983040, 1)
EVENT_DATE       19/05/31 20:26:35 EVENT_CD                        18 VH_ID                      7983042 ROUTE_ID                 405242102 RUN_DIST                     29141 STATION_ORD                     66 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1879234, dtype: object
(405242102, 2, 7983042, 8)
EVENT_DATE       19/05/31 22:02:50 EVENT_CD                        18 VH_ID                      7983053 ROUTE_ID                 405242102 RUN_DIST                     28714 STATION_ORD                     65 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1774387, dtype: object
(405242102, 3, 7983053, 7)
EVENT_DATE       19/05/31 15:40:35 EVENT_CD                        18 VH_ID                      7983042 ROUTE_ID                 405242102 RUN_DIST                     29141 STATION_ORD                     66 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 927160, dtype: object
(405242102, 7, 7983042, 4)
EVENT_DATE       19/05/31 22:37:50 EVENT_CD                        18 VH_ID                      7983042 ROUTE_ID                 405242103 RUN_DIST                     23543 STATION_ORD                     56 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1923392, dtype: object
(405242103, 1, 7983042, 9)
EVENT_DATE       19/05/31 18:01:32 EVENT_CD                        18 VH_ID                      7983023 ROUTE_ID                 405242201 RUN_DIST                     30986 STATION_ORD                     68 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1608594, dtype: object
(405242201, 1, 7983023, 7)
EVENT_DATE       19/05/31 19:49:46 EVENT_CD                        18 VH_ID                      7983007 ROUTE_ID                 405242201 RUN_DIST                     30986 STATION_ORD                     68 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1945193, dtype: object
(405242201, 2, 7983007, 5)
EVENT_DATE       19/05/31 21:01:31 EVENT_CD                        18 VH_ID                      7983230 ROUTE_ID                 405242201 RUN_DIST                     30559 STATION_ORD                     67 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 1725325, dtype: object
(405242201, 4, 7983230, 7)
EVENT_DATE       19/05/31 14:57:13 EVENT_CD                        18 VH_ID                      7983230 ROUTE_ID                 405242201 RUN_DIST                       833 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 921193, dtype: object
(405242201, 6, 7983230, 4)
EVENT_DATE       19/05/31 16:19:37 EVENT_CD                        18 VH_ID                      7983230 ROUTE_ID                 405242201 RUN_DIST                     30986 STATION_ORD                     68 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1697455, dtype: object
(405242201, 7, 7983230, 5)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7983023 ROUTE_ID                 405242201 RUN_DIST                     28595 STATION_ORD                     63 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    8 Name: 1625725, dtype: object
(405242201, 8, 7983023, 6)
EVENT_DATE       19/05/31 13:00:51 EVENT_CD                        18 VH_ID                      7983023 ROUTE_ID                 405242202 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 1140425, dtype: object
(405242202, 5, 7983023, 4)
EVENT_DATE       19/05/31 17:18:14 EVENT_CD                        18 VH_ID                      7983007 ROUTE_ID                 405242202 RUN_DIST                     28076 STATION_ORD                     61 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 1273636, dtype: object
(405242202, 7, 7983007, 4)
EVENT_DATE       19/05/31 20:21:28 EVENT_CD                        18 VH_ID                      7983023 ROUTE_ID                 405242203 RUN_DIST                       833 STATION_ORD                      2 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1860839, dtype: object
(405242203, 1, 7983023, 9)
EVENT_DATE       19/05/31 20:40:50 EVENT_CD                        18 VH_ID                      7983574 ROUTE_ID                 405242505 RUN_DIST                      9840 STATION_ORD                     25 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    4 Name: 1881166, dtype: object
(405242505, 4, 7983574, 15)
EVENT_DATE       19/05/31 21:13:20 EVENT_CD                        18 VH_ID                      7983568 ROUTE_ID                 405242505 RUN_DIST                      9840 STATION_ORD                     25 BUS_RUN_CNT                     16 ROUTE_RUN_CNT                    5 Name: 2023520, dtype: object
(405242505, 5, 7983568, 16)
EVENT_DATE       19/05/31 21:49:04 EVENT_CD                        18 VH_ID                      7983572 ROUTE_ID                 405242505 RUN_DIST                     10478 STATION_ORD                     26 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    6 Name: 1776536, dtype: object
(405242505, 6, 7983572, 13)
EVENT_DATE       19/05/31 09:49:44 EVENT_CD                        18 VH_ID                      7983568 ROUTE_ID                 405242505 RUN_DIST                      9840 STATION_ORD                     25 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 534568, dtype: object
(405242505, 7, 7983568, 4)
EVENT_DATE       19/05/31 22:27:10 EVENT_CD                        18 VH_ID                      7983566 ROUTE_ID                 405242505 RUN_DIST                     10478 STATION_ORD                     26 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    8 Name: 1907369, dtype: object
(405242505, 8, 7983566, 11)
EVENT_DATE       19/05/31 17:56:06 EVENT_CD                        18 VH_ID                      7983568 ROUTE_ID                 405242506 RUN_DIST                      3107 STATION_ORD                     10 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                   19 Name: 1650462, dtype: object
(405242506, 19, 7983568, 12)
EVENT_DATE       19/05/31 18:59:24 EVENT_CD                        18 VH_ID                      7983565 ROUTE_ID                 405242601 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    4 Name: 1382603, dtype: object
(405242601, 4, 7983565, 13)
EVENT_DATE       19/05/31 20:54:06 EVENT_CD                        18 VH_ID                      7983567 ROUTE_ID                 405242601 RUN_DIST                     13178 STATION_ORD                     33 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    7 Name: 1717333, dtype: object
(405242601, 7, 7983567, 13)
EVENT_DATE       19/05/31 11:06:19 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242601 RUN_DIST                     13178 STATION_ORD                     33 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 467084, dtype: object
(405242601, 7, 7983573, 4)
EVENT_DATE       19/05/31 21:14:33 EVENT_CD                        18 VH_ID                      7983571 ROUTE_ID                 405242601 RUN_DIST                     11264 STATION_ORD                     28 BUS_RUN_CNT                     16 ROUTE_RUN_CNT                    8 Name: 2009546, dtype: object
(405242601, 8, 7983571, 16)
EVENT_DATE       19/05/31 22:23:02 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242601 RUN_DIST                     13676 STATION_ORD                     34 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    9 Name: 1891508, dtype: object
(405242601, 9, 7983573, 13)
EVENT_DATE       19/05/31 14:41:16 EVENT_CD                        18 VH_ID                      7983565 ROUTE_ID                 405242601 RUN_DIST                       724 STATION_ORD                      3 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   14 Name: 915511, dtype: object
(405242601, 14, 7983565, 8)
EVENT_DATE       19/05/31 17:56:29 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242601 RUN_DIST                      6178 STATION_ORD                     15 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   20 Name: 1646963, dtype: object
(405242601, 20, 7983573, 9)
EVENT_DATE       19/05/31 19:51:08 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242602 RUN_DIST                     13574 STATION_ORD                     35 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    0 Name: 1970146, dtype: object
(405242602, 0, 7983573, 10)
EVENT_DATE       19/05/31 10:19:38 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242602 RUN_DIST                     13574 STATION_ORD                     35 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    7 Name: 379703, dtype: object
(405242602, 7, 7983573, 3)
EVENT_DATE       19/05/31 12:42:22 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242602 RUN_DIST                     13574 STATION_ORD                     35 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   11 Name: 1226723, dtype: object
(405242602, 11, 7983573, 5)

EVENT_DATE       19/05/31 17:31:16 EVENT_CD                        18 VH_ID                      7983573 ROUTE_ID                 405242602 RUN_DIST                     12583 STATION_ORD                     32 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   19 Name: 1282510, dtype: object
(405242602, 19, 7983573, 8)
EVENT_DATE       19/05/31 17:56:06 EVENT_CD                        18 VH_ID                      7983567 ROUTE_ID                 405242602 RUN_DIST                      7732 STATION_ORD                     22 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   20 Name: 1650464, dtype: object
(405242602, 20, 7983567, 9)
EVENT_DATE       19/05/31 07:29:15 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 323165, dtype: object
(405243101, 0, 7983526, 1)
EVENT_DATE       19/05/31 18:05:02 EVENT_CD                        18 VH_ID                      7983508 ROUTE_ID                 405243101 RUN_DIST                      3766 STATION_ORD                     11 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1641031, dtype: object
(405243101, 1, 7983508, 10)
EVENT_DATE       19/05/31 07:03:37 EVENT_CD                        18 VH_ID                      7983583 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 13175, dtype: object
(405243101, 1, 7983583, 1)
EVENT_DATE       19/05/31 09:07:22 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    4 Name: 779897, dtype: object
(405243101, 4, 7983526, 2)
EVENT_DATE       19/05/31 19:39:38 EVENT_CD                        18 VH_ID                      7983583 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 2099431, dtype: object
(405243101, 4, 7983583, 8)
EVENT_DATE       19/05/31 20:17:04 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    5 Name: 1831955, dtype: object
(405243101, 5, 7983526, 10)
EVENT_DATE       19/05/31 21:20:14 EVENT_CD                        18 VH_ID                      7983583 ROUTE_ID                 405243101 RUN_DIST                     15896 STATION_ORD                     40 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    7 Name: 2041959, dtype: object
(405243101, 7, 7983583, 9)
EVENT_DATE       19/05/31 22:21:12 EVENT_CD                        18 VH_ID                      7983508 ROUTE_ID                 405243101 RUN_DIST                     15896 STATION_ORD                     40 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    9 Name: 1925431, dtype: object
(405243101, 9, 7983508, 13)
EVENT_DATE       19/05/31 12:58:41 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   10 Name: 1143669, dtype: object
(405243101, 10, 7983526, 4)
EVENT_DATE       19/05/31 14:12:57 EVENT_CD                        18 VH_ID                      7983583 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   12 Name: 1191910, dtype: object
(405243101, 12, 7983583, 5)
EVENT_DATE       19/05/31 14:50:13 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243101 RUN_DIST                     16196 STATION_ORD                     41 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   14 Name: 913156, dtype: object
(405243101, 14, 7983526, 6)
EVENT_DATE       19/05/31 14:12:40 EVENT_CD                        18 VH_ID                      7983508 ROUTE_ID                 405243101 RUN_DIST                       445 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   15 Name: 1152882, dtype: object
(405243101, 15, 7983508, 5)
EVENT_DATE       19/05/31 17:08:27 EVENT_CD                        18 VH_ID                      7983508 ROUTE_ID                 405243101 RUN_DIST                     15896 STATION_ORD                     40 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   20 Name: 1459679, dtype: object
(405243101, 20, 7983508, 8)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243101 RUN_DIST                      8790 STATION_ORD                     24 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   22 Name: 1625731, dtype: object
(405243101, 22, 7983526, 8)
EVENT_DATE       19/05/31 07:12:26 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16254 STATION_ORD                     39 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 53561, dtype: object
(405243201, 1, 7983587, 1)
EVENT_DATE       19/05/31 18:28:55 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1364271, dtype: object
(405243201, 1, 7983587, 8)
EVENT_DATE       19/05/31 06:26:37 EVENT_CD                        18 VH_ID                      7983526 ROUTE_ID                 405243201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 178570, dtype: object
(405243201, 3, 7983526, 1)
EVENT_DATE       19/05/31 20:11:41 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    4 Name: 1941114, dtype: object
(405243201, 4, 7983587, 9)
EVENT_DATE       19/05/31 08:53:07 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 788433, dtype: object
(405243201, 6, 7983587, 2)
EVENT_DATE       19/05/31 22:01:16 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    7 Name: 1791849, dtype: object
(405243201, 7, 7983587, 10)
EVENT_DATE       19/05/31 10:54:08 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    9 Name: 695483, dtype: object
(405243201, 9, 7983587, 3)
EVENT_DATE       19/05/31 12:43:36 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   12 Name: 1212738, dtype: object
(405243201, 12, 7983587, 4)
EVENT_DATE       19/05/31 16:34:37 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                     16172 STATION_ORD                     39 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   18 Name: 1592982, dtype: object
(405243201, 18, 7983587, 6)
EVENT_DATE       19/05/31 16:35:58 EVENT_CD                        18 VH_ID                      7983584 ROUTE_ID                 405243201 RUN_DIST                       601 STATION_ORD                      3 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1564852, dtype: object
(405243201, 20, 7983584, 7)
EVENT_DATE       19/05/31 17:56:50 EVENT_CD                        18 VH_ID                      7983587 ROUTE_ID                 405243201 RUN_DIST                      8358 STATION_ORD                     20 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   22 Name: 1636349, dtype: object
(405243201, 22, 7983587, 7)
EVENT_DATE       19/05/31 17:55:15 EVENT_CD                        18 VH_ID                      7983586 ROUTE_ID                 405243201 RUN_DIST                       601 STATION_ORD                      3 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   23 Name: 1639724, dtype: object
(405243201, 23, 7983586, 7)
EVENT_DATE       19/05/31 17:54:39 EVENT_CD                        18 VH_ID                      7983426 ROUTE_ID                 405243401 RUN_DIST                     26142 STATION_ORD                     64 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    0 Name: 1611224, dtype: object
(405243401, 0, 7983426, 4)
EVENT_DATE       19/05/31 19:36:42 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243401 RUN_DIST                     26142 STATION_ORD                     64 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 2081301, dtype: object
(405243401, 0, 7983434, 6)
EVENT_DATE       19/05/31 20:43:54 EVENT_CD                        18 VH_ID                      7983405 ROUTE_ID                 405243401 RUN_DIST                     26142 STATION_ORD                     64 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1747759, dtype: object
(405243401, 2, 7983405, 4)
EVENT_DATE       19/05/31 08:47:15 EVENT_CD                        18 VH_ID                      7983426 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 120452, dtype: object
(405243401, 3, 7983426, 2)
EVENT_DATE       19/05/31 19:48:31 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243401 RUN_DIST                     20487 STATION_ORD                     50 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 2051091, dtype: object
(405243401, 3, 7983434, 7)
EVENT_DATE       19/05/31 09:56:05 EVENT_CD                        18 VH_ID                      7983408 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 574347, dtype: object
(405243401, 4, 7983408, 3)
EVENT_DATE       19/05/31 20:07:06 EVENT_CD                        18 VH_ID                      7983408 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1936924, dtype: object
(405243401, 4, 7983408, 8)
EVENT_DATE       19/05/31 11:03:27 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 466696, dtype: object
(405243401, 5, 7983434, 3)
EVENT_DATE       19/05/31 20:35:18 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    5 Name: 1841479, dtype: object
(405243401, 5, 7983434, 8)
EVENT_DATE       19/05/31 22:12:47 EVENT_CD                        18 VH_ID                      7983436 ROUTE_ID                 405243401 RUN_DIST                     26142 STATION_ORD                     64 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    6 Name: 1792871, dtype: object
(405243401, 6, 7983436, 3)
EVENT_DATE       19/05/31 12:17:55 EVENT_CD                        18 VH_ID                      7983436 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    7 Name: 1237773, dtype: object
(405243401, 7, 7983436, 1)
EVENT_DATE       19/05/31 15:28:38 EVENT_CD                        18 VH_ID                      7983408 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 1046025, dtype: object
(405243401, 8, 7983408, 5)
EVENT_DATE       19/05/31 16:07:51 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243401 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    9 Name: 1678134, dtype: object
(405243401, 9, 7983434, 5)
EVENT_DATE       19/05/31 17:55:23 EVENT_CD                        18 VH_ID                      7983408 ROUTE_ID                 405243401 RUN_DIST                     11823 STATION_ORD                     29 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   10 Name: 1657495, dtype: object
(405243401, 10, 7983408, 6)
EVENT_DATE       19/05/31 22:11:51 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243511 RUN_DIST                     25929 STATION_ORD                     64 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    0 Name: 1820984, dtype: object
(405243511, 0, 7983434, 8)
EVENT_DATE       19/05/31 07:48:42 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243511 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 65785, dtype: object
(405243511, 2, 7983434, 2)
EVENT_DATE       19/05/31 18:00:23 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243511 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1615584, dtype: object
(405243511, 2, 7983434, 6)
EVENT_DATE       19/05/31 10:57:19 EVENT_CD                        18 VH_ID                      7983426 ROUTE_ID                 405243511 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 458791, dtype: object
(405243511, 3, 7983426, 3)
EVENT_DATE       19/05/31 12:58:33 EVENT_CD                        18 VH_ID                      7983434 ROUTE_ID                 405243511 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1126005, dtype: object
(405243511, 4, 7983434, 4)
EVENT_DATE       19/05/31 16:27:57 EVENT_CD                        18 VH_ID                      7983426 ROUTE_ID                 405243511 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1560243, dtype: object
(405243511, 6, 7983426, 4)
EVENT_DATE       19/05/31 17:56:14 EVENT_CD                        18 VH_ID                      7983405 ROUTE_ID                 405243511 RUN_DIST                      8834 STATION_ORD                     22 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    7 Name: 1611460, dtype: object
(405243511, 7, 7983405, 2)
EVENT_DATE       19/05/31 05:53:24 EVENT_CD                        18 VH_ID                      7983408 ROUTE_ID                 405243512 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 286422, dtype: object
(405243512, 0, 7983408, 0)
EVENT_DATE       19/05/31 22:38:51 EVENT_CD                        18 VH_ID                      7983405 ROUTE_ID                 405243513 RUN_DIST                     13551 STATION_ORD                     34 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    0 Name: 1920349, dtype: object
(405243513, 0, 7983405, 4)
EVENT_DATE       19/05/31 19:25:53 EVENT_CD                        18 VH_ID                      7983453 ROUTE_ID                 405243610 RUN_DIST                     21018 STATION_ORD                     52 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 2101024, dtype: object
(405243610, 0, 7983453, 7)
EVENT_DATE       19/05/31 21:55:31 EVENT_CD                        18 VH_ID                      7983453 ROUTE_ID                 405243610 RUN_DIST                      1674 STATION_ORD                      4 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    0 Name: 1784251, dtype: object
(405243610, 0, 7983453, 9)
EVENT_DATE       19/05/31 06:32:00 EVENT_CD                        18 VH_ID                      7983418 ROUTE_ID                 405243610 RUN_DIST                      9312 STATION_ORD                     20 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 200487, dtype: object
(405243610, 1, 7983418, 1)
EVENT_DATE       19/05/31 20:28:45 EVENT_CD                        18 VH_ID                      7983418 ROUTE_ID                 405243610 RUN_DIST                     21018 STATION_ORD                     52 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1837025, dtype: object
(405243610, 1, 7983418, 9)
EVENT_DATE       19/05/31 23:00:41 EVENT_CD                        18 VH_ID                      7983453 ROUTE_ID                 405243610 RUN_DIST                     21018 STATION_ORD                     52 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    2 Name: 1896358, dtype: object
(405243610, 2, 7983453, 10)
EVENT_DATE       19/05/31 07:37:48 EVENT_CD                        18 VH_ID                      7983453 ROUTE_ID                 405243610 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 313830, dtype: object
(405243610, 3, 7983453, 1)
EVENT_DATE       19/05/31 08:52:36 EVENT_CD                        18 VH_ID                      7983418 ROUTE_ID                 405243610 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 770691, dtype: object
(405243610, 5, 7983418, 3)
EVENT_DATE       19/05/31 11:32:24 EVENT_CD                        18 VH_ID                      7983453 ROUTE_ID                 405243610 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 594553, dtype: object
(405243610, 8, 7983453, 3)

EVENT_DATE       19/05/31 17:54:50 EVENT_CD                        18 VH_ID                      7983808 ROUTE_ID                 405244107 RUN_DIST                      4900 STATION_ORD                     12 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   12 Name: 1636117, dtype: object
(405244107, 12, 7983808, 7)
EVENT_DATE       19/05/31 22:26:00 EVENT_CD                        18 VH_ID                      7983809 ROUTE_ID                 405244110 RUN_DIST                      6372 STATION_ORD                     15 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1888559, dtype: object
(405244110, 1, 7983809, 9)
EVENT_DATE       19/05/31 10:04:15 EVENT_CD                        18 VH_ID                      7983810 ROUTE_ID                 405244201 RUN_DIST                     21008 STATION_ORD                     50 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 533032, dtype: object
(405244201, 5, 7983810, 3)
EVENT_DATE       19/05/31 17:55:25 EVENT_CD                        18 VH_ID                      7983810 ROUTE_ID                 405244201 RUN_DIST                     17771 STATION_ORD                     43 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   12 Name: 1604248, dtype: object
(405244201, 12, 7983810, 7)
EVENT_DATE       19/05/31 17:55:43 EVENT_CD                        18 VH_ID                      7983807 ROUTE_ID                 405244201 RUN_DIST                       563 STATION_ORD                      2 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   13 Name: 1650422, dtype: object
(405244201, 13, 7983807, 7)
EVENT_DATE       19/05/31 22:27:35 EVENT_CD                        18 VH_ID                      7983807 ROUTE_ID                 405244202 RUN_DIST                     16049 STATION_ORD                     39 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1932026, dtype: object
(405244202, 1, 7983807, 10)
EVENT_DATE       19/05/31 06:31:48 EVENT_CD                        18 VH_ID                      7983642 ROUTE_ID                 405244401 RUN_DIST                     13775 STATION_ORD                     31 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 179037, dtype: object
(405244401, 2, 7983642, 1)
EVENT_DATE       19/05/31 21:45:58 EVENT_CD                        18 VH_ID                      7983642 ROUTE_ID                 405244401 RUN_DIST                     28545 STATION_ORD                     67 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 1825515, dtype: object
(405244401, 3, 7983642, 8)
EVENT_DATE       19/05/31 17:56:20 EVENT_CD                        18 VH_ID                      7983643 ROUTE_ID                 405244402 RUN_DIST                     17129 STATION_ORD                     39 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1625660, dtype: object
(405244402, 2, 7983643, 5)
EVENT_DATE       19/05/31 09:23:03 EVENT_CD                        18 VH_ID                      7983649 ROUTE_ID                 405244505 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    4 Name: 651175, dtype: object
(405244505, 4, 7983649, 2)
EVENT_DATE       19/05/31 14:13:01 EVENT_CD                        18 VH_ID                      7983649 ROUTE_ID                 405244505 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 1199017, dtype: object
(405244505, 7, 7983649, 4)
EVENT_DATE       19/05/31 17:55:54 EVENT_CD                        18 VH_ID                      7983649 ROUTE_ID                 405244505 RUN_DIST                     27489 STATION_ORD                     66 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    9 Name: 1622049, dtype: object
(405244505, 9, 7983649, 5)
EVENT_DATE       19/05/31 17:56:50 EVENT_CD                        18 VH_ID                      7983650 ROUTE_ID                 405244505 RUN_DIST                      2198 STATION_ORD                      5 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   10 Name: 1636358, dtype: object
(405244505, 10, 7983650, 6)
EVENT_DATE       19/05/31 11:49:23 EVENT_CD                        18 VH_ID                      7983649 ROUTE_ID                 405244506 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 635663, dtype: object
(405244506, 1, 7983649, 3)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7983812 ROUTE_ID                 405244601 RUN_DIST                     13932 STATION_ORD                     32 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1657647, dtype: object
(405244601, 5, 7983812, 5)
EVENT_DATE       19/05/31 17:56:17 EVENT_CD                        18 VH_ID                      7983648 ROUTE_ID                 405244604 RUN_DIST                     14014 STATION_ORD                     34 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1618554, dtype: object
(405244604, 3, 7983648, 6)
EVENT_DATE       19/05/31 22:47:32 EVENT_CD                        18 VH_ID                      7983812 ROUTE_ID                 405244605 RUN_DIST                     22100 STATION_ORD                     53 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1920728, dtype: object
(405244605, 1, 7983812, 8)
EVENT_DATE       19/05/31 17:56:07 EVENT_CD                        18 VH_ID                      7983645 ROUTE_ID                 405244701 RUN_DIST                     13640 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   10 Name: 1650484, dtype: object
(405244701, 10, 7983645, 7)
EVENT_DATE       19/05/31 11:07:04 EVENT_CD                        18 VH_ID                      7983645 ROUTE_ID                 405244702 RUN_DIST                      5104 STATION_ORD                     13 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 463655, dtype: object
(405244702, 6, 7983645, 4)
EVENT_DATE       19/05/31 22:18:11 EVENT_CD                        18 VH_ID                      7983645 ROUTE_ID                 405244703 RUN_DIST                     15331 STATION_ORD                     37 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1912861, dtype: object
(405244703, 1, 7983645, 10)
EVENT_DATE       19/05/31 17:54:19 EVENT_CD                        18 VH_ID                      7983404 ROUTE_ID                 405245101 RUN_DIST                      4996 STATION_ORD                     11 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   13 Name: 1625367, dtype: object
(405245101, 13, 7983404, 7)
EVENT_DATE       19/05/31 17:55:45 EVENT_CD                        18 VH_ID                      7983422 ROUTE_ID                 405245201 RUN_DIST                     13815 STATION_ORD                     31 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   13 Name: 1657507, dtype: object
(405245201, 13, 7983422, 7)
EVENT_DATE       19/05/31 18:49:42 EVENT_CD                        18 VH_ID                      7983428 ROUTE_ID                 405245401 RUN_DIST                     14004 STATION_ORD                     31 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1498125, dtype: object
(405245401, 1, 7983428, 7)
EVENT_DATE       19/05/31 08:09:37 EVENT_CD                        18 VH_ID                      7983428 ROUTE_ID                 405245401 RUN_DIST                     14004 STATION_ORD                     31 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 250076, dtype: object
(405245401, 2, 7983428, 2)
EVENT_DATE       19/05/31 09:41:07 EVENT_CD                        18 VH_ID                      7983428 ROUTE_ID                 405245401 RUN_DIST                     14004 STATION_ORD                     31 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 572293, dtype: object
(405245401, 3, 7983428, 3)
EVENT_DATE       19/05/31 21:11:56 EVENT_CD                        18 VH_ID                      7983428 ROUTE_ID                 405245401 RUN_DIST                     14004 STATION_ORD                     31 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    3 Name: 2016259, dtype: object
(405245401, 3, 7983428, 9)
EVENT_DATE       19/05/31 13:25:43 EVENT_CD                        18 VH_ID                      7983428 ROUTE_ID                 405245401 RUN_DIST                     13410 STATION_ORD                     29 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1012530, dtype: object
(405245401, 5, 7983428, 5)
EVENT_DATE       19/05/31 21:57:48 EVENT_CD                        18 VH_ID                      7983428 ROUTE_ID                 405245402 RUN_DIST                     10589 STATION_ORD                     22 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    0 Name: 1787988, dtype: object
(405245402, 0, 7983428, 9)
EVENT_DATE       19/05/31 19:11:08 EVENT_CD                        18 VH_ID                      7983621 ROUTE_ID                 405245505 RUN_DIST                      7979 STATION_ORD                     19 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1423178, dtype: object
(405245505, 2, 7983621, 5)
EVENT_DATE       19/05/31 21:07:28 EVENT_CD                        18 VH_ID                      7983610 ROUTE_ID                 405245505 RUN_DIST                     34934 STATION_ORD                     75 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 1718940, dtype: object
(405245505, 4, 7983610, 7)
EVENT_DATE       19/05/31 17:54:51 EVENT_CD                        18 VH_ID                      7983637 ROUTE_ID                 405245505 RUN_DIST                      6478 STATION_ORD                     16 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   11 Name: 1639655, dtype: object
(405245505, 11, 7983637, 5)
EVENT_DATE       19/05/31 17:55:48 EVENT_CD                        18 VH_ID                      7983610 ROUTE_ID                 405245506 RUN_DIST                     21672 STATION_ORD                     42 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   12 Name: 1607820, dtype: object
(405245506, 12, 7983610, 5)
EVENT_DATE       19/05/31 15:52:47 EVENT_CD                        18 VH_ID                      7983813 ROUTE_ID                 405245507 RUN_DIST                      7053 STATION_ORD                     17 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 971298, dtype: object
(405245507, 4, 7983813, 5)
EVENT_DATE       19/05/31 17:53:05 EVENT_CD                        18 VH_ID                      7983636 ROUTE_ID                 405245507 RUN_DIST                     14637 STATION_ORD                     35 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1625200, dtype: object
(405245507, 6, 7983636, 5)
EVENT_DATE       19/05/31 17:56:24 EVENT_CD                        18 VH_ID                      7983813 ROUTE_ID                 405245508 RUN_DIST                      4892 STATION_ORD                     11 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 1632778, dtype: object
(405245508, 4, 7983813, 7)
EVENT_DATE       19/05/31 21:53:50 EVENT_CD                        18 VH_ID                      7983621 ROUTE_ID                 405245515 RUN_DIST                     22547 STATION_ORD                     45 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1784089, dtype: object
(405245515, 1, 7983621, 7)
EVENT_DATE       19/05/31 06:06:54 EVENT_CD                        18 VH_ID                      7983653 ROUTE_ID                 405246101 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 289731, dtype: object
(405246101, 0, 7983653, 0)
EVENT_DATE       19/05/31 06:04:47 EVENT_CD                        18 VH_ID                      7983653 ROUTE_ID                 405246101 RUN_DIST                      4940 STATION_ORD                     10 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 295462, dtype: object
(405246101, 2, 7983653, 1)
EVENT_DATE       19/05/31 17:56:32 EVENT_CD                        18 VH_ID                      7983644 ROUTE_ID                 405246101 RUN_DIST                     22912 STATION_ORD                     52 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   11 Name: 1650557, dtype: object
(405246101, 11, 7983644, 5)

EVENT_DATE       19/05/31 16:56:08 EVENT_CD                        18 VH_ID                      7983653 ROUTE_ID                 405246201 RUN_DIST                     13608 STATION_ORD                     32 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    9 Name: 1461493, dtype: object
(405246201, 9, 7983653, 6)
EVENT_DATE       19/05/31 17:55:42 EVENT_CD                        18 VH_ID                      7983611 ROUTE_ID                 405246201 RUN_DIST                     17937 STATION_ORD                     43 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   10 Name: 1646892, dtype: object
(405246201, 10, 7983611, 5)
EVENT_DATE       19/05/31 06:00:39 EVENT_CD                        18 VH_ID                      7983804 ROUTE_ID                 405246507 RUN_DIST                      1986 STATION_ORD                      3 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 283778, dtype: object
(405246507, 1, 7983804, 1)
EVENT_DATE       19/05/31 06:00:51 EVENT_CD                        18 VH_ID                      7983699 ROUTE_ID                 405246507 RUN_DIST                       261 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 285660, dtype: object
(405246507, 2, 7983699, 1)
EVENT_DATE       19/05/31 07:31:12 EVENT_CD                        18 VH_ID                      7983802 ROUTE_ID                 405246507 RUN_DIST                     20415 STATION_ORD                     27 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    5 Name: 341161, dtype: object
(405246507, 5, 7983802, 1)
EVENT_DATE       19/05/31 17:55:37 EVENT_CD                        18 VH_ID                      7983802 ROUTE_ID                 405246507 RUN_DIST                     29279 STATION_ORD                     64 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   16 Name: 1636206, dtype: object
(405246507, 16, 7983802, 5)
EVENT_DATE       19/05/31 17:56:27 EVENT_CD                        18 VH_ID                      7983803 ROUTE_ID                 405246507 RUN_DIST                     19691 STATION_ORD                     45 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   17 Name: 1639879, dtype: object
(405246507, 17, 7983803, 5)
EVENT_DATE       19/05/31 10:08:48 EVENT_CD                        18 VH_ID                      7983800 ROUTE_ID                 405246601 RUN_DIST                     32997 STATION_ORD                     73 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 374667, dtype: object
(405246601, 3, 7983800, 1)
EVENT_DATE       19/05/31 18:43:50 EVENT_CD                        18 VH_ID                      7983800 ROUTE_ID                 405246601 RUN_DIST                     14872 STATION_ORD                     31 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1522099, dtype: object
(405246601, 3, 7983800, 5)
EVENT_DATE       19/05/31 19:51:12 EVENT_CD                        18 VH_ID                      7983800 ROUTE_ID                 405246601 RUN_DIST                     32997 STATION_ORD                     73 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1980759, dtype: object
(405246601, 5, 7983800, 6)
EVENT_DATE       19/05/31 12:02:36 EVENT_CD                        18 VH_ID                      7983698 ROUTE_ID                 405246601 RUN_DIST                     33551 STATION_ORD                     74 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    6 Name: 520645, dtype: object
(405246601, 6, 7983698, 3)
EVENT_DATE       19/05/31 14:12:51 EVENT_CD                        18 VH_ID                      7983698 ROUTE_ID                 405246601 RUN_DIST                      4757 STATION_ORD                     10 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   10 Name: 1181237, dtype: object
(405246601, 10, 7983698, 4)
EVENT_DATE       19/05/31 16:47:04 EVENT_CD                        18 VH_ID                      7983800 ROUTE_ID                 405246601 RUN_DIST                     32997 STATION_ORD                     73 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 1562864, dtype: object
(405246601, 12, 7983800, 3)
EVENT_DATE       19/05/31 17:55:39 EVENT_CD                        18 VH_ID                      7983801 ROUTE_ID                 405246601 RUN_DIST                     26084 STATION_ORD                     57 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   14 Name: 1643292, dtype: object
(405246601, 14, 7983801, 4)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7983698 ROUTE_ID                 405246601 RUN_DIST                     14236 STATION_ORD                     30 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   15 Name: 1657631, dtype: object
(405246601, 15, 7983698, 6)
EVENT_DATE       19/05/31 17:53:59 EVENT_CD                        18 VH_ID                      7983800 ROUTE_ID                 405246601 RUN_DIST                      4757 STATION_ORD                     10 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   16 Name: 1635977, dtype: object
(405246601, 16, 7983800, 4)
EVENT_DATE       19/05/31 10:12:36 EVENT_CD                        18 VH_ID                      7983442 ROUTE_ID                 405247101 RUN_DIST                      2288 STATION_ORD                      7 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 399963, dtype: object
(405247101, 4, 7983442, 5)
EVENT_DATE       19/05/31 22:19:18 EVENT_CD                        18 VH_ID                      7983442 ROUTE_ID                 405247101 RUN_DIST                     15597 STATION_ORD                     41 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    4 Name: 1894340, dtype: object
(405247101, 4, 7983442, 15)
EVENT_DATE       19/05/31 17:56:50 EVENT_CD                        18 VH_ID                      7983413 ROUTE_ID                 405247101 RUN_DIST                      6008 STATION_ORD                     18 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   11 Name: 1636364, dtype: object
(405247101, 11, 7983413, 10)
EVENT_DATE       19/05/31 09:27:06 EVENT_CD                        18 VH_ID                      7983442 ROUTE_ID                 405247102 RUN_DIST                     13456 STATION_ORD                     35 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 658826, dtype: object
(405247102, 3, 7983442, 3)
EVENT_DATE       19/05/31 17:56:49 EVENT_CD                        18 VH_ID                      7983442 ROUTE_ID                 405247102 RUN_DIST                      6657 STATION_ORD                     16 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   10 Name: 1632826, dtype: object
(405247102, 10, 7983442, 11)
EVENT_DATE       19/05/31 22:46:43 EVENT_CD                        18 VH_ID                      7983423 ROUTE_ID                 405247201 RUN_DIST                     17723 STATION_ORD                     39 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    4 Name: 1889662, dtype: object
(405247201, 4, 7983423, 11)
EVENT_DATE       19/05/31 15:27:57 EVENT_CD                        18 VH_ID                      7983459 ROUTE_ID                 405247201 RUN_DIST                     17003 STATION_ORD                     37 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1060122, dtype: object
(405247201, 6, 7983459, 6)
EVENT_DATE       19/05/31 22:03:18 EVENT_CD                        18 VH_ID                      7983440 ROUTE_ID                 405247301 RUN_DIST                       843 STATION_ORD                      3 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    2 Name: 1820196, dtype: object
(405247301, 2, 7983440, 12)
EVENT_DATE       19/05/31 13:02:20 EVENT_CD                        18 VH_ID                      7983440 ROUTE_ID                 405247301 RUN_DIST                     13655 STATION_ORD                     34 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1108793, dtype: object
(405247301, 3, 7983440, 5)
EVENT_DATE       19/05/31 17:55:10 EVENT_CD                        18 VH_ID                      7983440 ROUTE_ID                 405247302 RUN_DIST                      1890 STATION_ORD                      7 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1629060, dtype: object
(405247302, 4, 7983440, 8)
EVENT_DATE       19/05/31 20:12:18 EVENT_CD                        18 VH_ID                      7983451 ROUTE_ID                 405247506 RUN_DIST                     15546 STATION_ORD                     15 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    3 Name: 1969500, dtype: object
(405247506, 3, 7983451, 15)
EVENT_DATE       19/05/31 06:21:04 EVENT_CD                        18 VH_ID                      7983451 ROUTE_ID                 405247507 RUN_DIST                     16560 STATION_ORD                     18 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 192457, dtype: object
(405247507, 1, 7983451, 1)
EVENT_DATE       19/05/31 17:55:02 EVENT_CD                        18 VH_ID                      7983452 ROUTE_ID                 405247701 RUN_DIST                     17872 STATION_ORD                     44 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   14 Name: 1607731, dtype: object
(405247701, 14, 7983452, 5)
EVENT_DATE       19/05/31 17:56:37 EVENT_CD                        18 VH_ID                      7983446 ROUTE_ID                 405247701 RUN_DIST                      6170 STATION_ORD                     15 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   15 Name: 1607926, dtype: object
(405247701, 15, 7983446, 5)
EVENT_DATE       19/05/31 22:27:50 EVENT_CD                        18 VH_ID                      7983452 ROUTE_ID                 405247702 RUN_DIST                     14310 STATION_ORD                     35 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1898075, dtype: object
(405247702, 2, 7983452, 8)
EVENT_DATE       19/05/31 11:54:49 EVENT_CD                        18 VH_ID                      7983665 ROUTE_ID                 405249001 RUN_DIST                      4313 STATION_ORD                     11 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                   20 Name: 512567, dtype: object
(405249001, 20, 7983665, 12)
EVENT_DATE       19/05/31 13:58:51 EVENT_CD                        18 VH_ID                      7983666 ROUTE_ID                 405249001 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                   30 Name: 846780, dtype: object
(405249001, 30, 7983666, 17)
EVENT_DATE       19/05/31 15:10:15 EVENT_CD                        18 VH_ID                      7983665 ROUTE_ID                 405249001 RUN_DIST                      4313 STATION_ORD                     11 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                   32 Name: 1047062, dtype: object
(405249001, 32, 7983665, 15)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983666 ROUTE_ID                 405249001 RUN_DIST                      4313 STATION_ORD                     11 BUS_RUN_CNT                     25 ROUTE_RUN_CNT                   43 Name: 1618635, dtype: object
(405249001, 43, 7983666, 25)
EVENT_DATE       19/05/31 08:59:43 EVENT_CD                        18 VH_ID                      7983095 ROUTE_ID                 405320111 RUN_DIST                    100241 STATION_ORD                    187 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 771712, dtype: object
(405320111, 1, 7983095, 1)
EVENT_DATE       19/05/31 18:25:11 EVENT_CD                        18 VH_ID                      7983095 ROUTE_ID                 405320111 RUN_DIST                    100241 STATION_ORD                    187 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1370864, dtype: object
(405320111, 4, 7983095, 4)

EVENT_DATE       19/05/31 17:56:50 EVENT_CD                        18 VH_ID                      7983095 ROUTE_ID                 405320111 RUN_DIST                     88410 STATION_ORD                    162 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 1636366, dtype: object
(405320111, 12, 7983095, 3)
EVENT_DATE       19/05/31 17:54:39 EVENT_CD                        18 VH_ID                      7983097 ROUTE_ID                 405320111 RUN_DIST                     68558 STATION_ORD                    119 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   13 Name: 1611240, dtype: object
(405320111, 13, 7983097, 3)
EVENT_DATE       19/05/31 22:21:10 EVENT_CD                        18 VH_ID                      7983067 ROUTE_ID                 405320112 RUN_DIST                    100438 STATION_ORD                    101 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    6 Name: 1922363, dtype: object
(405320112, 6, 7983067, 3)
EVENT_DATE       19/05/31 14:43:57 EVENT_CD                        18 VH_ID                      7983096 ROUTE_ID                 405320112 RUN_DIST                    100438 STATION_ORD                    166 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 883989, dtype: object
(405320112, 12, 7983096, 3)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7983005 ROUTE_ID                 405320112 RUN_DIST                     93535 STATION_ORD                    170 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   14 Name: 1654087, dtype: object
(405320112, 14, 7983005, 2)
EVENT_DATE       19/05/31 17:56:18 EVENT_CD                        18 VH_ID                      7983227 ROUTE_ID                 405320112 RUN_DIST                      7902 STATION_ORD                     19 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   15 Name: 1618581, dtype: object
(405320112, 15, 7983227, 2)
EVENT_DATE       19/05/31 17:56:24 EVENT_CD                        18 VH_ID                      7983202 ROUTE_ID                 405320113 RUN_DIST                     92400 STATION_ORD                    171 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 1632784, dtype: object
(405320113, 14, 7983202, 3)
EVENT_DATE       19/05/31 17:54:58 EVENT_CD                        18 VH_ID                      7983063 ROUTE_ID                 405320113 RUN_DIST                     77653 STATION_ORD                    137 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   15 Name: 1653890, dtype: object
(405320113, 15, 7983063, 3)
EVENT_DATE       19/05/31 13:30:06 EVENT_CD                        18 VH_ID                      7983074 ROUTE_ID                 405320114 RUN_DIST                     99175 STATION_ORD                    184 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    7 Name: 988270, dtype: object
(405320114, 7, 7983074, 2)
EVENT_DATE       19/05/31 17:53:45 EVENT_CD                        18 VH_ID                      7983032 ROUTE_ID                 405320114 RUN_DIST                     98372 STATION_ORD                    182 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   16 Name: 1603985, dtype: object
(405320114, 16, 7983032, 3)
EVENT_DATE       19/05/31 17:56:42 EVENT_CD                        18 VH_ID                      7983098 ROUTE_ID                 405320114 RUN_DIST                     84975 STATION_ORD                    151 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   17 Name: 1615082, dtype: object
(405320114, 17, 7983098, 3)
EVENT_DATE       19/05/31 17:56:30 EVENT_CD                        18 VH_ID                      7983228 ROUTE_ID                 405320114 RUN_DIST                     66534 STATION_ORD                    122 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   18 Name: 1646995, dtype: object
(405320114, 18, 7983228, 3)
EVENT_DATE       19/05/31 17:56:26 EVENT_CD                        18 VH_ID                      7983010 ROUTE_ID                 405320114 RUN_DIST                     41610 STATION_ORD                     83 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   19 Name: 1636337, dtype: object
(405320114, 19, 7983010, 3)
EVENT_DATE       19/05/31 17:56:36 EVENT_CD                        18 VH_ID                      7983075 ROUTE_ID                 405320115 RUN_DIST                     28138 STATION_ORD                     54 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 1604383, dtype: object
(405320115, 5, 7983075, 3)
EVENT_DATE       19/05/31 15:47:04 EVENT_CD                        18 VH_ID                      7983229 ROUTE_ID                 405320116 RUN_DIST                       518 STATION_ORD                      3 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 977632, dtype: object
(405320116, 4, 7983229, 3)
EVENT_DATE       19/05/31 17:56:24 EVENT_CD                        18 VH_ID                      7983224 ROUTE_ID                 405320116 RUN_DIST                     54857 STATION_ORD                    103 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1632776, dtype: object
(405320116, 6, 7983224, 4)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7983026 ROUTE_ID                 405320116 RUN_DIST                     29305 STATION_ORD                     64 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    7 Name: 1657640, dtype: object
(405320116, 7, 7983026, 3)
EVENT_DATE       19/05/31 22:59:12 EVENT_CD                        18 VH_ID                      7983038 ROUTE_ID                 405320117 RUN_DIST                     99641 STATION_ORD                    183 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 1911907, dtype: object
(405320117, 3, 7983038, 3)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983074 ROUTE_ID                 405320117 RUN_DIST                     51016 STATION_ORD                     93 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    3 Name: 1618630, dtype: object
(405320117, 3, 7983074, 4)
EVENT_DATE       19/05/31 20:44:50 EVENT_CD                        18 VH_ID                      7983227 ROUTE_ID                 405320119 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1761989, dtype: object
(405320119, 1, 7983227, 4)
EVENT_DATE       19/05/31 11:33:16 EVENT_CD                        18 VH_ID                      7983225 ROUTE_ID                 405320119 RUN_DIST                     96665 STATION_ORD                    181 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 601758, dtype: object
(405320119, 2, 7983225, 1)
EVENT_DATE       19/05/31 19:20:02 EVENT_CD                        18 VH_ID                      7983031 ROUTE_ID                 405320121 RUN_DIST                     39289 STATION_ORD                     77 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1381928, dtype: object
(405320121, 1, 7983031, 4)
EVENT_DATE       19/05/31 22:08:34 EVENT_CD                        18 VH_ID                      7983051 ROUTE_ID                 405320126 RUN_DIST                     52279 STATION_ORD                     98 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1799561, dtype: object
(405320126, 1, 7983051, 5)
EVENT_DATE       19/05/31 12:37:45 EVENT_CD                        18 VH_ID                      7983010 ROUTE_ID                 405320132 RUN_DIST                     96191 STATION_ORD                    178 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 1247367, dtype: object
(405320132, 2, 7983010, 2)
EVENT_DATE       19/05/31 05:54:30 EVENT_CD                        18 VH_ID                      7983121 ROUTE_ID                 405320213 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 292250, dtype: object
(405320213, 0, 7983121, 0)
EVENT_DATE       19/05/31 09:05:40 EVENT_CD                        18 VH_ID                      7983124 ROUTE_ID                 405320213 RUN_DIST                     89396 STATION_ORD                    164 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 804386, dtype: object
(405320213, 2, 7983124, 1)
EVENT_DATE       19/05/31 21:09:37 EVENT_CD                        18 VH_ID                      7983143 ROUTE_ID                 405320213 RUN_DIST                     89396 STATION_ORD                    164 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    7 Name: 1994841, dtype: object
(405320213, 7, 7983143, 2)
EVENT_DATE       19/05/31 13:45:52 EVENT_CD                        18 VH_ID                      7983144 ROUTE_ID                 405320213 RUN_DIST                      1028 STATION_ORD                      4 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 838121, dtype: object
(405320213, 14, 7983144, 3)
EVENT_DATE       19/05/31 15:32:19 EVENT_CD                        18 VH_ID                      7983130 ROUTE_ID                 405320213 RUN_DIST                       347 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   18 Name: 943717, dtype: object
(405320213, 18, 7983130, 3)
EVENT_DATE       19/05/31 17:56:08 EVENT_CD                        18 VH_ID                      7983130 ROUTE_ID                 405320213 RUN_DIST                     73919 STATION_ORD                    134 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   19 Name: 1654040, dtype: object
(405320213, 19, 7983130, 4)
EVENT_DATE       19/05/31 15:40:09 EVENT_CD                        18 VH_ID                      7983132 ROUTE_ID                 405320213 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   20 Name: 976690, dtype: object
(405320213, 20, 7983132, 5)
EVENT_DATE       19/05/31 17:55:49 EVENT_CD                        18 VH_ID                      7983124 ROUTE_ID                 405320213 RUN_DIST                     58095 STATION_ORD                    111 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   21 Name: 1611369, dtype: object
(405320213, 21, 7983124, 3)
EVENT_DATE       19/05/31 17:55:24 EVENT_CD                        18 VH_ID                      7983128 ROUTE_ID                 405320213 RUN_DIST                     39858 STATION_ORD                     85 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   22 Name: 1604219, dtype: object
(405320213, 22, 7983128, 3)
EVENT_DATE       19/05/31 06:02:07 EVENT_CD                        18 VH_ID                      7983126 ROUTE_ID                 405320214 RUN_DIST                      3966 STATION_ORD                      8 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 298295, dtype: object
(405320214, 2, 7983126, 1)
EVENT_DATE       19/05/31 10:06:08 EVENT_CD                        18 VH_ID                      7983144 ROUTE_ID                 405320214 RUN_DIST                     80959 STATION_ORD                    141 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    5 Name: 402614, dtype: object
(405320214, 5, 7983144, 1)
EVENT_DATE       19/05/31 18:38:03 EVENT_CD                        18 VH_ID                      7983169 ROUTE_ID                 405320214 RUN_DIST                     15355 STATION_ORD                     30 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1531932, dtype: object
(405320214, 6, 7983169, 4)
EVENT_DATE       19/05/31 12:38:10 EVENT_CD                        18 VH_ID                      7983132 ROUTE_ID                 405320214 RUN_DIST                     13916 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   13 Name: 1247432, dtype: object
(405320214, 13, 7983132, 2)
EVENT_DATE       19/05/31 13:00:49 EVENT_CD                        18 VH_ID                      7983132 ROUTE_ID                 405320214 RUN_DIST                     23239 STATION_ORD                     44 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 1136878, dtype: object
(405320214, 14, 7983132, 3)
EVENT_DATE       19/05/31 17:56:39 EVENT_CD                        18 VH_ID                      7983172 ROUTE_ID                 405320214 RUN_DIST                     83583 STATION_ORD                    147 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   20 Name: 1611488, dtype: object
(405320214, 20, 7983172, 3)
EVENT_DATE       19/05/31 17:56:11 EVENT_CD                        18 VH_ID                      7983162 ROUTE_ID                 405320214 RUN_DIST                     60209 STATION_ORD                     96 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   22 Name: 1604341, dtype: object
(405320214, 22, 7983162, 3)

EVENT_DATE       19/05/31 17:54:57 EVENT_CD                        18 VH_ID                      7983144 ROUTE_ID                 405320214 RUN_DIST                     14552 STATION_ORD                     29 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   24 Name: 1653862, dtype: object
(405320214, 24, 7983144, 5)
EVENT_DATE       19/05/31 20:08:22 EVENT_CD                        18 VH_ID                      7983131 ROUTE_ID                 405320215 RUN_DIST                     88252 STATION_ORD                    165 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1944188, dtype: object
(405320215, 1, 7983131, 4)
EVENT_DATE       19/05/31 08:02:58 EVENT_CD                        18 VH_ID                      7983166 ROUTE_ID                 405320215 RUN_DIST                     24298 STATION_ORD                     54 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 259650, dtype: object
(405320215, 3, 7983166, 1)
EVENT_DATE       19/05/31 18:12:16 EVENT_CD                        18 VH_ID                      7983106 ROUTE_ID                 405320215 RUN_DIST                     88252 STATION_ORD                    165 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1323152, dtype: object
(405320215, 4, 7983106, 4)
EVENT_DATE       19/05/31 20:36:21 EVENT_CD                        18 VH_ID                      7983141 ROUTE_ID                 405320215 RUN_DIST                     79163 STATION_ORD                    146 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    6 Name: 1880545, dtype: object
(405320215, 6, 7983141, 3)
EVENT_DATE       19/05/31 19:25:23 EVENT_CD                        18 VH_ID                      7983189 ROUTE_ID                 405320215 RUN_DIST                      1028 STATION_ORD                      4 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 2083243, dtype: object
(405320215, 8, 7983189, 3)
EVENT_DATE       19/05/31 22:09:44 EVENT_CD                        18 VH_ID                      7983189 ROUTE_ID                 405320215 RUN_DIST                     88252 STATION_ORD                    165 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    9 Name: 1796112, dtype: object
(405320215, 9, 7983189, 4)
EVENT_DATE       19/05/31 11:22:21 EVENT_CD                        18 VH_ID                      7983136 ROUTE_ID                 405320215 RUN_DIST                       347 STATION_ORD                      2 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   11 Name: 416173, dtype: object
(405320215, 11, 7983136, 2)
EVENT_DATE       19/05/31 20:51:34 EVENT_CD                        18 VH_ID                      7983141 ROUTE_ID                 405320215 RUN_DIST                     88252 STATION_ORD                    165 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   11 Name: 1724043, dtype: object
(405320215, 11, 7983141, 4)
EVENT_DATE       19/05/31 14:43:16 EVENT_CD                        18 VH_ID                      7983112 ROUTE_ID                 405320215 RUN_DIST                       347 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   17 Name: 901617, dtype: object
(405320215, 17, 7983112, 3)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7983106 ROUTE_ID                 405320215 RUN_DIST                     80933 STATION_ORD                    150 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   19 Name: 1625738, dtype: object
(405320215, 19, 7983106, 3)
EVENT_DATE       19/05/31 17:56:06 EVENT_CD                        18 VH_ID                      7983125 ROUTE_ID                 405320215 RUN_DIST                     65851 STATION_ORD                    123 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   20 Name: 1650457, dtype: object
(405320215, 20, 7983125, 3)
EVENT_DATE       19/05/31 17:56:48 EVENT_CD                        18 VH_ID                      7983166 ROUTE_ID                 405320215 RUN_DIST                     28412 STATION_ORD                     65 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   22 Name: 1632797, dtype: object
(405320215, 22, 7983166, 4)
EVENT_DATE       19/05/31 17:56:50 EVENT_CD                        18 VH_ID                      7983120 ROUTE_ID                 405320215 RUN_DIST                     47568 STATION_ORD                     94 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   24 Name: 1636363, dtype: object
(405320215, 24, 7983120, 4)
EVENT_DATE       19/05/31 18:13:17 EVENT_CD                        18 VH_ID                      7983106 ROUTE_ID                 405320216 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    0 Name: 1340991, dtype: object
(405320216, 0, 7983106, 4)
EVENT_DATE       19/05/31 17:55:47 EVENT_CD                        18 VH_ID                      7983116 ROUTE_ID                 405320216 RUN_DIST                     89933 STATION_ORD                    164 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 1604267, dtype: object
(405320216, 14, 7983116, 3)
EVENT_DATE       19/05/31 17:56:12 EVENT_CD                        18 VH_ID                      7983136 ROUTE_ID                 405320216 RUN_DIST                     82933 STATION_ORD                    148 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1607878, dtype: object
(405320216, 15, 7983136, 4)
EVENT_DATE       19/05/31 17:56:05 EVENT_CD                        18 VH_ID                      7983115 ROUTE_ID                 405320216 RUN_DIST                     23239 STATION_ORD                     44 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   18 Name: 1646928, dtype: object
(405320216, 18, 7983115, 3)
EVENT_DATE       19/05/31 17:56:32 EVENT_CD                        18 VH_ID                      7983105 ROUTE_ID                 405320216 RUN_DIST                      5311 STATION_ORD                     11 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   19 Name: 1650550, dtype: object
(405320216, 19, 7983105, 3)
EVENT_DATE       19/05/31 06:58:34 EVENT_CD                        18 VH_ID                      7983136 ROUTE_ID                 405320217 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 15979, dtype: object
(405320217, 0, 7983136, 0)
EVENT_DATE       19/05/31 22:45:35 EVENT_CD                        18 VH_ID                      7983129 ROUTE_ID                 405320219 RUN_DIST                     88780 STATION_ORD                    166 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1892772, dtype: object
(405320219, 1, 7983129, 4)
EVENT_DATE       19/05/31 05:57:55 EVENT_CD                        18 VH_ID                      7983137 ROUTE_ID                 405320221 RUN_DIST                       269 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 295261, dtype: object
(405320221, 2, 7983137, 1)
EVENT_DATE       19/05/31 08:22:54 EVENT_CD                        18 VH_ID                      7983106 ROUTE_ID                 405320223 RUN_DIST                     46608 STATION_ORD                     78 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 237898, dtype: object
(405320223, 2, 7983106, 1)
EVENT_DATE       19/05/31 22:10:42 EVENT_CD                        18 VH_ID                      7983166 ROUTE_ID                 405320224 RUN_DIST                     41532 STATION_ORD                     69 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1771598, dtype: object
(405320224, 2, 7983166, 6)
EVENT_DATE       19/05/31 08:37:12 EVENT_CD                        18 VH_ID                      7983116 ROUTE_ID                 405320228 RUN_DIST                     48462 STATION_ORD                    100 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    4 Name: 161453, dtype: object
(405320228, 4, 7983116, 1)
EVENT_DATE       19/05/31 17:56:03 EVENT_CD                        18 VH_ID                      7983002 ROUTE_ID                 405321103 RUN_DIST                      9085 STATION_ORD                     17 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1643362, dtype: object
(405321103, 3, 7983002, 5)
EVENT_DATE       19/05/31 13:05:58 EVENT_CD                        18 VH_ID                      7983004 ROUTE_ID                 405321104 RUN_DIST                      1576 STATION_ORD                      5 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1134015, dtype: object
(405321104, 2, 7983004, 4)
EVENT_DATE       19/05/31 17:50:13 EVENT_CD                        18 VH_ID                      7983004 ROUTE_ID                 405321104 RUN_DIST                      1576 STATION_ORD                      5 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1603499, dtype: object
(405321104, 4, 7983004, 8)
EVENT_DATE       19/05/31 21:26:30 EVENT_CD                        18 VH_ID                      7983071 ROUTE_ID                 405321201 RUN_DIST                     51151 STATION_ORD                     70 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 2021546, dtype: object
(405321201, 3, 7983071, 5)
EVENT_DATE       19/05/31 22:27:47 EVENT_CD                        18 VH_ID                      7983223 ROUTE_ID                 405321201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1894956, dtype: object
(405321201, 4, 7983223, 8)
EVENT_DATE       19/05/31 17:56:50 EVENT_CD                        18 VH_ID                      7983017 ROUTE_ID                 405321201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1632839, dtype: object
(405321201, 7, 7983017, 5)
EVENT_DATE       19/05/31 19:43:12 EVENT_CD                        18 VH_ID                      7983004 ROUTE_ID                 405321203 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 2096373, dtype: object
(405321203, 1, 7983004, 11)
EVENT_DATE       19/05/31 12:49:30 EVENT_CD                        18 VH_ID                      7983044 ROUTE_ID                 405321203 RUN_DIST                     16189 STATION_ORD                     29 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 1131884, dtype: object
(405321203, 2, 7983044, 3)
EVENT_DATE       19/05/31 12:51:58 EVENT_CD                        18 VH_ID                      7983044 ROUTE_ID                 405321203 RUN_DIST                     17777 STATION_ORD                     30 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    3 Name: 1114564, dtype: object
(405321203, 3, 7983044, 4)
EVENT_DATE       19/05/31 15:50:13 EVENT_CD                        18 VH_ID                      7983004 ROUTE_ID                 405321203 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 956832, dtype: object
(405321203, 5, 7983004, 6)
EVENT_DATE       19/05/31 17:56:15 EVENT_CD                        18 VH_ID                      7983044 ROUTE_ID                 405321205 RUN_DIST                     27486 STATION_ORD                     41 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1614987, dtype: object
(405321205, 0, 7983044, 6)
EVENT_DATE       19/05/31 18:07:39 EVENT_CD                        18 VH_ID                      7983044 ROUTE_ID                 405321205 RUN_DIST                     36284 STATION_ORD                     47 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1318996, dtype: object
(405321205, 1, 7983044, 7)
EVENT_DATE       19/05/31 10:17:52 EVENT_CD                        18 VH_ID                      7983054 ROUTE_ID                 405321206 RUN_DIST                     47026 STATION_ORD                     60 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 358192, dtype: object
(405321206, 1, 7983054, 2)
EVENT_DATE       19/05/31 17:56:00 EVENT_CD                        18 VH_ID                      7983012 ROUTE_ID                 405321206 RUN_DIST                     25507 STATION_ORD                     31 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1636241, dtype: object
(405321206, 2, 7983012, 6)
EVENT_DATE       19/05/31 08:14:10 EVENT_CD                        18 VH_ID                      7983138 ROUTE_ID                 405322101 RUN_DIST                       946 STATION_ORD                      5 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    5 Name: 271947, dtype: object
(405322101, 5, 7983138, 1)
EVENT_DATE       19/05/31 19:58:43 EVENT_CD                        18 VH_ID                      7983179 ROUTE_ID                 405322101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    8 Name: 1967682, dtype: object
(405322101, 8, 7983179, 11)
EVENT_DATE       19/05/31 20:14:32 EVENT_CD                        18 VH_ID                      7983184 ROUTE_ID                 405322101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    9 Name: 1987461, dtype: object
(405322101, 9, 7983184, 12)
EVENT_DATE       19/05/31 21:52:50 EVENT_CD                        18 VH_ID                      7983184 ROUTE_ID                 405322101 RUN_DIST                      6944 STATION_ORD                     14 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                   12 Name: 1787506, dtype: object
(405322101, 12, 7983184, 13)
EVENT_DATE       19/05/31 16:11:41 EVENT_CD                        18 VH_ID                      7983179 ROUTE_ID                 405322101 RUN_DIST                       521 STATION_ORD                      3 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   21 Name: 1699924, dtype: object
(405322101, 21, 7983179, 6)
EVENT_DATE       19/05/31 17:56:03 EVENT_CD                        18 VH_ID                      7983181 ROUTE_ID                 405322101 RUN_DIST                     40011 STATION_ORD                     52 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   22 Name: 1639832, dtype: object
(405322101, 22, 7983181, 5)
EVENT_DATE       19/05/31 16:51:50 EVENT_CD                        18 VH_ID                      7983179 ROUTE_ID                 405322101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   23 Name: 1467956, dtype: object
(405322101, 23, 7983179, 7)
EVENT_DATE       19/05/31 17:55:33 EVENT_CD                        18 VH_ID                      7983179 ROUTE_ID                 405322101 RUN_DIST                     29803 STATION_ORD                     37 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   24 Name: 1625572, dtype: object
(405322101, 24, 7983179, 8)
EVENT_DATE       19/05/31 17:53:19 EVENT_CD                        18 VH_ID                      7983178 ROUTE_ID                 405322101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   25 Name: 1657195, dtype: object
(405322101, 25, 7983178, 7)

EVENT_DATE       19/05/31 06:17:10 EVENT_CD                        18 VH_ID                      7983184 ROUTE_ID                 405322102 RUN_DIST                       673 STATION_ORD                      3 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 199362, dtype: object
(405322102, 2, 7983184, 1)
EVENT_DATE       19/05/31 20:22:03 EVENT_CD                        18 VH_ID                      7983182 ROUTE_ID                 405322102 RUN_DIST                     39976 STATION_ORD                     54 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1882154, dtype: object
(405322102, 6, 7983182, 7)
EVENT_DATE       19/05/31 12:20:28 EVENT_CD                        18 VH_ID                      7983182 ROUTE_ID                 405322102 RUN_DIST                     40212 STATION_ORD                     55 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   10 Name: 1238075, dtype: object
(405322102, 10, 7983182, 3)
EVENT_DATE       19/05/31 17:54:29 EVENT_CD                        18 VH_ID                      7983183 ROUTE_ID                 405322102 RUN_DIST                     35859 STATION_ORD                     45 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1643178, dtype: object
(405322102, 20, 7983183, 7)
EVENT_DATE       19/05/31 17:56:31 EVENT_CD                        18 VH_ID                      7983134 ROUTE_ID                 405322102 RUN_DIST                     20509 STATION_ORD                     28 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   21 Name: 1650526, dtype: object
(405322102, 21, 7983134, 6)
EVENT_DATE       19/05/31 20:13:08 EVENT_CD                        18 VH_ID                      7983138 ROUTE_ID                 405322201 RUN_DIST                       521 STATION_ORD                      3 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    3 Name: 1973131, dtype: object
(405322201, 3, 7983138, 12)
EVENT_DATE       19/05/31 09:18:51 EVENT_CD                        18 VH_ID                      7983184 ROUTE_ID                 405322201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 668234, dtype: object
(405322201, 3, 7983184, 3)
EVENT_DATE       19/05/31 14:06:54 EVENT_CD                        18 VH_ID                      7983164 ROUTE_ID                 405322201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 861982, dtype: object
(405322201, 8, 7983164, 5)
EVENT_DATE       19/05/31 16:16:39 EVENT_CD                        18 VH_ID                      7983184 ROUTE_ID                 405322201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   11 Name: 1693523, dtype: object
(405322201, 11, 7983184, 8)
EVENT_DATE       19/05/31 17:55:54 EVENT_CD                        18 VH_ID                      7983184 ROUTE_ID                 405322201 RUN_DIST                     10381 STATION_ORD                     24 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   12 Name: 1622056, dtype: object
(405322201, 12, 7983184, 9)
EVENT_DATE       19/05/31 17:55:51 EVENT_CD                        18 VH_ID                      7983180 ROUTE_ID                 405322202 RUN_DIST                     42440 STATION_ORD                     59 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   11 Name: 1614928, dtype: object
(405322202, 11, 7983180, 6)
EVENT_DATE       19/05/31 17:52:46 EVENT_CD                        18 VH_ID                      7983138 ROUTE_ID                 405322202 RUN_DIST                      2849 STATION_ORD                      8 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   12 Name: 1632283, dtype: object
(405322202, 12, 7983138, 9)
EVENT_DATE       19/05/31 17:55:19 EVENT_CD                        18 VH_ID                      7983138 ROUTE_ID                 405322202 RUN_DIST                      4898 STATION_ORD                     11 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   13 Name: 1650360, dtype: object
(405322202, 13, 7983138, 10)
EVENT_DATE       19/05/31 14:11:18 EVENT_CD                        18 VH_ID                      7983183 ROUTE_ID                 405322203 RUN_DIST                       521 STATION_ORD                      3 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1202365, dtype: object
(405322203, 3, 7983183, 5)
EVENT_DATE       19/05/31 12:59:21 EVENT_CD                        18 VH_ID                      7983178 ROUTE_ID                 405322204 RUN_DIST                     50992 STATION_ORD                     71 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1119029, dtype: object
(405322204, 2, 7983178, 4)
EVENT_DATE       19/05/31 17:05:58 EVENT_CD                        18 VH_ID                      7983178 ROUTE_ID                 405322204 RUN_DIST                     51951 STATION_ORD                     75 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1452230, dtype: object
(405322204, 3, 7983178, 6)
EVENT_DATE       19/05/31 17:56:38 EVENT_CD                        18 VH_ID                      7983462 ROUTE_ID                 405323101 RUN_DIST                     38061 STATION_ORD                     52 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1607953, dtype: object
(405323101, 0, 7983462, 5)
EVENT_DATE       19/05/31 20:19:33 EVENT_CD                        18 VH_ID                      7983435 ROUTE_ID                 405323101 RUN_DIST                     20238 STATION_ORD                     28 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    3 Name: 1874768, dtype: object
(405323101, 3, 7983435, 13)
EVENT_DATE       19/05/31 11:47:09 EVENT_CD                        18 VH_ID                      7983462 ROUTE_ID                 405323101 RUN_DIST                      1582 STATION_ORD                      6 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    7 Name: 610635, dtype: object
(405323101, 7, 7983462, 3)
EVENT_DATE       19/05/31 11:30:41 EVENT_CD                        18 VH_ID                      7983435 ROUTE_ID                 405323102 RUN_DIST                      6298 STATION_ORD                     16 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 583731, dtype: object
(405323102, 5, 7983435, 4)
EVENT_DATE       19/05/31 12:09:57 EVENT_CD                        18 VH_ID                      7983435 ROUTE_ID                 405323102 RUN_DIST                     31110 STATION_ORD                     60 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 507455, dtype: object
(405323102, 6, 7983435, 5)
EVENT_DATE       19/05/31 20:06:54 EVENT_CD                        18 VH_ID                      7983449 ROUTE_ID                 405323103 RUN_DIST                     56624 STATION_ORD                     96 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1965219, dtype: object
(405323103, 1, 7983449, 5)
EVENT_DATE       19/05/31 17:56:36 EVENT_CD                        18 VH_ID                      7983410 ROUTE_ID                 405323104 RUN_DIST                      3407 STATION_ORD                     10 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1604393, dtype: object
(405323104, 4, 7983410, 5)
EVENT_DATE       19/05/31 17:55:59 EVENT_CD                        18 VH_ID                      7983463 ROUTE_ID                 405323107 RUN_DIST                     22749 STATION_ORD                     35 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1632703, dtype: object
(405323107, 1, 7983463, 5)
EVENT_DATE       19/05/31 15:07:59 EVENT_CD                        18 VH_ID                      7983449 ROUTE_ID                 405323109 RUN_DIST                     60859 STATION_ORD                    105 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 1071565, dtype: object
(405323109, 1, 7983449, 3)
EVENT_DATE       19/05/31 16:46:12 EVENT_CD                        18 VH_ID                      7983464 ROUTE_ID                 405323109 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    3 Name: 1552162, dtype: object
(405323109, 3, 7983464, 4)
EVENT_DATE       19/05/31 17:55:35 EVENT_CD                        18 VH_ID                      7983464 ROUTE_ID                 405323109 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1632640, dtype: object
(405323109, 4, 7983464, 5)
EVENT_DATE       19/05/31 17:56:34 EVENT_CD                        18 VH_ID                      7983465 ROUTE_ID                 405323110 RUN_DIST                     15430 STATION_ORD                     37 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1657613, dtype: object
(405323110, 3, 7983465, 6)
EVENT_DATE       19/05/31 20:32:32 EVENT_CD                        18 VH_ID                      7983450 ROUTE_ID                 405323201 RUN_DIST                     55314 STATION_ORD                     95 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1848158, dtype: object
(405323201, 2, 7983450, 6)
EVENT_DATE       19/05/31 17:55:41 EVENT_CD                        18 VH_ID                      7983467 ROUTE_ID                 405323201 RUN_DIST                      2798 STATION_ORD                      9 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1646857, dtype: object
(405323201, 6, 7983467, 5)
EVENT_DATE       19/05/31 16:44:28 EVENT_CD                        18 VH_ID                      7983435 ROUTE_ID                 405323202 RUN_DIST                      5880 STATION_ORD                     15 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1583718, dtype: object
(405323202, 4, 7983435, 8)
EVENT_DATE       19/05/31 17:00:29 EVENT_CD                        18 VH_ID                      7983435 ROUTE_ID                 405323202 RUN_DIST                     16240 STATION_ORD                     41 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    5 Name: 1455019, dtype: object
(405323202, 5, 7983435, 9)
EVENT_DATE       19/05/31 17:53:48 EVENT_CD                        18 VH_ID                      7983435 ROUTE_ID                 405323202 RUN_DIST                     52308 STATION_ORD                     86 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    6 Name: 1611088, dtype: object
(405323202, 6, 7983435, 10)
EVENT_DATE       19/05/31 15:14:24 EVENT_CD                        18 VH_ID                      7983465 ROUTE_ID                 405323203 RUN_DIST                      1859 STATION_ORD                      7 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    3 Name: 1058290, dtype: object
(405323203, 3, 7983465, 4)
EVENT_DATE       19/05/31 13:33:44 EVENT_CD                        18 VH_ID                      7983466 ROUTE_ID                 405323204 RUN_DIST                       603 STATION_ORD                      3 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 981638, dtype: object
(405323204, 4, 7983466, 4)
EVENT_DATE       19/05/31 12:09:18 EVENT_CD                        18 VH_ID                      7983601 ROUTE_ID                 405324001 RUN_DIST                     43248 STATION_ORD                     35 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 475477, dtype: object
(405324001, 5, 7983601, 3)
EVENT_DATE       19/05/31 12:32:53 EVENT_CD                        18 VH_ID                      7983619 ROUTE_ID                 405324001 RUN_DIST                       347 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    7 Name: 1236146, dtype: object
(405324001, 7, 7983619, 3)
EVENT_DATE       19/05/31 13:52:18 EVENT_CD                        18 VH_ID                      7983619 ROUTE_ID                 405324001 RUN_DIST                     42541 STATION_ORD                     33 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    8 Name: 842469, dtype: object
(405324001, 8, 7983619, 4)
EVENT_DATE       19/05/31 17:56:01 EVENT_CD                        18 VH_ID                      7983664 ROUTE_ID                 405324001 RUN_DIST                     21736 STATION_ORD                     22 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   14 Name: 1636287, dtype: object
(405324001, 14, 7983664, 4)
EVENT_DATE       19/05/31 17:56:39 EVENT_CD                        18 VH_ID                      7983619 ROUTE_ID                 405324002 RUN_DIST                      1524 STATION_ORD                      3 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1611506, dtype: object
(405324002, 0, 7983619, 7)
EVENT_DATE       19/05/31 19:47:04 EVENT_CD                        18 VH_ID                      7983664 ROUTE_ID                 405324002 RUN_DIST                     37206 STATION_ORD                     24 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 2072150, dtype: object
(405324002, 3, 7983664, 6)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7983647 ROUTE_ID                 405324002 RUN_DIST                     36319 STATION_ORD                     22 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    8 Name: 1654088, dtype: object
(405324002, 8, 7983647, 6)
EVENT_DATE       19/05/31 22:58:46 EVENT_CD                        18 VH_ID                      7983530 ROUTE_ID                 405325101 RUN_DIST                     48801 STATION_ORD                     64 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1902601, dtype: object
(405325101, 2, 7983530, 8)
EVENT_DATE       19/05/31 13:59:09 EVENT_CD                        18 VH_ID                      7983544 ROUTE_ID                 405325101 RUN_DIST                     48801 STATION_ORD                     64 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 829094, dtype: object
(405325101, 5, 7983544, 3)

EVENT_DATE       19/05/31 12:50:25 EVENT_CD                        18 VH_ID                      7983500 ROUTE_ID                 405325102 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 1139085, dtype: object
(405325102, 5, 7983500, 4)
EVENT_DATE       19/05/31 14:52:08 EVENT_CD                        18 VH_ID                      7983560 ROUTE_ID                 405325102 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 892215, dtype: object
(405325102, 7, 7983560, 5)
EVENT_DATE       19/05/31 06:57:51 EVENT_CD                        18 VH_ID                      7983528 ROUTE_ID                 405325103 RUN_DIST                     13044 STATION_ORD                     22 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 26567, dtype: object
(405325103, 2, 7983528, 1)
EVENT_DATE       19/05/31 17:56:28 EVENT_CD                        18 VH_ID                      7983559 ROUTE_ID                 405325104 RUN_DIST                     45522 STATION_ORD                     53 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1643442, dtype: object
(405325104, 3, 7983559, 7)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7983530 ROUTE_ID                 405325105 RUN_DIST                     47241 STATION_ORD                     53 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1654081, dtype: object
(405325105, 6, 7983530, 5)
EVENT_DATE       19/05/31 17:54:37 EVENT_CD                        18 VH_ID                      7983556 ROUTE_ID                 405325106 RUN_DIST                      7538 STATION_ORD                     14 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 1607644, dtype: object
(405325106, 8, 7983556, 7)
EVENT_DATE       19/05/31 21:28:17 EVENT_CD                        18 VH_ID                      7983560 ROUTE_ID                 405325108 RUN_DIST                     48766 STATION_ORD                     55 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 2004156, dtype: object
(405325108, 3, 7983560, 8)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7983551 ROUTE_ID                 405325202 RUN_DIST                     38737 STATION_ORD                     40 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1625737, dtype: object
(405325202, 0, 7983551, 5)
EVENT_DATE       19/05/31 18:43:43 EVENT_CD                        18 VH_ID                      7983544 ROUTE_ID                 405325202 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1507910, dtype: object
(405325202, 2, 7983544, 6)
EVENT_DATE       19/05/31 17:56:12 EVENT_CD                        18 VH_ID                      7983558 ROUTE_ID                 405325203 RUN_DIST                     35993 STATION_ORD                     37 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1607880, dtype: object
(405325203, 5, 7983558, 6)
EVENT_DATE       19/05/31 21:40:04 EVENT_CD                        18 VH_ID                      7983556 ROUTE_ID                 405325301 RUN_DIST                     46211 STATION_ORD                     60 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1779060, dtype: object
(405325301, 1, 7983556, 9)
EVENT_DATE       19/05/31 15:09:02 EVENT_CD                        18 VH_ID                      7983558 ROUTE_ID                 405325302 RUN_DIST                     38291 STATION_ORD                     42 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1043379, dtype: object
(405325302, 6, 7983558, 4)
EVENT_DATE       19/05/31 15:39:06 EVENT_CD                        18 VH_ID                      7983556 ROUTE_ID                 405325303 RUN_DIST                       347 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 941139, dtype: object
(405325303, 7, 7983556, 5)
EVENT_DATE       19/05/31 14:07:30 EVENT_CD                        18 VH_ID                      7983557 ROUTE_ID                 405325304 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 823079, dtype: object
(405325304, 6, 7983557, 5)
EVENT_DATE       19/05/31 15:44:26 EVENT_CD                        18 VH_ID                      7983550 ROUTE_ID                 405325304 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 956022, dtype: object
(405325304, 7, 7983550, 6)
EVENT_DATE       19/05/31 16:37:31 EVENT_CD                        18 VH_ID                      7983528 ROUTE_ID                 405325304 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    9 Name: 1550938, dtype: object
(405325304, 9, 7983528, 7)
EVENT_DATE       19/05/31 17:55:48 EVENT_CD                        18 VH_ID                      7983528 ROUTE_ID                 405325304 RUN_DIST                     22271 STATION_ORD                     29 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   11 Name: 1607830, dtype: object
(405325304, 11, 7983528, 8)
EVENT_DATE       19/05/31 17:56:20 EVENT_CD                        18 VH_ID                      7983557 ROUTE_ID                 405325401 RUN_DIST                      4160 STATION_ORD                     10 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1625647, dtype: object
(405325401, 3, 7983557, 6)
EVENT_DATE       19/05/31 19:55:01 EVENT_CD                        18 VH_ID                      7983534 ROUTE_ID                 405325402 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    2 Name: 1956537, dtype: object
(405325402, 2, 7983534, 7)
EVENT_DATE       19/05/31 07:20:09 EVENT_CD                        18 VH_ID                      7983539 ROUTE_ID                 405325501 RUN_DIST                      1028 STATION_ORD                      4 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 339460, dtype: object
(405325501, 2, 7983539, 1)
EVENT_DATE       19/05/31 21:26:35 EVENT_CD                        18 VH_ID                      7983539 ROUTE_ID                 405325501 RUN_DIST                     46591 STATION_ORD                     48 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    5 Name: 2028625, dtype: object
(405325501, 5, 7983539, 7)
EVENT_DATE       19/05/31 12:52:26 EVENT_CD                        18 VH_ID                      7983539 ROUTE_ID                 405325501 RUN_DIST                     46591 STATION_ORD                     48 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 1121666, dtype: object
(405325501, 8, 7983539, 3)
EVENT_DATE       19/05/31 17:56:17 EVENT_CD                        18 VH_ID                      7983521 ROUTE_ID                 405325501 RUN_DIST                     44430 STATION_ORD                     43 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   13 Name: 1618553, dtype: object
(405325501, 13, 7983521, 5)
EVENT_DATE       19/05/31 17:55:39 EVENT_CD                        18 VH_ID                      7983502 ROUTE_ID                 405325501 RUN_DIST                      3090 STATION_ORD                      6 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   14 Name: 1639780, dtype: object
(405325501, 14, 7983502, 7)
EVENT_DATE       19/05/31 06:36:12 EVENT_CD                        18 VH_ID                      7983022 ROUTE_ID                 405326001 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 222379, dtype: object
(405326001, 1, 7983022, 1)
EVENT_DATE       19/05/31 17:56:12 EVENT_CD                        18 VH_ID                      7983049 ROUTE_ID                 405326001 RUN_DIST                     38192 STATION_ORD                     62 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   14 Name: 1607879, dtype: object
(405326001, 14, 7983049, 5)
EVENT_DATE       19/05/31 17:56:12 EVENT_CD                        18 VH_ID                      7983043 ROUTE_ID                 405326001 RUN_DIST                      2740 STATION_ORD                      9 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1607872, dtype: object
(405326001, 15, 7983043, 4)
EVENT_DATE       19/05/31 11:46:55 EVENT_CD                        18 VH_ID                      7983047 ROUTE_ID                 405326002 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    9 Name: 582364, dtype: object
(405326002, 9, 7983047, 4)
EVENT_DATE       19/05/31 17:56:23 EVENT_CD                        18 VH_ID                      7983047 ROUTE_ID                 405326002 RUN_DIST                     34845 STATION_ORD                     51 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   15 Name: 1632749, dtype: object
(405326002, 15, 7983047, 7)
EVENT_DATE       19/05/31 07:11:04 EVENT_CD                        18 VH_ID                      7983047 ROUTE_ID                 405326003 RUN_DIST                     45458 STATION_ORD                     70 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 14280, dtype: object
(405326003, 1, 7983047, 1)
EVENT_DATE       19/05/31 11:44:53 EVENT_CD                        18 VH_ID                      7983542 ROUTE_ID                 405327001 RUN_DIST                     21184 STATION_ORD                     34 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 592686, dtype: object
(405327001, 8, 7983542, 3)
EVENT_DATE       19/05/31 17:56:29 EVENT_CD                        18 VH_ID                      7983552 ROUTE_ID                 405327001 RUN_DIST                     28041 STATION_ORD                     49 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   19 Name: 1646962, dtype: object
(405327001, 19, 7983552, 8)
EVENT_DATE       19/05/31 17:56:49 EVENT_CD                        18 VH_ID                      7983531 ROUTE_ID                 405327001 RUN_DIST                     11882 STATION_ORD                     20 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1632825, dtype: object
(405327001, 20, 7983531, 7)

EVENT_DATE       19/05/31 06:53:18 EVENT_CD                        18 VH_ID                      7983543 ROUTE_ID                 405327002 RUN_DIST                     28056 STATION_ORD                     52 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 54382, dtype: object
(405327002, 1, 7983543, 1)
EVENT_DATE       19/05/31 08:54:11 EVENT_CD                        18 VH_ID                      7983531 ROUTE_ID                 405327002 RUN_DIST                      1180 STATION_ORD                      4 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    4 Name: 781481, dtype: object
(405327002, 4, 7983531, 2)
EVENT_DATE       19/05/31 21:42:02 EVENT_CD                        18 VH_ID                      7983543 ROUTE_ID                 405327002 RUN_DIST                     28056 STATION_ORD                     52 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    5 Name: 1779280, dtype: object
(405327002, 5, 7983543, 11)
EVENT_DATE       19/05/31 16:24:45 EVENT_CD                        18 VH_ID                      7983552 ROUTE_ID                 405327002 RUN_DIST                     28056 STATION_ORD                     52 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   15 Name: 1570381, dtype: object
(405327002, 15, 7983552, 6)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983543 ROUTE_ID                 405327002 RUN_DIST                     22056 STATION_ORD                     42 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   19 Name: 1618636, dtype: object
(405327002, 19, 7983543, 8)
EVENT_DATE       19/05/31 17:56:06 EVENT_CD                        18 VH_ID                      7983501 ROUTE_ID                 405327002 RUN_DIST                      7753 STATION_ORD                     18 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1650456, dtype: object
(405327002, 20, 7983501, 7)
EVENT_DATE       19/05/31 21:58:57 EVENT_CD                        18 VH_ID                      7983506 ROUTE_ID                 405327007 RUN_DIST                     11417 STATION_ORD                     28 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1795135, dtype: object
(405327007, 1, 7983506, 8)
EVENT_DATE       19/05/31 10:18:03 EVENT_CD                        18 VH_ID                      7983430 ROUTE_ID                 405328101 RUN_DIST                      3440 STATION_ORD                     10 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   23 Name: 383031, dtype: object
(405328101, 23, 7983430, 3)
EVENT_DATE       19/05/31 22:45:43 EVENT_CD                        18 VH_ID                      7983445 ROUTE_ID                 405328101 RUN_DIST                     45471 STATION_ORD                     61 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   23 Name: 1899036, dtype: object
(405328101, 23, 7983445, 8)
EVENT_DATE       19/05/31 13:38:43 EVENT_CD                        18 VH_ID                      7983441 ROUTE_ID                 405328101 RUN_DIST                      1859 STATION_ORD                      7 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   39 Name: 1031779, dtype: object
(405328101, 39, 7983441, 4)
EVENT_DATE       19/05/31 14:37:55 EVENT_CD                        18 VH_ID                      7983417 ROUTE_ID                 405328101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   45 Name: 1156046, dtype: object
(405328101, 45, 7983417, 5)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983445 ROUTE_ID                 405328101 RUN_DIST                     41521 STATION_ORD                     55 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   56 Name: 1618618, dtype: object
(405328101, 56, 7983445, 5)
EVENT_DATE       19/05/31 17:55:29 EVENT_CD                        18 VH_ID                      7983406 ROUTE_ID                 405328101 RUN_DIST                     36429 STATION_ORD                     41 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   57 Name: 1614898, dtype: object
(405328101, 57, 7983406, 5)
EVENT_DATE       19/05/31 17:55:42 EVENT_CD                        18 VH_ID                      7983400 ROUTE_ID                 405328101 RUN_DIST                     26975 STATION_ORD                     30 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   58 Name: 1646893, dtype: object
(405328101, 58, 7983400, 5)
EVENT_DATE       19/05/31 17:56:23 EVENT_CD                        18 VH_ID                      7983432 ROUTE_ID                 405328101 RUN_DIST                     15085 STATION_ORD                     28 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   59 Name: 1632747, dtype: object
(405328101, 59, 7983432, 5)
EVENT_DATE       19/05/31 17:55:20 EVENT_CD                        18 VH_ID                      7983415 ROUTE_ID                 405328101 RUN_DIST                      2798 STATION_ORD                      9 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   61 Name: 1653905, dtype: object
(405328101, 61, 7983415, 6)
EVENT_DATE       19/05/31 07:05:32 EVENT_CD                        18 VH_ID                      7983417 ROUTE_ID                 405328102 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 6288, dtype: object
(405328102, 0, 7983417, 0)
EVENT_DATE       19/05/31 21:08:49 EVENT_CD                        18 VH_ID                      7983420 ROUTE_ID                 405328102 RUN_DIST                     43806 STATION_ORD                     58 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   16 Name: 2008822, dtype: object
(405328102, 16, 7983420, 8)
EVENT_DATE       19/05/31 12:12:12 EVENT_CD                        18 VH_ID                      7983430 ROUTE_ID                 405328102 RUN_DIST                      7004 STATION_ORD                     17 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   32 Name: 472346, dtype: object
(405328102, 32, 7983430, 5)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7983430 ROUTE_ID                 405328102 RUN_DIST                     40949 STATION_ORD                     52 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   55 Name: 1654089, dtype: object
(405328102, 55, 7983430, 8)
EVENT_DATE       19/05/31 17:56:40 EVENT_CD                        18 VH_ID                      7983414 ROUTE_ID                 405328102 RUN_DIST                     34230 STATION_ORD                     40 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   56 Name: 1615032, dtype: object
(405328102, 56, 7983414, 6)
EVENT_DATE       19/05/31 17:49:02 EVENT_CD                        18 VH_ID                      7983486 ROUTE_ID                 405328102 RUN_DIST                     19098 STATION_ORD                     35 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   57 Name: 1603361, dtype: object
(405328102, 57, 7983486, 6)
EVENT_DATE       19/05/31 17:56:22 EVENT_CD                        18 VH_ID                      7983439 ROUTE_ID                 405328102 RUN_DIST                     13315 STATION_ORD                     32 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   58 Name: 1629198, dtype: object
(405328102, 58, 7983439, 6)
EVENT_DATE       19/05/31 17:56:37 EVENT_CD                        18 VH_ID                      7983482 ROUTE_ID                 405328102 RUN_DIST                      3339 STATION_ORD                      8 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   60 Name: 1607916, dtype: object
(405328102, 60, 7983482, 6)
EVENT_DATE       19/05/31 06:41:22 EVENT_CD                        18 VH_ID                      7983655 ROUTE_ID                 405328201 RUN_DIST                     32929 STATION_ORD                     37 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 215801, dtype: object
(405328201, 1, 7983655, 1)
EVENT_DATE       19/05/31 11:20:54 EVENT_CD                        18 VH_ID                      7983655 ROUTE_ID                 405328201 RUN_DIST                     44254 STATION_ORD                     55 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   11 Name: 444266, dtype: object
(405328201, 11, 7983655, 4)
EVENT_DATE       19/05/31 17:56:25 EVENT_CD                        18 VH_ID                      7983605 ROUTE_ID                 405328201 RUN_DIST                     40141 STATION_ORD                     48 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   23 Name: 1636308, dtype: object
(405328201, 23, 7983605, 5)

EVENT_DATE       19/05/31 17:56:14 EVENT_CD                        18 VH_ID                      7983629 ROUTE_ID                 405328201 RUN_DIST                      3090 STATION_ORD                      6 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   24 Name: 1611459, dtype: object
(405328201, 24, 7983629, 5)
EVENT_DATE       19/05/31 17:56:09 EVENT_CD                        18 VH_ID                      7983652 ROUTE_ID                 405328202 RUN_DIST                     46517 STATION_ORD                     59 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   22 Name: 1657573, dtype: object
(405328202, 22, 7983652, 5)
EVENT_DATE       19/05/31 17:56:38 EVENT_CD                        18 VH_ID                      7983633 ROUTE_ID                 405328202 RUN_DIST                     18533 STATION_ORD                     35 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   23 Name: 1607963, dtype: object
(405328202, 23, 7983633, 6)
EVENT_DATE       19/05/31 17:55:52 EVENT_CD                        18 VH_ID                      7983620 ROUTE_ID                 405328205 RUN_DIST                     50794 STATION_ORD                     57 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1618474, dtype: object
(405328205, 18, 7983620, 5)
EVENT_DATE       19/05/31 17:56:28 EVENT_CD                        18 VH_ID                      7983606 ROUTE_ID                 405328205 RUN_DIST                     33907 STATION_ORD                     26 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1643427, dtype: object
(405328205, 19, 7983606, 5)
EVENT_DATE       19/05/31 12:00:42 EVENT_CD                        18 VH_ID                      7983633 ROUTE_ID                 405328206 RUN_DIST                       733 STATION_ORD                      4 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 495580, dtype: object
(405328206, 0, 7983633, 3)
EVENT_DATE       19/05/31 17:55:06 EVENT_CD                        18 VH_ID                      7983617 ROUTE_ID                 405328206 RUN_DIST                     50575 STATION_ORD                     59 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   17 Name: 1618389, dtype: object
(405328206, 17, 7983617, 5)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7983655 ROUTE_ID                 405328206 RUN_DIST                     25074 STATION_ORD                     41 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   18 Name: 1654079, dtype: object
(405328206, 18, 7983655, 8)
EVENT_DATE       19/05/31 17:42:33 EVENT_CD                        18 VH_ID                      7983634 ROUTE_ID                 405328206 RUN_DIST                     50269 STATION_ORD                     47 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1606006, dtype: object
(405328206, 19, 7983634, 5)
EVENT_DATE       19/05/31 17:56:22 EVENT_CD                        18 VH_ID                      7983635 ROUTE_ID                 405328207 RUN_DIST                      7816 STATION_ORD                     16 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1629207, dtype: object
(405328207, 2, 7983635, 5)
EVENT_DATE       19/05/31 06:58:53 EVENT_CD                        18 VH_ID                      7983110 ROUTE_ID                 405329101 RUN_DIST                       347 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 1805, dtype: object
(405329101, 3, 7983110, 1)
EVENT_DATE       19/05/31 22:36:19 EVENT_CD                        18 VH_ID                      7983101 ROUTE_ID                 405329101 RUN_DIST                     30182 STATION_ORD                     67 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   10 Name: 1898557, dtype: object
(405329101, 10, 7983101, 9)
EVENT_DATE       19/05/31 17:54:43 EVENT_CD                        18 VH_ID                      7983140 ROUTE_ID                 405329101 RUN_DIST                      1028 STATION_ORD                      4 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   22 Name: 1621877, dtype: object
(405329101, 22, 7983140, 7)
EVENT_DATE       19/05/31 11:17:16 EVENT_CD                        18 VH_ID                      7983150 ROUTE_ID                 405329102 RUN_DIST                      3116 STATION_ORD                     10 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    0 Name: 461473, dtype: object
(405329102, 0, 7983150, 4)
EVENT_DATE       19/05/31 21:41:20 EVENT_CD                        18 VH_ID                      7983110 ROUTE_ID                 405329102 RUN_DIST                       188 STATION_ORD                      2 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    9 Name: 1814405, dtype: object
(405329102, 9, 7983110, 11)
EVENT_DATE       19/05/31 11:08:55 EVENT_CD                        18 VH_ID                      7983150 ROUTE_ID                 405329102 RUN_DIST                       188 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   11 Name: 428529, dtype: object
(405329102, 11, 7983150, 4)
EVENT_DATE       19/05/31 11:19:33 EVENT_CD                        18 VH_ID                      7983150 ROUTE_ID                 405329102 RUN_DIST                      3799 STATION_ORD                     12 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   12 Name: 429985, dtype: object
(405329102, 12, 7983150, 5)
EVENT_DATE       19/05/31 11:41:32 EVENT_CD                        18 VH_ID                      7983146 ROUTE_ID                 405329102 RUN_DIST                       188 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   14 Name: 585185, dtype: object
(405329102, 14, 7983146, 4)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7983110 ROUTE_ID                 405329102 RUN_DIST                      6788 STATION_ORD                     17 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   24 Name: 1625733, dtype: object
(405329102, 24, 7983110, 8)
EVENT_DATE       19/05/31 18:13:55 EVENT_CD                        18 VH_ID                      7983161 ROUTE_ID                 405329103 RUN_DIST                      1028 STATION_ORD                      4 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1372873, dtype: object
(405329103, 1, 7983161, 6)
EVENT_DATE       19/05/31 17:56:02 EVENT_CD                        18 VH_ID                      7983187 ROUTE_ID                 405329202 RUN_DIST                     25053 STATION_ORD                     57 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1639801, dtype: object
(405329202, 5, 7983187, 6)
EVENT_DATE       19/05/31 23:33:35 EVENT_CD                        18 VH_ID                      7983029 ROUTE_ID                 405410101 RUN_DIST                     94387 STATION_ORD                     21 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1924658, dtype: object
(405410101, 0, 7983029, 5)
EVENT_DATE       19/05/31 17:56:02 EVENT_CD                        18 VH_ID                      7983064 ROUTE_ID                 405410101 RUN_DIST                     94387 STATION_ORD                     21 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   18 Name: 1639805, dtype: object
(405410101, 18, 7983064, 3)
EVENT_DATE       19/05/31 17:39:33 EVENT_CD                        18 VH_ID                      7983079 ROUTE_ID                 405410101 RUN_DIST                     65611 STATION_ORD                     17 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   19 Name: 1272918, dtype: object
(405410101, 19, 7983079, 3)
EVENT_DATE       19/05/31 17:55:40 EVENT_CD                        18 VH_ID                      7983003 ROUTE_ID                 405410101 RUN_DIST                     49790 STATION_ORD                     15 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   20 Name: 1643323, dtype: object
(405410101, 20, 7983003, 3)
EVENT_DATE       19/05/31 17:50:00 EVENT_CD                        18 VH_ID                      7983078 ROUTE_ID                 405410101 RUN_DIST                     18987 STATION_ORD                     11 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   21 Name: 1624790, dtype: object
(405410101, 21, 7983078, 3)
EVENT_DATE       19/05/31 17:53:01 EVENT_CD                        18 VH_ID                      7983076 ROUTE_ID                 405410101 RUN_DIST                      3028 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   22 Name: 1611016, dtype: object
(405410101, 22, 7983076, 3)
EVENT_DATE       19/05/31 21:46:17 EVENT_CD                        18 VH_ID                      7983003 ROUTE_ID                 405410102 RUN_DIST                     96590 STATION_ORD                     21 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1804400, dtype: object
(405410102, 7, 7983003, 5)
EVENT_DATE       19/05/31 13:41:07 EVENT_CD                        18 VH_ID                      7983003 ROUTE_ID                 405410102 RUN_DIST                     96590 STATION_ORD                     21 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   10 Name: 823400, dtype: object
(405410102, 10, 7983003, 2)
EVENT_DATE       19/05/31 14:48:07 EVENT_CD                        18 VH_ID                      7983076 ROUTE_ID                 405410102 RUN_DIST                     96590 STATION_ORD                     21 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   12 Name: 905803, dtype: object
(405410102, 12, 7983076, 2)
EVENT_DATE       19/05/31 16:42:35 EVENT_CD                        18 VH_ID                      7983046 ROUTE_ID                 405410102 RUN_DIST                     96590 STATION_ORD                     21 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   15 Name: 1590563, dtype: object
(405410102, 15, 7983046, 3)
EVENT_DATE       19/05/31 17:50:44 EVENT_CD                        18 VH_ID                      7983020 ROUTE_ID                 405410102 RUN_DIST                     96590 STATION_ORD                     21 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   17 Name: 1621359, dtype: object
(405410102, 17, 7983020, 3)
EVENT_DATE       19/05/31 17:54:26 EVENT_CD                        18 VH_ID                      7983029 ROUTE_ID                 405410102 RUN_DIST                     82082 STATION_ORD                     13 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   18 Name: 1639587, dtype: object
(405410102, 18, 7983029, 4)
EVENT_DATE       19/05/31 17:45:17 EVENT_CD                        18 VH_ID                      7983048 ROUTE_ID                 405410102 RUN_DIST                     49895 STATION_ORD                      8 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   19 Name: 1641891, dtype: object
(405410102, 19, 7983048, 4)
EVENT_DATE       19/05/31 17:42:10 EVENT_CD                        18 VH_ID                      7983009 ROUTE_ID                 405410102 RUN_DIST                     21485 STATION_ORD                      5 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   20 Name: 1613037, dtype: object
(405410102, 20, 7983009, 4)
EVENT_DATE       19/05/31 22:19:38 EVENT_CD                        18 VH_ID                      7983078 ROUTE_ID                 405410106 RUN_DIST                     94914 STATION_ORD                     20 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1916089, dtype: object
(405410106, 1, 7983078, 5)
EVENT_DATE       19/05/31 22:45:01 EVENT_CD                        18 VH_ID                      7983076 ROUTE_ID                 405410106 RUN_DIST                     94914 STATION_ORD                     20 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1923711, dtype: object
(405410106, 2, 7983076, 5)
EVENT_DATE       19/05/31 23:20:12 EVENT_CD                        18 VH_ID                      7983077 ROUTE_ID                 405410106 RUN_DIST                     94914 STATION_ORD                     20 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1921494, dtype: object
(405410106, 3, 7983077, 5)
EVENT_DATE       19/05/31 22:46:10 EVENT_CD                        18 VH_ID                      7983009 ROUTE_ID                 405410107 RUN_DIST                     38225 STATION_ORD                     14 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1917593, dtype: object
(405410107, 1, 7983009, 6)
EVENT_DATE       19/05/31 23:11:33 EVENT_CD                        18 VH_ID                      7983033 ROUTE_ID                 405410107 RUN_DIST                     38225 STATION_ORD                     14 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1924423, dtype: object
(405410107, 2, 7983033, 6)
EVENT_DATE       19/05/31 20:32:05 EVENT_CD                        18 VH_ID                      7983142 ROUTE_ID                 405410201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1841056, dtype: object
(405410201, 4, 7983142, 5)
EVENT_DATE       19/05/31 22:26:04 EVENT_CD                        18 VH_ID                      7983159 ROUTE_ID                 405410202 RUN_DIST                     79865 STATION_ORD                     16 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1891704, dtype: object
(405410202, 4, 7983159, 4)
EVENT_DATE       19/05/31 13:11:05 EVENT_CD                        18 VH_ID                      7983102 ROUTE_ID                 405410202 RUN_DIST                     79865 STATION_ORD                     16 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    5 Name: 1127583, dtype: object
(405410202, 5, 7983102, 2)
EVENT_DATE       19/05/31 14:47:46 EVENT_CD                        18 VH_ID                      7983104 ROUTE_ID                 405410202 RUN_DIST                     38429 STATION_ORD                      8 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    7 Name: 912831, dtype: object
(405410202, 7, 7983104, 3)
EVENT_DATE       19/05/31 17:53:04 EVENT_CD                        18 VH_ID                      7983127 ROUTE_ID                 405410202 RUN_DIST                     53558 STATION_ORD                     10 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   10 Name: 1621652, dtype: object
(405410202, 10, 7983127, 4)
EVENT_DATE       19/05/31 17:47:11 EVENT_CD                        18 VH_ID                      7983114 ROUTE_ID                 405410203 RUN_DIST                     69148 STATION_ORD                     15 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 1627954, dtype: object
(405410203, 8, 7983114, 3)
EVENT_DATE       19/05/31 17:54:21 EVENT_CD                        18 VH_ID                      7983185 ROUTE_ID                 405410203 RUN_DIST                     14151 STATION_ORD                      5 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    9 Name: 1628924, dtype: object
(405410203, 9, 7983185, 3)
EVENT_DATE       19/05/31 21:53:41 EVENT_CD                        18 VH_ID                      7983185 ROUTE_ID                 405410204 RUN_DIST                     79906 STATION_ORD                     16 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1826293, dtype: object
(405410204, 3, 7983185, 5)
EVENT_DATE       19/05/31 17:55:56 EVENT_CD                        18 VH_ID                      7983147 ROUTE_ID                 405410204 RUN_DIST                     25491 STATION_ORD                      5 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 1625618, dtype: object
(405410204, 7, 7983147, 4)
EVENT_DATE       19/05/31 22:45:30 EVENT_CD                        18 VH_ID                      7983104 ROUTE_ID                 405410206 RUN_DIST                     33730 STATION_ORD                      7 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1892724, dtype: object
(405410206, 1, 7983104, 6)
EVENT_DATE       19/05/31 18:25:27 EVENT_CD                        18 VH_ID                      7983083 ROUTE_ID                 405411101 RUN_DIST                     50114 STATION_ORD                     12 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1349656, dtype: object
(405411101, 1, 7983083, 4)
EVENT_DATE       19/05/31 21:02:10 EVENT_CD                        18 VH_ID                      7983082 ROUTE_ID                 405411101 RUN_DIST                     50114 STATION_ORD                     12 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1760767, dtype: object
(405411101, 3, 7983082, 7)

EVENT_DATE       19/05/31 17:52:08 EVENT_CD                        18 VH_ID                      7983083 ROUTE_ID                 405411101 RUN_DIST                     18287 STATION_ORD                      6 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 1649940, dtype: object
(405411101, 8, 7983083, 3)
EVENT_DATE       19/05/31 14:51:11 EVENT_CD                        18 VH_ID                      7983084 ROUTE_ID                 405411102 RUN_DIST                      6683 STATION_ORD                      4 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 874348, dtype: object
(405411102, 6, 7983084, 4)
EVENT_DATE       19/05/31 15:29:37 EVENT_CD                        18 VH_ID                      7983084 ROUTE_ID                 405411102 RUN_DIST                     40165 STATION_ORD                      9 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1067409, dtype: object
(405411102, 7, 7983084, 5)
EVENT_DATE       19/05/31 17:52:18 EVENT_CD                        18 VH_ID                      7983087 ROUTE_ID                 405411102 RUN_DIST                     33430 STATION_ORD                      8 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   10 Name: 1618001, dtype: object
(405411102, 10, 7983087, 4)
EVENT_DATE       19/05/31 22:59:02 EVENT_CD                        18 VH_ID                      7983087 ROUTE_ID                 405411106 RUN_DIST                     46693 STATION_ORD                     11 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1908830, dtype: object
(405411106, 1, 7983087, 7)
EVENT_DATE       19/05/31 15:25:49 EVENT_CD                        18 VH_ID                      7983086 ROUTE_ID                 405411201 RUN_DIST                     54057 STATION_ORD                     17 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 1052729, dtype: object
(405411201, 7, 7983086, 4)
EVENT_DATE       19/05/31 17:45:35 EVENT_CD                        18 VH_ID                      7983084 ROUTE_ID                 405411201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   10 Name: 1627693, dtype: object
(405411201, 10, 7983084, 7)
EVENT_DATE       19/05/31 19:23:11 EVENT_CD                        18 VH_ID                      7983083 ROUTE_ID                 405411202 RUN_DIST                     18159 STATION_ORD                      6 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1382343, dtype: object
(405411202, 3, 7983083, 5)
EVENT_DATE       19/05/31 21:27:47 EVENT_CD                        18 VH_ID                      7983088 ROUTE_ID                 405411202 RUN_DIST                     52275 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 2004064, dtype: object
(405411202, 5, 7983088, 6)
EVENT_DATE       19/05/31 17:50:14 EVENT_CD                        18 VH_ID                      7983082 ROUTE_ID                 405411202 RUN_DIST                     52275 STATION_ORD                     17 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    9 Name: 1607033, dtype: object
(405411202, 9, 7983082, 5)
EVENT_DATE       19/05/31 17:53:14 EVENT_CD                        18 VH_ID                      7983085 ROUTE_ID                 405411202 RUN_DIST                      3882 STATION_ORD                      3 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   10 Name: 1646536, dtype: object
(405411202, 10, 7983085, 5)
EVENT_DATE       19/05/31 22:35:07 EVENT_CD                        18 VH_ID                      7983082 ROUTE_ID                 405411205 RUN_DIST                     50699 STATION_ORD                     16 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1885992, dtype: object
(405411205, 0, 7983082, 7)
EVENT_DATE       19/05/31 17:54:08 EVENT_CD                        18 VH_ID                      7983118 ROUTE_ID                 405412101 RUN_DIST                     18872 STATION_ORD                      6 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    8 Name: 1657296, dtype: object
(405412101, 8, 7983118, 6)
EVENT_DATE       19/05/31 21:44:51 EVENT_CD                        18 VH_ID                      7983117 ROUTE_ID                 405412102 RUN_DIST                     38753 STATION_ORD                      9 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1814809, dtype: object
(405412102, 3, 7983117, 7)
EVENT_DATE       19/05/31 09:42:24 EVENT_CD                        18 VH_ID                      7983118 ROUTE_ID                 405412102 RUN_DIST                      8761 STATION_ORD                      4 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 579581, dtype: object
(405412102, 3, 7983118, 2)
EVENT_DATE       19/05/31 10:22:07 EVENT_CD                        18 VH_ID                      7983118 ROUTE_ID                 405412102 RUN_DIST                     40429 STATION_ORD                     10 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 394218, dtype: object
(405412102, 4, 7983118, 3)
EVENT_DATE       19/05/31 17:51:46 EVENT_CD                        18 VH_ID                      7983152 ROUTE_ID                 405412102 RUN_DIST                      8761 STATION_ORD                      4 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    9 Name: 1656954, dtype: object
(405412102, 9, 7983152, 6)
EVENT_DATE       19/05/31 22:42:33 EVENT_CD                        18 VH_ID                      7983152 ROUTE_ID                 405412104 RUN_DIST                     38753 STATION_ORD                      9 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1923622, dtype: object
(405412104, 1, 7983152, 9)
EVENT_DATE       19/05/31 15:12:04 EVENT_CD                        18 VH_ID                      7983118 ROUTE_ID                 405412202 RUN_DIST                     44335 STATION_ORD                     15 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1072132, dtype: object
(405412202, 2, 7983118, 5)
EVENT_DATE       19/05/31 14:28:14 EVENT_CD                        18 VH_ID                      7983421 ROUTE_ID                 405413101 RUN_DIST                      3638 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1200878, dtype: object
(405413101, 4, 7983421, 4)
EVENT_DATE       19/05/31 17:55:45 EVENT_CD                        18 VH_ID                      7983433 ROUTE_ID                 405413101 RUN_DIST                     27587 STATION_ORD                      9 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1657514, dtype: object
(405413101, 6, 7983433, 5)
EVENT_DATE       19/05/31 21:09:11 EVENT_CD                        18 VH_ID                      7983427 ROUTE_ID                 405413102 RUN_DIST                     39501 STATION_ORD                     12 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 2001801, dtype: object
(405413102, 2, 7983427, 6)
EVENT_DATE       19/05/31 17:54:11 EVENT_CD                        18 VH_ID                      7983447 ROUTE_ID                 405413102 RUN_DIST                      1589 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1604079, dtype: object
(405413102, 6, 7983447, 5)
EVENT_DATE       19/05/31 20:01:23 EVENT_CD                        18 VH_ID                      7983433 ROUTE_ID                 405413202 RUN_DIST                     41230 STATION_ORD                     15 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1939689, dtype: object
(405413202, 1, 7983433, 7)
EVENT_DATE       19/05/31 10:18:27 EVENT_CD                        18 VH_ID                      7983554 ROUTE_ID                 405415101 RUN_DIST                     46855 STATION_ORD                     16 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    5 Name: 390131, dtype: object
(405415101, 5, 7983554, 2)
EVENT_DATE       19/05/31 10:16:32 EVENT_CD                        18 VH_ID                      7983505 ROUTE_ID                 405415101 RUN_DIST                      2771 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 396986, dtype: object
(405415101, 6, 7983505, 4)
EVENT_DATE       19/05/31 10:31:09 EVENT_CD                        18 VH_ID                      7983505 ROUTE_ID                 405415101 RUN_DIST                      6869 STATION_ORD                      4 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 706517, dtype: object
(405415101, 7, 7983505, 5)
EVENT_DATE       19/05/31 10:35:55 EVENT_CD                        18 VH_ID                      7983505 ROUTE_ID                 405415101 RUN_DIST                      7907 STATION_ORD                      5 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    8 Name: 696544, dtype: object
(405415101, 8, 7983505, 6)
EVENT_DATE       19/05/31 17:42:55 EVENT_CD                        18 VH_ID                      7983518 ROUTE_ID                 405415101 RUN_DIST                     13185 STATION_ORD                      6 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1655785, dtype: object
(405415101, 18, 7983518, 5)
EVENT_DATE       19/05/31 17:51:52 EVENT_CD                        18 VH_ID                      7983513 ROUTE_ID                 405415101 RUN_DIST                      5307 STATION_ORD                      3 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1614377, dtype: object
(405415101, 19, 7983513, 5)
EVENT_DATE       19/05/31 09:33:46 EVENT_CD                        18 VH_ID                      7983582 ROUTE_ID                 405415102 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 691502, dtype: object
(405415102, 6, 7983582, 2)
EVENT_DATE       19/05/31 11:17:38 EVENT_CD                        18 VH_ID                      7983582 ROUTE_ID                 405415102 RUN_DIST                     46395 STATION_ORD                     18 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 450940, dtype: object
(405415102, 8, 7983582, 3)
EVENT_DATE       19/05/31 20:47:13 EVENT_CD                        18 VH_ID                      7983507 ROUTE_ID                 405415102 RUN_DIST                     44529 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   10 Name: 1751735, dtype: object
(405415102, 10, 7983507, 6)
EVENT_DATE       19/05/31 21:15:03 EVENT_CD                        18 VH_ID                      7983554 ROUTE_ID                 405415102 RUN_DIST                     13407 STATION_ORD                     12 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   12 Name: 2013125, dtype: object
(405415102, 12, 7983554, 7)
EVENT_DATE       19/05/31 22:14:15 EVENT_CD                        18 VH_ID                      7983529 ROUTE_ID                 405415102 RUN_DIST                     44529 STATION_ORD                     17 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   13 Name: 1915645, dtype: object
(405415102, 13, 7983529, 7)
EVENT_DATE       19/05/31 15:20:18 EVENT_CD                        18 VH_ID                      7983518 ROUTE_ID                 405415102 RUN_DIST                     46395 STATION_ORD                     18 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1073248, dtype: object
(405415102, 15, 7983518, 4)
EVENT_DATE       19/05/31 21:45:11 EVENT_CD                        18 VH_ID                      7983549 ROUTE_ID                 405415102 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   16 Name: 1793732, dtype: object
(405415102, 16, 7983549, 10)
EVENT_DATE       19/05/31 23:00:17 EVENT_CD                        18 VH_ID                      7983549 ROUTE_ID                 405415102 RUN_DIST                     44529 STATION_ORD                     17 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   17 Name: 1886961, dtype: object
(405415102, 17, 7983549, 11)
EVENT_DATE       19/05/31 17:51:47 EVENT_CD                        18 VH_ID                      7983529 ROUTE_ID                 405415102 RUN_DIST                     46395 STATION_ORD                     18 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   19 Name: 1656998, dtype: object
(405415102, 19, 7983529, 4)
EVENT_DATE       19/05/31 17:56:15 EVENT_CD                        18 VH_ID                      7983549 ROUTE_ID                 405415102 RUN_DIST                      1925 STATION_ORD                      3 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   21 Name: 1614985, dtype: object
(405415102, 21, 7983549, 7)
EVENT_DATE       19/05/31 17:56:28 EVENT_CD                        18 VH_ID                      7983553 ROUTE_ID                 405415201 RUN_DIST                     49883 STATION_ORD                     13 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1643424, dtype: object
(405415201, 5, 7983553, 5)
EVENT_DATE       19/05/31 08:48:09 EVENT_CD                        18 VH_ID                      7983505 ROUTE_ID                 405415202 RUN_DIST                     47563 STATION_ORD                     13 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 134728, dtype: object
(405415202, 2, 7983505, 3)
EVENT_DATE       19/05/31 22:48:28 EVENT_CD                        18 VH_ID                      7983535 ROUTE_ID                 405415202 RUN_DIST                     45697 STATION_ORD                     12 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    3 Name: 1902264, dtype: object
(405415202, 3, 7983535, 9)
EVENT_DATE       19/05/31 17:53:40 EVENT_CD                        18 VH_ID                      7983535 ROUTE_ID                 405415202 RUN_DIST                     19482 STATION_ORD                      8 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1650131, dtype: object
(405415202, 6, 7983535, 6)
EVENT_DATE       19/05/31 18:07:03 EVENT_CD                        18 VH_ID                      7983480 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1350763, dtype: object
(405418101, 1, 7983480, 4)
EVENT_DATE       19/05/31 09:10:01 EVENT_CD                        18 VH_ID                      7983480 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 773214, dtype: object
(405418101, 3, 7983480, 1)
EVENT_DATE       19/05/31 09:49:51 EVENT_CD                        18 VH_ID                      7983455 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    4 Name: 548768, dtype: object
(405418101, 4, 7983455, 1)
EVENT_DATE       19/05/31 19:00:27 EVENT_CD                        18 VH_ID                      7983455 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1421667, dtype: object
(405418101, 4, 7983455, 4)
EVENT_DATE       19/05/31 20:39:56 EVENT_CD                        18 VH_ID                      7983419 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 1866882, dtype: object
(405418101, 5, 7983419, 4)
EVENT_DATE       19/05/31 08:11:24 EVENT_CD                        18 VH_ID                      7983437 ROUTE_ID                 405418101 RUN_DIST                      3613 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    6 Name: 239758, dtype: object
(405418101, 6, 7983437, 1)
EVENT_DATE       19/05/31 21:13:01 EVENT_CD                        18 VH_ID                      7983458 ROUTE_ID                 405418101 RUN_DIST                     94319 STATION_ORD                     27 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 2037566, dtype: object
(405418101, 6, 7983458, 5)
EVENT_DATE       19/05/31 21:43:05 EVENT_CD                        18 VH_ID                      7983457 ROUTE_ID                 405418101 RUN_DIST                     94319 STATION_ORD                     27 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1779406, dtype: object
(405418101, 7, 7983457, 5)
EVENT_DATE       19/05/31 22:14:16 EVENT_CD                        18 VH_ID                      7983480 ROUTE_ID                 405418101 RUN_DIST                     94319 STATION_ORD                     27 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 1915656, dtype: object
(405418101, 8, 7983480, 5)
EVENT_DATE       19/05/31 20:51:34 EVENT_CD                        18 VH_ID                      7983456 ROUTE_ID                 405418101 RUN_DIST                      3613 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    9 Name: 1724031, dtype: object
(405418101, 9, 7983456, 5)

EVENT_DATE       19/05/31 12:17:53 EVENT_CD                        18 VH_ID                      7983458 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    9 Name: 1234197, dtype: object
(405418101, 9, 7983458, 2)
EVENT_DATE       19/05/31 21:31:45 EVENT_CD                        18 VH_ID                      7983437 ROUTE_ID                 405418101 RUN_DIST                      3613 STATION_ORD                      2 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   10 Name: 2025696, dtype: object
(405418101, 10, 7983437, 6)
EVENT_DATE       19/05/31 12:49:33 EVENT_CD                        18 VH_ID                      7983457 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   10 Name: 1135471, dtype: object
(405418101, 10, 7983457, 2)
EVENT_DATE       19/05/31 13:28:24 EVENT_CD                        18 VH_ID                      7983480 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   11 Name: 1002234, dtype: object
(405418101, 11, 7983480, 2)
EVENT_DATE       19/05/31 14:07:11 EVENT_CD                        18 VH_ID                      7983455 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   12 Name: 840763, dtype: object
(405418101, 12, 7983455, 2)
EVENT_DATE       19/05/31 14:44:52 EVENT_CD                        18 VH_ID                      7983456 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   13 Name: 898261, dtype: object
(405418101, 13, 7983456, 2)
EVENT_DATE       19/05/31 12:48:55 EVENT_CD                        18 VH_ID                      7983437 ROUTE_ID                 405418101 RUN_DIST                      3613 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 1110611, dtype: object
(405418101, 14, 7983437, 3)
EVENT_DATE       19/05/31 15:25:05 EVENT_CD                        18 VH_ID                      7983437 ROUTE_ID                 405418101 RUN_DIST                     96185 STATION_ORD                     28 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1063255, dtype: object
(405418101, 15, 7983437, 4)
EVENT_DATE       19/05/31 15:21:47 EVENT_CD                        18 VH_ID                      7983458 ROUTE_ID                 405418101 RUN_DIST                     36872 STATION_ORD                     13 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   17 Name: 1055717, dtype: object
(405418101, 17, 7983458, 3)
EVENT_DATE       19/05/31 15:31:45 EVENT_CD                        18 VH_ID                      7983457 ROUTE_ID                 405418101 RUN_DIST                     13402 STATION_ORD                      9 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   18 Name: 975547, dtype: object
(405418101, 18, 7983457, 3)
EVENT_DATE       19/05/31 17:50:21 EVENT_CD                        18 VH_ID                      7983455 ROUTE_ID                 405418101 RUN_DIST                     56871 STATION_ORD                     20 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   22 Name: 1621291, dtype: object
(405418101, 22, 7983455, 3)
EVENT_DATE       19/05/31 17:43:00 EVENT_CD                        18 VH_ID                      7983456 ROUTE_ID                 405418101 RUN_DIST                     23201 STATION_ORD                     11 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   23 Name: 1609629, dtype: object
(405418101, 23, 7983456, 3)
EVENT_DATE       19/05/31 22:51:45 EVENT_CD                        18 VH_ID                      7983455 ROUTE_ID                 405418102 RUN_DIST                     94319 STATION_ORD                     27 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1911694, dtype: object
(405418102, 1, 7983455, 5)
EVENT_DATE       19/05/31 22:57:56 EVENT_CD                        18 VH_ID                      7983437 ROUTE_ID                 405418104 RUN_DIST                     44832 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1930348, dtype: object
(405418104, 0, 7983437, 6)
EVENT_DATE       19/05/31 23:37:39 EVENT_CD                        18 VH_ID                      7983419 ROUTE_ID                 405418104 RUN_DIST                     44832 STATION_ORD                     17 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1899962, dtype: object
(405418104, 1, 7983419, 5)
EVENT_DATE       19/05/31 21:17:56 EVENT_CD                        18 VH_ID                      7983609 ROUTE_ID                 405418201 RUN_DIST                     76951 STATION_ORD                     19 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 2034671, dtype: object
(405418201, 6, 7983609, 4)
EVENT_DATE       19/05/31 21:55:53 EVENT_CD                        18 VH_ID                      7983623 ROUTE_ID                 405418201 RUN_DIST                     51253 STATION_ORD                     12 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1823020, dtype: object
(405418201, 7, 7983623, 5)
EVENT_DATE       19/05/31 21:44:34 EVENT_CD                        18 VH_ID                      7983663 ROUTE_ID                 405418201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 1783078, dtype: object
(405418201, 8, 7983663, 5)
EVENT_DATE       19/05/31 16:46:43 EVENT_CD                        18 VH_ID                      7983600 ROUTE_ID                 405418201 RUN_DIST                     45454 STATION_ORD                     11 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   13 Name: 1569899, dtype: object
(405418201, 13, 7983600, 3)
EVENT_DATE       19/05/31 17:55:26 EVENT_CD                        18 VH_ID                      7983623 ROUTE_ID                 405418201 RUN_DIST                     60040 STATION_ORD                     16 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 1607796, dtype: object
(405418201, 14, 7983623, 3)
EVENT_DATE       19/05/31 17:54:41 EVENT_CD                        18 VH_ID                      7983628 ROUTE_ID                 405418201 RUN_DIST                     31954 STATION_ORD                      7 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   15 Name: 1614788, dtype: object
(405418201, 15, 7983628, 3)
EVENT_DATE       19/05/31 17:55:26 EVENT_CD                        18 VH_ID                      7983600 ROUTE_ID                 405418201 RUN_DIST                     93547 STATION_ORD                     25 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   16 Name: 1607788, dtype: object
(405418201, 16, 7983600, 4)
EVENT_DATE       19/05/31 17:49:28 EVENT_CD                        18 VH_ID                      7983663 ROUTE_ID                 405418201 RUN_DIST                      3164 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   17 Name: 1606960, dtype: object
(405418201, 17, 7983663, 3)
EVENT_DATE       19/05/31 21:19:50 EVENT_CD                        18 VH_ID                      7983662 ROUTE_ID                 405418203 RUN_DIST                     43709 STATION_ORD                     16 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 2045440, dtype: object
(405418203, 1, 7983662, 4)
EVENT_DATE       19/05/31 23:49:02 EVENT_CD                        18 VH_ID                      7983628 ROUTE_ID                 405418205 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1918582, dtype: object
(405418205, 1, 7983628, 6)
EVENT_DATE       19/05/31 21:12:33 EVENT_CD                        18 VH_ID                      7996056 ROUTE_ID                 405570101 RUN_DIST                     33848 STATION_ORD                     53 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 2033980, dtype: object
(405570101, 1, 7996056, 7)
EVENT_DATE       19/05/31 15:46:50 EVENT_CD                        18 VH_ID                      7996056 ROUTE_ID                 405570101 RUN_DIST                     37926 STATION_ORD                     59 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 942220, dtype: object
(405570101, 4, 7996056, 4)
EVENT_DATE       19/05/31 17:00:11 EVENT_CD                        18 VH_ID                      7996056 ROUTE_ID                 405570101 RUN_DIST                     21168 STATION_ORD                     33 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1472653, dtype: object
(405570101, 5, 7996056, 5)
EVENT_DATE       19/05/31 07:15:28 EVENT_CD                        18 VH_ID                      7996055 ROUTE_ID                 405570102 RUN_DIST                     38285 STATION_ORD                     58 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 306899, dtype: object
(405570102, 1, 7996055, 1)
EVENT_DATE       19/05/31 08:56:15 EVENT_CD                        18 VH_ID                      7996055 ROUTE_ID                 405570102 RUN_DIST                     38285 STATION_ORD                     58 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 753531, dtype: object
(405570102, 2, 7996055, 2)
EVENT_DATE       19/05/31 11:30:59 EVENT_CD                        18 VH_ID                      7996055 ROUTE_ID                 405570102 RUN_DIST                     38285 STATION_ORD                     58 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 626134, dtype: object
(405570102, 3, 7996055, 3)
EVENT_DATE       19/05/31 13:26:04 EVENT_CD                        18 VH_ID                      7996055 ROUTE_ID                 405570102 RUN_DIST                     38285 STATION_ORD                     58 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1001918, dtype: object
(405570102, 4, 7996055, 4)
EVENT_DATE       19/05/31 21:24:01 EVENT_CD                        18 VH_ID                      7997200 ROUTE_ID                 405570103 RUN_DIST                     31898 STATION_ORD                     47 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    1 Name: 1996593, dtype: object
(405570103, 1, 7997200, 12)
EVENT_DATE       19/05/31 08:35:35 EVENT_CD                        18 VH_ID                      7997200 ROUTE_ID                 405570103 RUN_DIST                       363 STATION_ORD                     21 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 150581, dtype: object
(405570103, 2, 7997200, 2)
EVENT_DATE       19/05/31 08:50:15 EVENT_CD                        18 VH_ID                      7997200 ROUTE_ID                 405570103 RUN_DIST                      9597 STATION_ORD                      8 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 752675, dtype: object
(405570103, 3, 7997200, 3)
EVENT_DATE       19/05/31 08:58:30 EVENT_CD                        18 VH_ID                      7997200 ROUTE_ID                 405570103 RUN_DIST                       363 STATION_ORD                      2 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 757409, dtype: object
(405570103, 4, 7997200, 4)
EVENT_DATE       19/05/31 10:12:01 EVENT_CD                        18 VH_ID                      7997200 ROUTE_ID                 405570103 RUN_DIST                     31898 STATION_ORD                     47 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 378614, dtype: object
(405570103, 5, 7997200, 5)
EVENT_DATE       19/05/31 15:53:23 EVENT_CD                        18 VH_ID                      7997200 ROUTE_ID                 405570104 RUN_DIST                     32169 STATION_ORD                     44 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    3 Name: 935980, dtype: object
(405570104, 3, 7997200, 9)
EVENT_DATE       19/05/31 07:22:59 EVENT_CD                        18 VH_ID                      7996031 ROUTE_ID                 405570201 RUN_DIST                      1074 STATION_ORD                      4 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 315128, dtype: object
(405570201, 1, 7996031, 2)
EVENT_DATE       19/05/31 11:09:29 EVENT_CD                        18 VH_ID                      7996004 ROUTE_ID                 405570202 RUN_DIST                     23478 STATION_ORD                     50 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 449836, dtype: object
(405570202, 1, 7996004, 2)
EVENT_DATE       19/05/31 18:20:53 EVENT_CD                        18 VH_ID                      7996004 ROUTE_ID                 405570202 RUN_DIST                     23478 STATION_ORD                     50 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1356145, dtype: object
(405570202, 1, 7996004, 6)
EVENT_DATE       19/05/31 15:26:40 EVENT_CD                        18 VH_ID                      7996004 ROUTE_ID                 405570202 RUN_DIST                     23478 STATION_ORD                     50 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 1056394, dtype: object
(405570202, 2, 7996004, 3)
EVENT_DATE       19/05/31 16:23:37 EVENT_CD                        18 VH_ID                      7996004 ROUTE_ID                 405570204 RUN_DIST                     20130 STATION_ORD                     48 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 1577324, dtype: object
(405570204, 0, 7996004, 3)
EVENT_DATE       19/05/31 17:22:59 EVENT_CD                        18 VH_ID                      7996004 ROUTE_ID                 405570204 RUN_DIST                     20130 STATION_ORD                     48 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1309700, dtype: object
(405570204, 1, 7996004, 4)
EVENT_DATE       19/05/31 21:05:54 EVENT_CD                        18 VH_ID                      7996031 ROUTE_ID                 405570206 RUN_DIST                     27483 STATION_ORD                     56 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    1 Name: 1750660, dtype: object
(405570206, 1, 7996031, 13)
EVENT_DATE       19/05/31 07:17:25 EVENT_CD                        18 VH_ID                      7996004 ROUTE_ID                 405570207 RUN_DIST                     28529 STATION_ORD                     59 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 317857, dtype: object
(405570207, 1, 7996004, 1)
EVENT_DATE       19/05/31 09:55:51 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570401 RUN_DIST                     33515 STATION_ORD                     57 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 542491, dtype: object
(405570401, 0, 7996033, 1)
EVENT_DATE       19/05/31 17:56:48 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570401 RUN_DIST                      2569 STATION_ORD                      9 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1632793, dtype: object
(405570401, 0, 7996033, 6)
EVENT_DATE       19/05/31 11:56:00 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570401 RUN_DIST                     33515 STATION_ORD                     57 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 502054, dtype: object
(405570401, 1, 7996033, 2)
EVENT_DATE       19/05/31 18:49:00 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570401 RUN_DIST                     33515 STATION_ORD                     58 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1512189, dtype: object
(405570401, 1, 7996033, 7)
EVENT_DATE       19/05/31 13:26:46 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570401 RUN_DIST                     33515 STATION_ORD                     57 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 1030364, dtype: object
(405570401, 2, 7996033, 3)
EVENT_DATE       19/05/31 16:48:35 EVENT_CD                        18 VH_ID                      7996011 ROUTE_ID                 405570402 RUN_DIST                     33482 STATION_ORD                     58 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 1446289, dtype: object
(405570402, 0, 7996011, 3)
EVENT_DATE       19/05/31 10:27:22 EVENT_CD                        18 VH_ID                      7996011 ROUTE_ID                 405570402 RUN_DIST                     33482 STATION_ORD                     58 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 405549, dtype: object
(405570402, 1, 7996011, 2)
EVENT_DATE       19/05/31 08:29:22 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570403 RUN_DIST                     24366 STATION_ORD                     46 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 128470, dtype: object
(405570403, 0, 7996033, 1)
EVENT_DATE       19/05/31 15:15:00 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570403 RUN_DIST                     24366 STATION_ORD                     46 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1083165, dtype: object
(405570403, 1, 7996033, 4)
EVENT_DATE       19/05/31 16:31:48 EVENT_CD                        18 VH_ID                      7996033 ROUTE_ID                 405570403 RUN_DIST                     24366 STATION_ORD                     46 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 1592605, dtype: object
(405570403, 2, 7996033, 5)
EVENT_DATE       19/05/31 13:24:57 EVENT_CD                        18 VH_ID                      7996011 ROUTE_ID                 405570404 RUN_DIST                     24371 STATION_ORD                     47 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    0 Name: 1033666, dtype: object
(405570404, 0, 7996011, 2)
EVENT_DATE       19/05/31 17:54:52 EVENT_CD                        18 VH_ID                      7996011 ROUTE_ID                 405570404 RUN_DIST                     22720 STATION_ORD                     43 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 1643196, dtype: object
(405570404, 0, 7996011, 3)
EVENT_DATE       19/05/31 15:17:28 EVENT_CD                        18 VH_ID                      7996011 ROUTE_ID                 405570404 RUN_DIST                     24371 STATION_ORD                     47 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 1083469, dtype: object
(405570404, 1, 7996011, 3)

EVENT_DATE       19/05/31 14:20:34 EVENT_CD                        18 VH_ID                      7996045 ROUTE_ID                 405571103 RUN_DIST                     32300 STATION_ORD                     40 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 1189313, dtype: object
(405571103, 4, 7996045, 3)
EVENT_DATE       19/05/31 15:34:08 EVENT_CD                        18 VH_ID                      7996041 ROUTE_ID                 405571103 RUN_DIST                     32300 STATION_ORD                     40 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    5 Name: 926295, dtype: object
(405571103, 5, 7996041, 7)
EVENT_DATE       19/05/31 16:43:49 EVENT_CD                        18 VH_ID                      7996045 ROUTE_ID                 405571103 RUN_DIST                     32300 STATION_ORD                     40 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1551786, dtype: object
(405571103, 6, 7996045, 5)
EVENT_DATE       19/05/31 16:11:10 EVENT_CD                        18 VH_ID                      7996041 ROUTE_ID                 405571103 RUN_DIST                     31799 STATION_ORD                     39 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1685708, dtype: object
(405571103, 7, 7996041, 8)
EVENT_DATE       19/05/31 16:44:35 EVENT_CD                        18 VH_ID                      7996041 ROUTE_ID                 405571103 RUN_DIST                     10993 STATION_ORD                     14 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    8 Name: 1597913, dtype: object
(405571103, 8, 7996041, 9)
EVENT_DATE       19/05/31 17:58:29 EVENT_CD                        18 VH_ID                      7996045 ROUTE_ID                 405571104 RUN_DIST                     32187 STATION_ORD                     40 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1633067, dtype: object
(405571104, 1, 7996045, 7)
EVENT_DATE       19/05/31 20:56:29 EVENT_CD                        18 VH_ID                      7996045 ROUTE_ID                 405571104 RUN_DIST                     23139 STATION_ORD                     30 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 1745905, dtype: object
(405571104, 2, 7996045, 9)
EVENT_DATE       19/05/31 17:56:08 EVENT_CD                        18 VH_ID                      7996045 ROUTE_ID                 405571104 RUN_DIST                     31301 STATION_ORD                     38 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1654039, dtype: object
(405571104, 5, 7996045, 6)
EVENT_DATE       19/05/31 21:00:06 EVENT_CD                        18 VH_ID                      7996041 ROUTE_ID                 405571106 RUN_DIST                     18062 STATION_ORD                     19 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1753415, dtype: object
(405571106, 1, 7996041, 11)
EVENT_DATE       19/05/31 13:14:01 EVENT_CD                        18 VH_ID                      7996042 ROUTE_ID                 405571112 RUN_DIST                     15337 STATION_ORD                     20 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1000437, dtype: object
(405571112, 1, 7996042, 6)
EVENT_DATE       19/05/31 09:48:16 EVENT_CD                        18 VH_ID                      7997400 ROUTE_ID                 405577102 RUN_DIST                     30555 STATION_ORD                     44 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 559134, dtype: object
(405577102, 2, 7997400, 3)
EVENT_DATE       19/05/31 20:35:17 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577103 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 1841451, dtype: object
(405577103, 0, 7997401, 0)
EVENT_DATE       19/05/31 07:02:13 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577103 RUN_DIST                      5057 STATION_ORD                      5 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 34324, dtype: object
(405577103, 1, 7997401, 1)
EVENT_DATE       19/05/31 20:29:36 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577103 RUN_DIST                      5326 STATION_ORD                      6 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    1 Name: 1837175, dtype: object
(405577103, 1, 7997401, 17)
EVENT_DATE       19/05/31 11:09:08 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577103 RUN_DIST                      5326 STATION_ORD                      6 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 460356, dtype: object
(405577103, 4, 7997401, 6)
EVENT_DATE       19/05/31 13:00:21 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577103 RUN_DIST                      5057 STATION_ORD                      5 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    6 Name: 1129765, dtype: object
(405577103, 6, 7997401, 9)
EVENT_DATE       19/05/31 15:10:33 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577103 RUN_DIST                      5057 STATION_ORD                      5 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    8 Name: 1086094, dtype: object
(405577103, 8, 7997401, 12)
EVENT_DATE       19/05/31 10:04:08 EVENT_CD                        18 VH_ID                      7997401 ROUTE_ID                 405577104 RUN_DIST                     21846 STATION_ORD                     28 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 571911, dtype: object
(405577104, 2, 7997401, 5)
EVENT_DATE       19/05/31 07:20:25 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     25860 STATION_ORD                     41 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 321823, dtype: object
(405577201, 2, 7996052, 2)
EVENT_DATE       19/05/31 19:31:48 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     26265 STATION_ORD                     42 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    2 Name: 2094795, dtype: object
(405577201, 2, 7996052, 17)
EVENT_DATE       19/05/31 20:45:40 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     24892 STATION_ORD                     40 BUS_RUN_CNT                     18 ROUTE_RUN_CNT                    3 Name: 1765662, dtype: object
(405577201, 3, 7996052, 18)
EVENT_DATE       19/05/31 09:20:59 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     26265 STATION_ORD                     42 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 693282, dtype: object
(405577201, 6, 7996052, 6)
EVENT_DATE       19/05/31 10:45:29 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     13820 STATION_ORD                     25 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    7 Name: 729726, dtype: object
(405577201, 7, 7996052, 7)
EVENT_DATE       19/05/31 11:05:22 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     25860 STATION_ORD                     41 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 449260, dtype: object
(405577201, 8, 7996052, 8)
EVENT_DATE       19/05/31 12:06:21 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     25860 STATION_ORD                     41 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    9 Name: 524690, dtype: object
(405577201, 9, 7996052, 9)
EVENT_DATE       19/05/31 13:00:35 EVENT_CD                        18 VH_ID                      7996052 ROUTE_ID                 405577201 RUN_DIST                     25860 STATION_ORD                     41 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   11 Name: 1105064, dtype: object
(405577201, 11, 7996052, 11)
EVENT_DATE       19/05/31 18:50:59 EVENT_CD                        18 VH_ID                      7996053 ROUTE_ID                 405577202 RUN_DIST                     25459 STATION_ORD                     39 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1505389, dtype: object
(405577202, 1, 7996053, 10)
EVENT_DATE       19/05/31 20:51:41 EVENT_CD                        18 VH_ID                      7996053 ROUTE_ID                 405577202 RUN_DIST                     23133 STATION_ORD                     36 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    3 Name: 1738216, dtype: object
(405577202, 3, 7996053, 12)
EVENT_DATE       19/05/31 15:29:27 EVENT_CD                        18 VH_ID                      7996053 ROUTE_ID                 405577202 RUN_DIST                     25459 STATION_ORD                     39 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 1042621, dtype: object
(405577202, 8, 7996053, 8)
EVENT_DATE       19/05/31 07:25:04 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577203 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 350813, dtype: object
(405577203, 0, 7997201, 0)
EVENT_DATE       19/05/31 07:24:27 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577203 RUN_DIST                      1076 STATION_ORD                      3 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 315317, dtype: object
(405577203, 1, 7997201, 1)
EVENT_DATE       19/05/31 20:37:50 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577203 RUN_DIST                     25655 STATION_ORD                     37 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    2 Name: 1856002, dtype: object
(405577203, 2, 7997201, 13)
EVENT_DATE       19/05/31 09:03:43 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577203 RUN_DIST                      4774 STATION_ORD                      5 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 793525, dtype: object
(405577203, 3, 7997201, 3)
EVENT_DATE       19/05/31 17:56:10 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577203 RUN_DIST                       269 STATION_ORD                      2 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    6 Name: 1604309, dtype: object
(405577203, 6, 7997201, 10)
EVENT_DATE       19/05/31 09:54:37 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577204 RUN_DIST                     26270 STATION_ORD                     36 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 538812, dtype: object
(405577204, 1, 7997201, 4)
EVENT_DATE       19/05/31 14:44:42 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577204 RUN_DIST                     27042 STATION_ORD                     37 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 877004, dtype: object
(405577204, 3, 7997201, 7)
EVENT_DATE       19/05/31 16:42:23 EVENT_CD                        18 VH_ID                      7997201 ROUTE_ID                 405577204 RUN_DIST                     26270 STATION_ORD                     36 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1562204, dtype: object
(405577204, 4, 7997201, 8)
EVENT_DATE       19/05/31 12:12:11 EVENT_CD                        18 VH_ID                      7996018 ROUTE_ID                 405578303 RUN_DIST                     17196 STATION_ORD                     22 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 468814, dtype: object
(405578303, 2, 7996018, 4)
EVENT_DATE       19/05/31 17:53:33 EVENT_CD                        18 VH_ID                      7996018 ROUTE_ID                 405578303 RUN_DIST                      9781 STATION_ORD                     15 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 1632383, dtype: object
(405578303, 3, 7996018, 8)
EVENT_DATE       19/05/31 20:35:41 EVENT_CD                        18 VH_ID                      7996035 ROUTE_ID                 405578309 RUN_DIST                     22564 STATION_ORD                     26 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1841510, dtype: object
(405578309, 1, 7996035, 10)
EVENT_DATE       19/05/31 08:16:07 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578401 RUN_DIST                     10908 STATION_ORD                     18 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 279271, dtype: object
(405578401, 2, 7996034, 3)
EVENT_DATE       19/05/31 06:55:17 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578402 RUN_DIST                      5838 STATION_ORD                      6 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 51091, dtype: object
(405578402, 1, 7996034, 1)
EVENT_DATE       19/05/31 07:32:06 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578402 RUN_DIST                     25491 STATION_ORD                     42 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 320031, dtype: object
(405578402, 2, 7996034, 2)
EVENT_DATE       19/05/31 20:45:57 EVENT_CD                        18 VH_ID                      7996003 ROUTE_ID                 405578402 RUN_DIST                     24715 STATION_ORD                     41 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    3 Name: 1751548, dtype: object
(405578402, 3, 7996003, 11)
EVENT_DATE       19/05/31 09:48:33 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578402 RUN_DIST                     25491 STATION_ORD                     42 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 541529, dtype: object
(405578402, 4, 7996034, 5)
EVENT_DATE       19/05/31 12:54:17 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578402 RUN_DIST                     24231 STATION_ORD                     39 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    5 Name: 1143107, dtype: object
(405578402, 5, 7996034, 7)
EVENT_DATE       19/05/31 17:55:38 EVENT_CD                        18 VH_ID                      7996003 ROUTE_ID                 405578402 RUN_DIST                      5838 STATION_ORD                      6 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1639742, dtype: object
(405578402, 7, 7996003, 8)
EVENT_DATE       19/05/31 12:24:33 EVENT_CD                        18 VH_ID                      7996047 ROUTE_ID                 405578404 RUN_DIST                     34854 STATION_ORD                     39 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 1213851, dtype: object
(405578404, 0, 7996047, 3)
EVENT_DATE       19/05/31 18:12:09 EVENT_CD                        18 VH_ID                      7996044 ROUTE_ID                 405578404 RUN_DIST                     34078 STATION_ORD                     38 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1365567, dtype: object
(405578404, 1, 7996044, 8)
EVENT_DATE       19/05/31 21:29:02 EVENT_CD                        18 VH_ID                      7996044 ROUTE_ID                 405578404 RUN_DIST                     34854 STATION_ORD                     39 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    3 Name: 2039485, dtype: object
(405578404, 3, 7996044, 9)
EVENT_DATE       19/05/31 15:16:30 EVENT_CD                        18 VH_ID                      7996047 ROUTE_ID                 405578404 RUN_DIST                     34854 STATION_ORD                     39 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1062106, dtype: object
(405578404, 4, 7996047, 5)
EVENT_DATE       19/05/31 15:37:33 EVENT_CD                        18 VH_ID                      7996044 ROUTE_ID                 405578404 RUN_DIST                     34854 STATION_ORD                     39 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 951576, dtype: object
(405578404, 5, 7996044, 5)
EVENT_DATE       19/05/31 17:56:31 EVENT_CD                        18 VH_ID                      7996044 ROUTE_ID                 405578404 RUN_DIST                     28512 STATION_ORD                     29 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1650518, dtype: object
(405578404, 6, 7996044, 7)
EVENT_DATE       19/05/31 11:11:06 EVENT_CD                        18 VH_ID                      7996047 ROUTE_ID                 405578405 RUN_DIST                     33439 STATION_ORD                     39 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 453564, dtype: object
(405578405, 3, 7996047, 3)
EVENT_DATE       19/05/31 13:39:05 EVENT_CD                        18 VH_ID                      7996047 ROUTE_ID                 405578405 RUN_DIST                     33439 STATION_ORD                     39 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 1021229, dtype: object
(405578405, 5, 7996047, 4)
EVENT_DATE       19/05/31 15:32:13 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578407 RUN_DIST                     22947 STATION_ORD                     41 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 929542, dtype: object
(405578407, 2, 7996034, 8)
EVENT_DATE       19/05/31 17:31:05 EVENT_CD                        18 VH_ID                      7996034 ROUTE_ID                 405578408 RUN_DIST                     24637 STATION_ORD                     40 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 1314373, dtype: object
(405578408, 2, 7996034, 9)
EVENT_DATE       19/05/31 18:30:44 EVENT_CD                        18 VH_ID                      7996013 ROUTE_ID                 405578505 RUN_DIST                     27958 STATION_ORD                     43 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1332665, dtype: object
(405578505, 1, 7996013, 8)
EVENT_DATE       19/05/31 07:46:21 EVENT_CD                        18 VH_ID                      7996013 ROUTE_ID                 405578505 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 97257, dtype: object
(405578505, 2, 7996013, 2)

EVENT_DATE       19/05/31 16:31:05 EVENT_CD                        18 VH_ID                      7996049 ROUTE_ID                 405578507 RUN_DIST                     27963 STATION_ORD                     44 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1546492, dtype: object
(405578507, 3, 7996049, 6)
EVENT_DATE       19/05/31 08:44:38 EVENT_CD                        18 VH_ID                      7996049 ROUTE_ID                 405578508 RUN_DIST                     27815 STATION_ORD                     39 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 141304, dtype: object
(405578508, 1, 7996049, 2)
EVENT_DATE       19/05/31 11:42:12 EVENT_CD                        18 VH_ID                      7996048 ROUTE_ID                 405578508 RUN_DIST                     27815 STATION_ORD                     39 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 620577, dtype: object
(405578508, 2, 7996048, 3)
EVENT_DATE       19/05/31 13:46:30 EVENT_CD                        18 VH_ID                      7996048 ROUTE_ID                 405578508 RUN_DIST                     25532 STATION_ORD                     38 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 863013, dtype: object
(405578508, 3, 7996048, 5)
EVENT_DATE       19/05/31 17:54:35 EVENT_CD                        18 VH_ID                      7996049 ROUTE_ID                 405578508 RUN_DIST                     27815 STATION_ORD                     39 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 1604088, dtype: object
(405578508, 4, 7996049, 7)
EVENT_DATE       19/05/31 21:01:47 EVENT_CD                        18 VH_ID                      7996050 ROUTE_ID                 405579101 RUN_DIST                     19483 STATION_ORD                     43 BUS_RUN_CNT                     25 ROUTE_RUN_CNT                    9 Name: 1760708, dtype: object
(405579101, 9, 7996050, 25)
EVENT_DATE       19/05/31 15:11:15 EVENT_CD                        18 VH_ID                      7996021 ROUTE_ID                 405579203 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                    194 ROUTE_RUN_CNT                   30 Name: 1068493, dtype: object
(405579203, 30, 7996021, 194)
EVENT_DATE       19/05/31 17:54:27 EVENT_CD                        18 VH_ID                      7996036 ROUTE_ID                 405579203 RUN_DIST                      2815 STATION_ORD                      9 BUS_RUN_CNT                     28 ROUTE_RUN_CNT                   33 Name: 1643136, dtype: object
(405579203, 33, 7996036, 28)
EVENT_DATE       19/05/31 07:15:31 EVENT_CD                        18 VH_ID                      7996021 ROUTE_ID                 405579204 RUN_DIST                     24617 STATION_ORD                     50 BUS_RUN_CNT                    187 ROUTE_RUN_CNT                  187 Name: 313983, dtype: object
(405579204, 187, 7996021, 187)
EVENT_DATE       19/05/31 07:20:17 EVENT_CD                        18 VH_ID                      7996021 ROUTE_ID                 405579204 RUN_DIST                      9015 STATION_ORD                     20 BUS_RUN_CNT                    188 ROUTE_RUN_CNT                  188 Name: 300583, dtype: object
(405579204, 188, 7996021, 188)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7996021 ROUTE_ID                 405579204 RUN_DIST                     13170 STATION_ORD                     27 BUS_RUN_CNT                    204 ROUTE_RUN_CNT                  211 Name: 1657650, dtype: object
(405579204, 211, 7996021, 204)
EVENT_DATE       19/05/31 12:45:43 EVENT_CD                        18 VH_ID                      7996051 ROUTE_ID                 405579205 RUN_DIST                     24559 STATION_ORD                     53 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    3 Name: 1092536, dtype: object
(405579205, 3, 7996051, 13)
EVENT_DATE       19/05/31 14:34:02 EVENT_CD                        18 VH_ID                      7996051 ROUTE_ID                 405579205 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    5 Name: 1159059, dtype: object
(405579205, 5, 7996051, 15)
EVENT_DATE       19/05/31 12:58:24 EVENT_CD                        18 VH_ID                      7996037 ROUTE_ID                 405579301 RUN_DIST                     26171 STATION_ORD                     46 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1108305, dtype: object
(405579301, 3, 7996037, 5)
EVENT_DATE       19/05/31 13:12:01 EVENT_CD                        18 VH_ID                      7996022 ROUTE_ID                 405579302 RUN_DIST                     26350 STATION_ORD                     45 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1131259, dtype: object
(405579302, 3, 7996022, 5)
EVENT_DATE       19/05/31 17:56:01 EVENT_CD                        18 VH_ID                      7996022 ROUTE_ID                 405579303 RUN_DIST                     18011 STATION_ORD                     34 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1636283, dtype: object
(405579303, 4, 7996022, 8)
EVENT_DATE       19/05/31 20:56:08 EVENT_CD                        18 VH_ID                      7996037 ROUTE_ID                 405579304 RUN_DIST                     27670 STATION_ORD                     41 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1756454, dtype: object
(405579304, 1, 7996037, 10)
EVENT_DATE       19/05/31 06:55:50 EVENT_CD                        18 VH_ID                      7996038 ROUTE_ID                 405579305 RUN_DIST                      4230 STATION_ORD                      9 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 15614, dtype: object
(405579305, 1, 7996038, 1)
EVENT_DATE       19/05/31 13:00:29 EVENT_CD                        18 VH_ID                      7996038 ROUTE_ID                 405579306 RUN_DIST                     16918 STATION_ORD                     32 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1094417, dtype: object
(405579306, 3, 7996038, 7)
EVENT_DATE       19/05/31 07:01:48 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 30678, dtype: object
(405579401, 1, 7996039, 1)
EVENT_DATE       19/05/31 19:15:34 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1430899, dtype: object
(405579401, 1, 7996039, 11)
EVENT_DATE       19/05/31 07:39:37 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 74988, dtype: object
(405579401, 2, 7996009, 1)
EVENT_DATE       19/05/31 19:55:38 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    2 Name: 1988456, dtype: object
(405579401, 2, 7996009, 12)
EVENT_DATE       19/05/31 20:53:26 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    3 Name: 1745506, dtype: object
(405579401, 3, 7996039, 12)
EVENT_DATE       19/05/31 09:31:56 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 662985, dtype: object
(405579401, 4, 7996009, 3)
EVENT_DATE       19/05/31 11:48:56 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 628526, dtype: object
(405579401, 6, 7996009, 5)
EVENT_DATE       19/05/31 13:18:33 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 1015205, dtype: object
(405579401, 8, 7996009, 7)
EVENT_DATE       19/05/31 15:09:30 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    9 Name: 1050533, dtype: object
(405579401, 9, 7996039, 9)
EVENT_DATE       19/05/31 16:03:20 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   10 Name: 1673976, dtype: object
(405579401, 10, 7996009, 9)
EVENT_DATE       19/05/31 16:40:06 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   11 Name: 1572498, dtype: object
(405579401, 11, 7996039, 10)
EVENT_DATE       19/05/31 17:39:33 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579401 RUN_DIST                     15300 STATION_ORD                     33 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   12 Name: 1272917, dtype: object
(405579401, 12, 7996009, 10)
EVENT_DATE       19/05/31 17:56:34 EVENT_CD                        18 VH_ID                      7996009 ROUTE_ID                 405579402 RUN_DIST                      2360 STATION_ORD                      6 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    0 Name: 1657617, dtype: object
(405579402, 0, 7996009, 10)
EVENT_DATE       19/05/31 17:22:56 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579402 RUN_DIST                     15217 STATION_ORD                     32 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    0 Name: 1302580, dtype: object
(405579402, 0, 7996039, 10)
EVENT_DATE       19/05/31 21:31:52 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579402 RUN_DIST                     15217 STATION_ORD                     32 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    0 Name: 2039811, dtype: object
(405579402, 0, 7996039, 12)
EVENT_DATE       19/05/31 13:10:21 EVENT_CD                        18 VH_ID                      7996039 ROUTE_ID                 405579402 RUN_DIST                     15217 STATION_ORD                     32 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1141652, dtype: object
(405579402, 7, 7996039, 8)
EVENT_DATE       19/05/31 19:25:42 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 2072684, dtype: object
(405579403, 1, 7996002, 10)
EVENT_DATE       19/05/31 07:12:35 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 18034, dtype: object
(405579403, 1, 7996043, 1)
EVENT_DATE       19/05/31 08:43:25 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 134085, dtype: object
(405579403, 2, 7996043, 2)
EVENT_DATE       19/05/31 20:25:14 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    2 Name: 1864882, dtype: object
(405579403, 2, 7996043, 11)
EVENT_DATE       19/05/31 09:17:49 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 689310, dtype: object
(405579403, 3, 7996002, 2)
EVENT_DATE       19/05/31 21:02:04 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    3 Name: 1746620, dtype: object
(405579403, 3, 7996002, 11)
EVENT_DATE       19/05/31 11:13:16 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 418492, dtype: object
(405579403, 4, 7996043, 3)
EVENT_DATE       19/05/31 11:39:25 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 588454, dtype: object
(405579403, 5, 7996002, 5)
EVENT_DATE       19/05/31 12:31:10 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1235937, dtype: object
(405579403, 6, 7996043, 4)
EVENT_DATE       19/05/31 13:06:02 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 1144607, dtype: object
(405579403, 7, 7996002, 6)
EVENT_DATE       19/05/31 15:32:33 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    9 Name: 975636, dtype: object
(405579403, 9, 7996002, 7)
EVENT_DATE       19/05/31 17:52:48 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579403 RUN_DIST                     11842 STATION_ORD                     20 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   12 Name: 1639367, dtype: object
(405579403, 12, 7996043, 9)
EVENT_DATE       19/05/31 13:38:48 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579404 RUN_DIST                     11640 STATION_ORD                     20 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 985765, dtype: object
(405579404, 0, 7996002, 6)
EVENT_DATE       19/05/31 20:06:14 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579404 RUN_DIST                      9697 STATION_ORD                     17 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    0 Name: 1986365, dtype: object
(405579404, 0, 7996002, 10)
EVENT_DATE       19/05/31 13:13:18 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579404 RUN_DIST                     11640 STATION_ORD                     20 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    0 Name: 1018092, dtype: object
(405579404, 0, 7996043, 4)
EVENT_DATE       19/05/31 09:50:34 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579404 RUN_DIST                      4215 STATION_ORD                      9 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    1 Name: 538257, dtype: object
(405579404, 1, 7996002, 3)
EVENT_DATE       19/05/31 19:26:01 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579404 RUN_DIST                     11640 STATION_ORD                     20 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 2065653, dtype: object
(405579404, 1, 7996043, 10)
EVENT_DATE       19/05/31 21:09:30 EVENT_CD                        18 VH_ID                      7996043 ROUTE_ID                 405579404 RUN_DIST                     11640 STATION_ORD                     20 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    2 Name: 2040663, dtype: object
(405579404, 2, 7996043, 12)
EVENT_DATE       19/05/31 07:42:19 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579405 RUN_DIST                     23338 STATION_ORD                     36 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 100195, dtype: object
(405579405, 1, 7996002, 1)
EVENT_DATE       19/05/31 21:50:36 EVENT_CD                        18 VH_ID                      7996002 ROUTE_ID                 405579406 RUN_DIST                     20627 STATION_ORD                     33 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    0 Name: 1780193, dtype: object
(405579406, 0, 7996002, 11)
EVENT_DATE       19/05/31 18:40:49 EVENT_CD                        18 VH_ID                      7983716 ROUTE_ID                 405660001 RUN_DIST                      2868 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 1504013, dtype: object
(405660001, 8, 7983716, 5)
EVENT_DATE       19/05/31 09:13:55 EVENT_CD                        18 VH_ID                      7983714 ROUTE_ID                 405660001 RUN_DIST                      5052 STATION_ORD                      5 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   10 Name: 795010, dtype: object
(405660001, 10, 7983714, 2)
EVENT_DATE       19/05/31 20:41:53 EVENT_CD                        18 VH_ID                      7983714 ROUTE_ID                 405660001 RUN_DIST                     39621 STATION_ORD                     11 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   14 Name: 1743959, dtype: object
(405660001, 14, 7983714, 7)

EVENT_DATE       19/05/31 21:48:05 EVENT_CD                        18 VH_ID                      7983713 ROUTE_ID                 405660001 RUN_DIST                     62221 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   16 Name: 1772919, dtype: object
(405660001, 16, 7983713, 7)
EVENT_DATE       19/05/31 22:56:59 EVENT_CD                        18 VH_ID                      7983720 ROUTE_ID                 405660001 RUN_DIST                     62221 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   20 Name: 1908762, dtype: object
(405660001, 20, 7983720, 7)
EVENT_DATE       19/05/31 23:20:33 EVENT_CD                        18 VH_ID                      7983700 ROUTE_ID                 405660001 RUN_DIST                     62221 STATION_ORD                     33 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   22 Name: 1927606, dtype: object
(405660001, 22, 7983700, 8)
EVENT_DATE       19/05/31 15:07:12 EVENT_CD                        18 VH_ID                      7983713 ROUTE_ID                 405660001 RUN_DIST                      2868 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   28 Name: 1075001, dtype: object
(405660001, 28, 7983713, 3)
EVENT_DATE       19/05/31 17:22:03 EVENT_CD                        18 VH_ID                      7983701 ROUTE_ID                 405660001 RUN_DIST                     41420 STATION_ORD                     14 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   35 Name: 1288306, dtype: object
(405660001, 35, 7983701, 5)
EVENT_DATE       19/05/31 17:55:54 EVENT_CD                        18 VH_ID                      7983706 ROUTE_ID                 405660001 RUN_DIST                     51100 STATION_ORD                     27 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   36 Name: 1622043, dtype: object
(405660001, 36, 7983706, 6)
EVENT_DATE       19/05/31 17:56:37 EVENT_CD                        18 VH_ID                      7983700 ROUTE_ID                 405660001 RUN_DIST                     41969 STATION_ORD                     16 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   37 Name: 1604416, dtype: object
(405660001, 37, 7983700, 5)
EVENT_DATE       19/05/31 17:37:48 EVENT_CD                        18 VH_ID                      7983711 ROUTE_ID                 405660001 RUN_DIST                      5052 STATION_ORD                      5 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   38 Name: 1272785, dtype: object
(405660001, 38, 7983711, 4)
EVENT_DATE       19/05/31 17:56:27 EVENT_CD                        18 VH_ID                      7983705 ROUTE_ID                 405660001 RUN_DIST                      5052 STATION_ORD                      5 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   40 Name: 1639894, dtype: object
(405660001, 40, 7983705, 5)
EVENT_DATE       19/05/31 17:56:21 EVENT_CD                        18 VH_ID                      7983715 ROUTE_ID                 405660001 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   41 Name: 1625680, dtype: object
(405660001, 41, 7983715, 5)
EVENT_DATE       19/05/31 00:12:21 EVENT_CD                        18 VH_ID                      7983711 ROUTE_ID                 405660001 RUN_DIST                     62221 STATION_ORD                     33 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   51 Name: 295874, dtype: object
(405660001, 51, 7983711, 8)
EVENT_DATE       19/05/31 17:31:14 EVENT_CD                        18 VH_ID                      7983714 ROUTE_ID                 405660002 RUN_DIST                     33926 STATION_ORD                     29 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1278929, dtype: object
(405660002, 0, 7983714, 5)
EVENT_DATE       19/05/31 08:44:42 EVENT_CD                        18 VH_ID                      7983701 ROUTE_ID                 405660002 RUN_DIST                     57426 STATION_ORD                     30 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    5 Name: 148414, dtype: object
(405660002, 5, 7983701, 1)
EVENT_DATE       19/05/31 21:09:51 EVENT_CD                        18 VH_ID                      7983705 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   12 Name: 2030094, dtype: object
(405660002, 12, 7983705, 8)
EVENT_DATE       19/05/31 21:27:44 EVENT_CD                        18 VH_ID                      7983715 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   13 Name: 1997028, dtype: object
(405660002, 13, 7983715, 7)
EVENT_DATE       19/05/31 22:08:26 EVENT_CD                        18 VH_ID                      7983703 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   16 Name: 1785461, dtype: object
(405660002, 16, 7983703, 6)
EVENT_DATE       19/05/31 21:55:44 EVENT_CD                        18 VH_ID                      7983716 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   17 Name: 1805404, dtype: object
(405660002, 17, 7983716, 7)
EVENT_DATE       19/05/31 22:47:11 EVENT_CD                        18 VH_ID                      7983707 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   19 Name: 1905341, dtype: object
(405660002, 19, 7983707, 7)
EVENT_DATE       19/05/31 22:54:20 EVENT_CD                        18 VH_ID                      7983714 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   20 Name: 1886804, dtype: object
(405660002, 20, 7983714, 9)
EVENT_DATE       19/05/31 23:10:18 EVENT_CD                        18 VH_ID                      7983719 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   21 Name: 1905964, dtype: object
(405660002, 21, 7983719, 9)
EVENT_DATE       19/05/31 17:50:10 EVENT_CD                        18 VH_ID                      7983707 ROUTE_ID                 405660002 RUN_DIST                     59661 STATION_ORD                     33 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   36 Name: 1653191, dtype: object
(405660002, 36, 7983707, 4)
EVENT_DATE       19/05/31 17:52:46 EVENT_CD                        18 VH_ID                      7983719 ROUTE_ID                 405660002 RUN_DIST                     33926 STATION_ORD                     29 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   38 Name: 1632275, dtype: object
(405660002, 38, 7983719, 5)
EVENT_DATE       19/05/31 17:56:36 EVENT_CD                        18 VH_ID                      7983713 ROUTE_ID                 405660002 RUN_DIST                     22911 STATION_ORD                     24 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   39 Name: 1604379, dtype: object
(405660002, 39, 7983713, 5)
EVENT_DATE       19/05/31 17:54:53 EVENT_CD                        18 VH_ID                      7983717 ROUTE_ID                 405660002 RUN_DIST                     12485 STATION_ORD                     10 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   40 Name: 1643227, dtype: object
(405660002, 40, 7983717, 5)
EVENT_DATE       19/05/31 17:56:00 EVENT_CD                        18 VH_ID                      7983720 ROUTE_ID                 405660002 RUN_DIST                      3324 STATION_ORD                      5 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   41 Name: 1632729, dtype: object
(405660002, 41, 7983720, 5)
EVENT_DATE       19/05/31 23:58:58 EVENT_CD                        18 VH_ID                      7983710 ROUTE_ID                 405660003 RUN_DIST                     52531 STATION_ORD                     29 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1900093, dtype: object
(405660003, 1, 7983710, 7)
EVENT_DATE       19/05/31 22:49:34 EVENT_CD                        18 VH_ID                      7983668 ROUTE_ID                 405680001 RUN_DIST                     54164 STATION_ORD                     15 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1889798, dtype: object
(405680001, 7, 7983668, 8)
EVENT_DATE       19/05/31 17:55:10 EVENT_CD                        18 VH_ID                      7983657 ROUTE_ID                 405680001 RUN_DIST                     52742 STATION_ORD                     14 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   15 Name: 1629061, dtype: object
(405680001, 15, 7983657, 5)
EVENT_DATE       19/05/31 17:52:25 EVENT_CD                        18 VH_ID                      7983668 ROUTE_ID                 405680001 RUN_DIST                      8479 STATION_ORD                      6 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   16 Name: 1635753, dtype: object
(405680001, 16, 7983668, 5)
EVENT_DATE       19/05/31 08:02:22 EVENT_CD                        18 VH_ID                      7983661 ROUTE_ID                 405680002 RUN_DIST                     52148 STATION_ORD                     14 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 273681, dtype: object
(405680002, 2, 7983661, 1)
EVENT_DATE       19/05/31 17:49:09 EVENT_CD                        18 VH_ID                      7983659 ROUTE_ID                 405680002 RUN_DIST                     47997 STATION_ORD                     12 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   14 Name: 1621100, dtype: object
(405680002, 14, 7983659, 6)
EVENT_DATE       19/05/31 17:53:44 EVENT_CD                        18 VH_ID                      7983656 ROUTE_ID                 405680002 RUN_DIST                      1414 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   15 Name: 1657262, dtype: object
(405680002, 15, 7983656, 5)
EVENT_DATE       19/05/31 08:53:14 EVENT_CD                        18 VH_ID                      7983670 ROUTE_ID                 405680003 RUN_DIST                     53386 STATION_ORD                     15 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    4 Name: 806116, dtype: object
(405680003, 4, 7983670, 1)
EVENT_DATE       19/05/31 22:13:24 EVENT_CD                        18 VH_ID                      7983672 ROUTE_ID                 405680003 RUN_DIST                     53386 STATION_ORD                     15 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    5 Name: 1900120, dtype: object
(405680003, 5, 7983672, 8)
EVENT_DATE       19/05/31 23:18:50 EVENT_CD                        18 VH_ID                      7983660 ROUTE_ID                 405680003 RUN_DIST                     53386 STATION_ORD                     15 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    6 Name: 1909138, dtype: object
(405680003, 6, 7983660, 8)
EVENT_DATE       19/05/31 13:02:53 EVENT_CD                        18 VH_ID                      7983670 ROUTE_ID                 405680003 RUN_DIST                     53386 STATION_ORD                     15 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                   10 Name: 1122994, dtype: object
(405680003, 10, 7983670, 2)
EVENT_DATE       19/05/31 17:42:14 EVENT_CD                        18 VH_ID                      7983672 ROUTE_ID                 405680003 RUN_DIST                      8479 STATION_ORD                      6 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   17 Name: 1620187, dtype: object
(405680003, 17, 7983672, 5)
EVENT_DATE       19/05/31 17:48:11 EVENT_CD                        18 VH_ID                      7983671 ROUTE_ID                 405680004 RUN_DIST                     21858 STATION_ORD                     10 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   14 Name: 1656470, dtype: object
(405680004, 14, 7983671, 6)
EVENT_DATE       19/05/31 08:37:34 EVENT_CD                        18 VH_ID                      7991110 ROUTE_ID                 405711101 RUN_DIST                      9500 STATION_ORD                      8 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 157981, dtype: object
(405711101, 1, 7991110, 1)
EVENT_DATE       19/05/31 10:50:17 EVENT_CD                        18 VH_ID                      7991110 ROUTE_ID                 405711101 RUN_DIST                     31399 STATION_ORD                     22 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 723331, dtype: object
(405711101, 2, 7991110, 2)
EVENT_DATE       19/05/31 12:50:43 EVENT_CD                        18 VH_ID                      7991110 ROUTE_ID                 405711101 RUN_DIST                     31399 STATION_ORD                     22 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 1121436, dtype: object
(405711101, 3, 7991110, 3)
EVENT_DATE       19/05/31 08:56:34 EVENT_CD                        18 VH_ID                      7983903 ROUTE_ID                 405881001 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 803039, dtype: object
(405881001, 3, 7983903, 1)
EVENT_DATE       19/05/31 14:38:48 EVENT_CD                        18 VH_ID                      7983915 ROUTE_ID                 405881001 RUN_DIST                      4946 STATION_ORD                      3 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   11 Name: 876257, dtype: object
(405881001, 11, 7983915, 3)
EVENT_DATE       19/05/31 17:20:10 EVENT_CD                        18 VH_ID                      7983915 ROUTE_ID                 405881001 RUN_DIST                     27345 STATION_ORD                     14 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   17 Name: 1312876, dtype: object
(405881001, 17, 7983915, 5)
EVENT_DATE       19/05/31 17:52:39 EVENT_CD                        18 VH_ID                      7983903 ROUTE_ID                 405881001 RUN_DIST                     27345 STATION_ORD                     14 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1618037, dtype: object
(405881001, 18, 7983903, 5)
EVENT_DATE       19/05/31 11:02:29 EVENT_CD                        18 VH_ID                      7983904 ROUTE_ID                 405881002 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    6 Name: 448868, dtype: object
(405881002, 6, 7983904, 2)
EVENT_DATE       19/05/31 14:45:28 EVENT_CD                        18 VH_ID                      7983917 ROUTE_ID                 405881002 RUN_DIST                     42203 STATION_ORD                     22 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    9 Name: 870005, dtype: object
(405881002, 9, 7983917, 2)
EVENT_DATE       19/05/31 17:52:22 EVENT_CD                        18 VH_ID                      7983916 ROUTE_ID                 405881002 RUN_DIST                     27874 STATION_ORD                     16 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   15 Name: 1628651, dtype: object
(405881002, 15, 7983916, 4)
EVENT_DATE       19/05/31 17:53:29 EVENT_CD                        18 VH_ID                      7983917 ROUTE_ID                 405881002 RUN_DIST                     13108 STATION_ORD                      9 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   16 Name: 1625257, dtype: object
(405881002, 16, 7983917, 4)

EVENT_DATE       19/05/31 14:36:23 EVENT_CD                        18 VH_ID                      7983913 ROUTE_ID                 405882001 RUN_DIST                     18746 STATION_ORD                     11 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    9 Name: 1184200, dtype: object
(405882001, 9, 7983913, 3)
EVENT_DATE       19/05/31 15:08:46 EVENT_CD                        18 VH_ID                      7983910 ROUTE_ID                 405882001 RUN_DIST                      2458 STATION_ORD                      2 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   12 Name: 1061048, dtype: object
(405882001, 12, 7983910, 3)
EVENT_DATE       19/05/31 15:58:23 EVENT_CD                        18 VH_ID                      7983911 ROUTE_ID                 405882001 RUN_DIST                     14532 STATION_ORD                      9 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   14 Name: 1673345, dtype: object
(405882001, 14, 7983911, 3)
EVENT_DATE       19/05/31 17:56:20 EVENT_CD                        18 VH_ID                      7983910 ROUTE_ID                 405882001 RUN_DIST                     29347 STATION_ORD                     18 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   18 Name: 1625661, dtype: object
(405882001, 18, 7983910, 5)
EVENT_DATE       19/05/31 17:54:34 EVENT_CD                        18 VH_ID                      7983911 ROUTE_ID                 405882001 RUN_DIST                     12264 STATION_ORD                      8 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   19 Name: 1657365, dtype: object
(405882001, 19, 7983911, 5)
EVENT_DATE       19/05/31 14:21:21 EVENT_CD                        18 VH_ID                      7983901 ROUTE_ID                 405882002 RUN_DIST                      9896 STATION_ORD                      9 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    9 Name: 1175243, dtype: object
(405882002, 9, 7983901, 3)
EVENT_DATE       19/05/31 17:11:26 EVENT_CD                        18 VH_ID                      7983901 ROUTE_ID                 405882002 RUN_DIST                     36676 STATION_ORD                     25 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   14 Name: 1474185, dtype: object
(405882002, 14, 7983901, 5)
EVENT_DATE       19/05/31 17:55:30 EVENT_CD                        18 VH_ID                      7983906 ROUTE_ID                 405882002 RUN_DIST                     29952 STATION_ORD                     21 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   16 Name: 1618439, dtype: object
(405882002, 16, 7983906, 5)
EVENT_DATE       19/05/31 17:56:37 EVENT_CD                        18 VH_ID                      7983907 ROUTE_ID                 405882002 RUN_DIST                     12341 STATION_ORD                     11 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   17 Name: 1604417, dtype: object
(405882002, 17, 7983907, 4)
EVENT_DATE       19/05/31 19:12:19 EVENT_CD                        18 VH_ID                      7983906 ROUTE_ID                 405882004 RUN_DIST                     34641 STATION_ORD                     25 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1423352, dtype: object
(405882004, 1, 7983906, 7)
EVENT_DATE       19/05/31 22:56:07 EVENT_CD                        18 VH_ID                      7983914 ROUTE_ID                 405900101 RUN_DIST                     16664 STATION_ORD                     35 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 1886861, dtype: object
(405900101, 1, 7983914, 6)
EVENT_DATE       19/05/31 23:59:47 EVENT_CD                        18 VH_ID                      7983914 ROUTE_ID                 405900101 RUN_DIST                     14858 STATION_ORD                     30 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1903215, dtype: object
(405900101, 3, 7983914, 7)
EVENT_DATE       19/05/31 23:59:54 EVENT_CD                        18 VH_ID                      7983901 ROUTE_ID                 405900102 RUN_DIST                     11832 STATION_ORD                     25 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 1903221, dtype: object
(405900102, 3, 7983901, 7)
EVENT_DATE       19/05/31 00:34:34 EVENT_CD                        18 VH_ID                      7983910 ROUTE_ID                 405900103 RUN_DIST                     16088 STATION_ORD                     33 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 290071, dtype: object
(405900103, 0, 7983910, 1)
EVENT_DATE       19/05/31 23:57:32 EVENT_CD                        18 VH_ID                      7983902 ROUTE_ID                 405900103 RUN_DIST                      5178 STATION_ORD                     12 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1896944, dtype: object
(405900103, 1, 7983902, 9)
EVENT_DATE       19/05/31 00:42:12 EVENT_CD                        18 VH_ID                      7983909 ROUTE_ID                 405900105 RUN_DIST                     15863 STATION_ORD                     38 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    1 Name: 292024, dtype: object
(405900105, 1, 7983909, 6)
EVENT_DATE       19/05/31 23:57:20 EVENT_CD                        18 VH_ID                      7983916 ROUTE_ID                 405900105 RUN_DIST                       998 STATION_ORD                      2 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1896930, dtype: object
(405900105, 1, 7983916, 7)
EVENT_DATE       19/05/31 00:12:22 EVENT_CD                        18 VH_ID                      7983901 ROUTE_ID                 405900302 RUN_DIST                     18923 STATION_ORD                     45 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 295875, dtype: object
(405900302, 1, 7983901, 7)
EVENT_DATE       19/05/31 23:59:02 EVENT_CD                        18 VH_ID                      7983907 ROUTE_ID                 405900302 RUN_DIST                     17022 STATION_ORD                     40 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1903176, dtype: object
(405900302, 1, 7983907, 7)
EVENT_DATE       19/05/31 23:57:25 EVENT_CD                        18 VH_ID                      7983905 ROUTE_ID                 405900303 RUN_DIST                      6629 STATION_ORD                     16 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1896935, dtype: object
(405900303, 2, 7983905, 6)
EVENT_DATE       19/05/31 23:14:27 EVENT_CD                        18 VH_ID                      7983912 ROUTE_ID                 405900501 RUN_DIST                     18564 STATION_ORD                     42 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    1 Name: 1909091, dtype: object
(405900501, 1, 7983912, 5)
EVENT_DATE       19/05/31 23:58:37 EVENT_CD                        18 VH_ID                      7983903 ROUTE_ID                 405900501 RUN_DIST                     10154 STATION_ORD                     28 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1900073, dtype: object
(405900501, 2, 7983903, 8)
EVENT_DATE       19/05/31 23:59:53 EVENT_CD                        18 VH_ID                      7983912 ROUTE_ID                 405900502 RUN_DIST                     14695 STATION_ORD                     32 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    0 Name: 1903220, dtype: object
(405900502, 0, 7983912, 5)
EVENT_DATE       19/05/31 23:59:48 EVENT_CD                        18 VH_ID                      7983904 ROUTE_ID                 405900601 RUN_DIST                     16140 STATION_ORD                     42 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1903216, dtype: object
(405900601, 2, 7983904, 4)
EVENT_DATE       19/05/31 17:56:42 EVENT_CD                        18 VH_ID                      7997519 ROUTE_ID                 406151001 RUN_DIST                     13332 STATION_ORD                     30 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    0 Name: 1618584, dtype: object
(406151001, 0, 7997519, 8)
EVENT_DATE       19/05/31 09:01:36 EVENT_CD                        18 VH_ID                      7997528 ROUTE_ID                 406151001 RUN_DIST                     24946 STATION_ORD                     55 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 768460, dtype: object
(406151001, 0, 7997528, 1)
EVENT_DATE       19/05/31 10:17:49 EVENT_CD                        18 VH_ID                      7997537 ROUTE_ID                 406151001 RUN_DIST                     23853 STATION_ORD                     52 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 407780, dtype: object
(406151001, 0, 7997537, 1)
EVENT_DATE       19/05/31 16:34:05 EVENT_CD                        18 VH_ID                      7997543 ROUTE_ID                 406151001 RUN_DIST                       420 STATION_ORD                      2 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    0 Name: 1578741, dtype: object
(406151001, 0, 7997543, 6)
EVENT_DATE       19/05/31 07:10:30 EVENT_CD                        18 VH_ID                      7997506 ROUTE_ID                 406151001 RUN_DIST                       420 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 39065, dtype: object
(406151001, 2, 7997506, 1)
EVENT_DATE       19/05/31 18:46:19 EVENT_CD                        18 VH_ID                      7997569 ROUTE_ID                 406151001 RUN_DIST                     10844 STATION_ORD                     24 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 1529511, dtype: object
(406151001, 8, 7997569, 8)
EVENT_DATE       19/05/31 19:24:14 EVENT_CD                        18 VH_ID                      7997569 ROUTE_ID                 406151001 RUN_DIST                     24946 STATION_ORD                     55 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    9 Name: 2093737, dtype: object
(406151001, 9, 7997569, 9)
EVENT_DATE       19/05/31 19:25:30 EVENT_CD                        18 VH_ID                      7997506 ROUTE_ID                 406151001 RUN_DIST                      1800 STATION_ORD                      5 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                   10 Name: 2100984, dtype: object
(406151001, 10, 7997506, 14)
EVENT_DATE       19/05/31 20:24:34 EVENT_CD                        18 VH_ID                      7997528 ROUTE_ID                 406151001 RUN_DIST                      1800 STATION_ORD                      5 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                   17 Name: 1882497, dtype: object
(406151001, 17, 7997528, 13)
EVENT_DATE       19/05/31 21:31:24 EVENT_CD                        18 VH_ID                      7997528 ROUTE_ID                 406151001 RUN_DIST                     29981 STATION_ORD                     66 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                   18 Name: 2036256, dtype: object
(406151001, 18, 7997528, 14)
EVENT_DATE       19/05/31 22:09:04 EVENT_CD                        18 VH_ID                      7997544 ROUTE_ID                 406151001 RUN_DIST                     25798 STATION_ORD                     57 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   23 Name: 1789032, dtype: object
(406151001, 23, 7997544, 9)
EVENT_DATE       19/05/31 12:18:33 EVENT_CD                        18 VH_ID                      7997528 ROUTE_ID                 406151001 RUN_DIST                      4206 STATION_ORD                     11 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   26 Name: 1205998, dtype: object
(406151001, 26, 7997528, 4)
EVENT_DATE       19/05/31 13:21:27 EVENT_CD                        18 VH_ID                      7997544 ROUTE_ID                 406151001 RUN_DIST                     12036 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   32 Name: 994287, dtype: object
(406151001, 32, 7997544, 4)
EVENT_DATE       19/05/31 13:46:37 EVENT_CD                        18 VH_ID                      7997519 ROUTE_ID                 406151001 RUN_DIST                     12036 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   34 Name: 820504, dtype: object
(406151001, 34, 7997519, 4)
EVENT_DATE       19/05/31 13:39:16 EVENT_CD                        18 VH_ID                      7997544 ROUTE_ID                 406151001 RUN_DIST                     18776 STATION_ORD                     40 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   36 Name: 989345, dtype: object
(406151001, 36, 7997544, 5)
EVENT_DATE       19/05/31 14:38:58 EVENT_CD                        18 VH_ID                      7997569 ROUTE_ID                 406151001 RUN_DIST                      9074 STATION_ORD                     20 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   42 Name: 901053, dtype: object
(406151001, 42, 7997569, 5)
EVENT_DATE       19/05/31 14:33:50 EVENT_CD                        18 VH_ID                      7997501 ROUTE_ID                 406151001 RUN_DIST                       420 STATION_ORD                      2 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   43 Name: 1187427, dtype: object
(406151001, 43, 7997501, 5)
EVENT_DATE       19/05/31 15:29:24 EVENT_CD                        18 VH_ID                      7997506 ROUTE_ID                 406151001 RUN_DIST                      4206 STATION_ORD                     11 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   46 Name: 1039035, dtype: object
(406151001, 46, 7997506, 6)
EVENT_DATE       19/05/31 16:31:45 EVENT_CD                        18 VH_ID                      7997528 ROUTE_ID                 406151001 RUN_DIST                      4206 STATION_ORD                     11 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   51 Name: 1585513, dtype: object
(406151001, 51, 7997528, 9)
EVENT_DATE       19/05/31 17:54:17 EVENT_CD                        18 VH_ID                      7997537 ROUTE_ID                 406151001 RUN_DIST                      6994 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   58 Name: 1618298, dtype: object
(406151001, 58, 7997537, 6)
EVENT_DATE       19/05/31 17:55:33 EVENT_CD                        18 VH_ID                      7997520 ROUTE_ID                 406151001 RUN_DIST                      4206 STATION_ORD                     11 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   59 Name: 1625569, dtype: object
(406151001, 59, 7997520, 7)
EVENT_DATE       19/05/31 12:52:29 EVENT_CD                        18 VH_ID                      7997569 ROUTE_ID                 406151002 RUN_DIST                     31021 STATION_ORD                     69 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   25 Name: 1128758, dtype: object
(406151002, 25, 7997569, 4)

EVENT_DATE       19/05/31 13:45:32 EVENT_CD                        18 VH_ID                      7997528 ROUTE_ID                 406151002 RUN_DIST                      3891 STATION_ORD                     12 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   35 Name: 852276, dtype: object
(406151002, 35, 7997528, 7)
EVENT_DATE       19/05/31 14:33:41 EVENT_CD                        18 VH_ID                      7997508 ROUTE_ID                 406151002 RUN_DIST                     34752 STATION_ORD                     78 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   36 Name: 1169662, dtype: object
(406151002, 36, 7997508, 4)
EVENT_DATE       19/05/31 14:27:51 EVENT_CD                        18 VH_ID                      7997544 ROUTE_ID                 406151002 RUN_DIST                       248 STATION_ORD                      2 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   40 Name: 1151223, dtype: object
(406151002, 40, 7997544, 6)
EVENT_DATE       19/05/31 17:00:50 EVENT_CD                        18 VH_ID                      7997507 ROUTE_ID                 406151002 RUN_DIST                     32484 STATION_ORD                     72 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   47 Name: 1447991, dtype: object
(406151002, 47, 7997507, 6)
EVENT_DATE       19/05/31 16:20:32 EVENT_CD                        18 VH_ID                      7997569 ROUTE_ID                 406151002 RUN_DIST                     13481 STATION_ORD                     33 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   49 Name: 1711724, dtype: object
(406151002, 49, 7997569, 7)
EVENT_DATE       19/05/31 17:24:29 EVENT_CD                        18 VH_ID                      7997501 ROUTE_ID                 406151002 RUN_DIST                     34752 STATION_ORD                     78 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   50 Name: 1295718, dtype: object
(406151002, 50, 7997501, 7)
EVENT_DATE       19/05/31 17:29:05 EVENT_CD                        18 VH_ID                      7997506 ROUTE_ID                 406151002 RUN_DIST                     15827 STATION_ORD                     39 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   51 Name: 1314083, dtype: object
(406151002, 51, 7997506, 9)
EVENT_DATE       19/05/31 17:54:17 EVENT_CD                        18 VH_ID                      7997538 ROUTE_ID                 406151002 RUN_DIST                     20213 STATION_ORD                     48 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   52 Name: 1618299, dtype: object
(406151002, 52, 7997538, 6)
EVENT_DATE       19/05/31 17:56:15 EVENT_CD                        18 VH_ID                      7997542 ROUTE_ID                 406151002 RUN_DIST                     15827 STATION_ORD                     39 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   53 Name: 1614978, dtype: object
(406151002, 53, 7997542, 6)
EVENT_DATE       19/05/31 17:55:08 EVENT_CD                        18 VH_ID                      7997508 ROUTE_ID                 406151002 RUN_DIST                     13816 STATION_ORD                     34 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   54 Name: 1625474, dtype: object
(406151002, 54, 7997508, 6)
EVENT_DATE       19/05/31 17:30:29 EVENT_CD                        18 VH_ID                      7997506 ROUTE_ID                 406151002 RUN_DIST                     16212 STATION_ORD                     40 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   55 Name: 1289442, dtype: object
(406151002, 55, 7997506, 10)
EVENT_DATE       19/05/31 17:55:44 EVENT_CD                        18 VH_ID                      7997506 ROUTE_ID                 406151002 RUN_DIST                     28255 STATION_ORD                     63 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   56 Name: 1653966, dtype: object
(406151002, 56, 7997506, 11)
EVENT_DATE       19/05/31 17:55:24 EVENT_CD                        18 VH_ID                      7997511 ROUTE_ID                 406151002 RUN_DIST                      9491 STATION_ORD                     24 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   57 Name: 1604213, dtype: object
(406151002, 57, 7997511, 7)
EVENT_DATE       19/05/31 09:05:05 EVENT_CD                        18 VH_ID                      7997569 ROUTE_ID                 406151004 RUN_DIST                     36266 STATION_ORD                     79 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 772531, dtype: object
(406151004, 1, 7997569, 2)
EVENT_DATE       19/05/31 17:56:48 EVENT_CD                        18 VH_ID                      7997505 ROUTE_ID                 406151004 RUN_DIST                     32535 STATION_ORD                     70 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1632801, dtype: object
(406151004, 5, 7997505, 5)
EVENT_DATE       19/05/31 17:56:19 EVENT_CD                        18 VH_ID                      7997518 ROUTE_ID                 406151005 RUN_DIST                     20067 STATION_ORD                     43 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1622123, dtype: object
(406151005, 1, 7997518, 7)
EVENT_DATE       19/05/31 11:28:18 EVENT_CD                        18 VH_ID                      7997544 ROUTE_ID                 406151006 RUN_DIST                     30168 STATION_ORD                     67 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 604613, dtype: object
(406151006, 5, 7997544, 3)
EVENT_DATE       19/05/31 21:00:46 EVENT_CD                        18 VH_ID                      7997546 ROUTE_ID                 406151008 RUN_DIST                     15371 STATION_ORD                     38 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1728767, dtype: object
(406151008, 1, 7997546, 8)
EVENT_DATE       19/05/31 21:33:07 EVENT_CD                        18 VH_ID                      7997538 ROUTE_ID                 406151008 RUN_DIST                     15371 STATION_ORD                     38 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 2015252, dtype: object
(406151008, 2, 7997538, 9)
EVENT_DATE       19/05/31 21:57:48 EVENT_CD                        18 VH_ID                      7997508 ROUTE_ID                 406151008 RUN_DIST                     15371 STATION_ORD                     38 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    3 Name: 1787997, dtype: object
(406151008, 3, 7997508, 9)
EVENT_DATE       19/05/31 21:41:01 EVENT_CD                        18 VH_ID                      7997519 ROUTE_ID                 406151009 RUN_DIST                      4946 STATION_ORD                     13 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1779143, dtype: object
(406151009, 1, 7997519, 11)
EVENT_DATE       19/05/31 22:12:49 EVENT_CD                        18 VH_ID                      7997519 ROUTE_ID                 406151009 RUN_DIST                     19012 STATION_ORD                     41 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    2 Name: 1796402, dtype: object
(406151009, 2, 7997519, 12)
EVENT_DATE       19/05/31 21:57:10 EVENT_CD                        18 VH_ID                      7997520 ROUTE_ID                 406151009 RUN_DIST                       420 STATION_ORD                      2 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    3 Name: 1780864, dtype: object
(406151009, 3, 7997520, 10)
EVENT_DATE       19/05/31 06:51:51 EVENT_CD                        18 VH_ID                      7997508 ROUTE_ID                 406151010 RUN_DIST                     18925 STATION_ORD                     40 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    3 Name: 18589, dtype: object
(406151010, 3, 7997508, 1)
EVENT_DATE       19/05/31 07:27:18 EVENT_CD                        18 VH_ID                      7997550 ROUTE_ID                 406152001 RUN_DIST                     19155 STATION_ORD                     44 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 301628, dtype: object
(406152001, 0, 7997550, 0)
EVENT_DATE       19/05/31 22:26:38 EVENT_CD                        18 VH_ID                      7997551 ROUTE_ID                 406152002 RUN_DIST                     28500 STATION_ORD                     67 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   11 Name: 1925819, dtype: object
(406152002, 11, 7997551, 10)
EVENT_DATE       19/05/31 16:45:01 EVENT_CD                        18 VH_ID                      7997554 ROUTE_ID                 406152002 RUN_DIST                      9041 STATION_ORD                     13 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   28 Name: 1551956, dtype: object
(406152002, 28, 7997554, 8)
EVENT_DATE       19/05/31 17:56:09 EVENT_CD                        18 VH_ID                      7997549 ROUTE_ID                 406152002 RUN_DIST                     17400 STATION_ORD                     42 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   31 Name: 1657574, dtype: object
(406152002, 31, 7997549, 8)
EVENT_DATE       19/05/31 22:21:17 EVENT_CD                        18 VH_ID                      7997554 ROUTE_ID                 406152003 RUN_DIST                     18500 STATION_ORD                     43 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1931572, dtype: object
(406152003, 1, 7997554, 11)
EVENT_DATE       19/05/31 17:56:28 EVENT_CD                        18 VH_ID                      7997556 ROUTE_ID                 406152101 RUN_DIST                      3054 STATION_ORD                      7 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   10 Name: 1643408, dtype: object
(406152101, 10, 7997556, 7)
EVENT_DATE       19/05/31 10:33:18 EVENT_CD                        18 VH_ID                      7997557 ROUTE_ID                 406152102 RUN_DIST                     27695 STATION_ORD                     67 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 728062, dtype: object
(406152102, 3, 7997557, 2)
EVENT_DATE       19/05/31 20:53:16 EVENT_CD                        18 VH_ID                      7997557 ROUTE_ID                 406152102 RUN_DIST                     27695 STATION_ORD                     67 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    4 Name: 1724261, dtype: object
(406152102, 4, 7997557, 9)
EVENT_DATE       19/05/31 17:33:54 EVENT_CD                        18 VH_ID                      7997557 ROUTE_ID                 406152102 RUN_DIST                     27695 STATION_ORD                     67 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    9 Name: 1272241, dtype: object
(406152102, 9, 7997557, 6)
EVENT_DATE       19/05/31 19:45:49 EVENT_CD                        18 VH_ID                      7997539 ROUTE_ID                 406153101 RUN_DIST                       706 STATION_ORD                      4 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    5 Name: 2071952, dtype: object
(406153101, 5, 7997539, 9)
EVENT_DATE       19/05/31 12:47:54 EVENT_CD                        18 VH_ID                      7997539 ROUTE_ID                 406153101 RUN_DIST                       706 STATION_ORD                      4 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 1145842, dtype: object
(406153101, 6, 7997539, 4)
EVENT_DATE       19/05/31 17:55:53 EVENT_CD                        18 VH_ID                      7997563 ROUTE_ID                 406153101 RUN_DIST                      4111 STATION_ORD                     10 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   15 Name: 1618519, dtype: object
(406153101, 15, 7997563, 8)
EVENT_DATE       19/05/31 17:56:18 EVENT_CD                        18 VH_ID                      7997564 ROUTE_ID                 406153102 RUN_DIST                     26113 STATION_ORD                     53 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   15 Name: 1622080, dtype: object
(406153102, 15, 7997564, 6)
EVENT_DATE       19/05/31 17:56:37 EVENT_CD                        18 VH_ID                      7997565 ROUTE_ID                 406153102 RUN_DIST                     11809 STATION_ORD                     27 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   16 Name: 1607917, dtype: object
(406153102, 16, 7997565, 7)

EVENT_DATE       19/05/31 22:27:48 EVENT_CD                        18 VH_ID                      7997564 ROUTE_ID                 406153105 RUN_DIST                     21121 STATION_ORD                     43 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    0 Name: 1894971, dtype: object
(406153105, 0, 7997564, 9)
EVENT_DATE       19/05/31 23:18:09 EVENT_CD                        18 VH_ID                      7997559 ROUTE_ID                 406153105 RUN_DIST                     21121 STATION_ORD                     43 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    2 Name: 1902901, dtype: object
(406153105, 2, 7997559, 10)
EVENT_DATE       19/05/31 17:56:16 EVENT_CD                        18 VH_ID                      7997559 ROUTE_ID                 406153108 RUN_DIST                      1645 STATION_ORD                      5 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1615008, dtype: object
(406153108, 4, 7997559, 6)
EVENT_DATE       19/05/31 09:27:50 EVENT_CD                        18 VH_ID                      7997567 ROUTE_ID                 406153201 RUN_DIST                      6384 STATION_ORD                     14 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 648309, dtype: object
(406153201, 2, 7997567, 2)
EVENT_DATE       19/05/31 17:56:47 EVENT_CD                        18 VH_ID                      7997567 ROUTE_ID                 406153201 RUN_DIST                     19703 STATION_ORD                     39 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    7 Name: 1629260, dtype: object
(406153201, 7, 7997567, 5)
EVENT_DATE       19/05/31 17:55:39 EVENT_CD                        18 VH_ID                      7997568 ROUTE_ID                 406153202 RUN_DIST                     23287 STATION_ORD                     49 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 1639781, dtype: object
(406153202, 7, 7997568, 6)
EVENT_DATE       19/05/31 13:57:17 EVENT_CD                        18 VH_ID                      7983203 ROUTE_ID                 406261101 RUN_DIST                     10188 STATION_ORD                     23 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    3 Name: 828896, dtype: object
(406261101, 3, 7983203, 7)
EVENT_DATE       19/05/31 22:05:35 EVENT_CD                        18 VH_ID                      7983203 ROUTE_ID                 406261101 RUN_DIST                     19746 STATION_ORD                     46 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    3 Name: 1806306, dtype: object
(406261101, 3, 7983203, 17)
EVENT_DATE       19/05/31 17:56:25 EVENT_CD                        18 VH_ID                      7983206 ROUTE_ID                 406261101 RUN_DIST                     17376 STATION_ORD                     38 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1636306, dtype: object
(406261101, 6, 7983206, 7)
EVENT_DATE       19/05/31 21:11:09 EVENT_CD                        18 VH_ID                      7983204 ROUTE_ID                 406261102 RUN_DIST                     18399 STATION_ORD                     45 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    3 Name: 2026777, dtype: object
(406261102, 3, 7983204, 15)
EVENT_DATE       19/05/31 14:38:50 EVENT_CD                        18 VH_ID                      7983205 ROUTE_ID                 406261102 RUN_DIST                     19528 STATION_ORD                     46 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    5 Name: 883310, dtype: object
(406261102, 5, 7983205, 7)
EVENT_DATE       19/05/31 17:20:55 EVENT_CD                        18 VH_ID                      7983205 ROUTE_ID                 406261102 RUN_DIST                     19528 STATION_ORD                     46 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    6 Name: 1305849, dtype: object
(406261102, 6, 7983205, 9)
EVENT_DATE       19/05/31 08:56:00 EVENT_CD                        18 VH_ID                      7983204 ROUTE_ID                 406261201 RUN_DIST                     10096 STATION_ORD                     19 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 771167, dtype: object
(406261201, 4, 7983204, 4)
EVENT_DATE       19/05/31 22:03:50 EVENT_CD                        18 VH_ID                      7983206 ROUTE_ID                 406261202 RUN_DIST                     15009 STATION_ORD                     38 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    4 Name: 1813219, dtype: object
(406261202, 4, 7983206, 11)
EVENT_DATE       19/05/31 17:56:07 EVENT_CD                        18 VH_ID                      7983203 ROUTE_ID                 406261202 RUN_DIST                     11607 STATION_ORD                     31 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                   10 Name: 1650498, dtype: object
(406261202, 10, 7983203, 13)
EVENT_DATE       19/05/31 11:38:17 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261505 RUN_DIST                     12813 STATION_ORD                     29 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 605974, dtype: object
(406261505, 4, 7983210, 5)
EVENT_DATE       19/05/31 21:56:52 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261505 RUN_DIST                     12813 STATION_ORD                     29 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    4 Name: 1809020, dtype: object
(406261505, 4, 7983210, 14)
EVENT_DATE       19/05/31 16:29:40 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261505 RUN_DIST                      4932 STATION_ORD                     11 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    8 Name: 1578140, dtype: object
(406261505, 8, 7983210, 9)
EVENT_DATE       19/05/31 17:55:52 EVENT_CD                        18 VH_ID                      7983207 ROUTE_ID                 406261505 RUN_DIST                      7817 STATION_ORD                     16 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    9 Name: 1618473, dtype: object
(406261505, 9, 7983207, 10)
EVENT_DATE       19/05/31 07:08:42 EVENT_CD                        18 VH_ID                      7983207 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 28092, dtype: object
(406261506, 1, 7983207, 1)
EVENT_DATE       19/05/31 18:09:48 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1333445, dtype: object
(406261506, 1, 7983210, 11)
EVENT_DATE       19/05/31 08:10:26 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 264306, dtype: object
(406261506, 2, 7983210, 2)
EVENT_DATE       19/05/31 20:36:39 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    3 Name: 1866435, dtype: object
(406261506, 3, 7983210, 13)
EVENT_DATE       19/05/31 10:24:19 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 373229, dtype: object
(406261506, 4, 7983210, 4)
EVENT_DATE       19/05/31 13:10:18 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1134574, dtype: object
(406261506, 6, 7983210, 6)
EVENT_DATE       19/05/31 15:39:39 EVENT_CD                        18 VH_ID                      7983210 ROUTE_ID                 406261506 RUN_DIST                     12764 STATION_ORD                     32 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 962441, dtype: object
(406261506, 8, 7983210, 8)
EVENT_DATE       19/05/31 07:48:52 EVENT_CD                        18 VH_ID                      7983209 ROUTE_ID                 406261507 RUN_DIST                     15265 STATION_ORD                     34 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 90567, dtype: object
(406261507, 2, 7983209, 2)
EVENT_DATE       19/05/31 21:30:37 EVENT_CD                        18 VH_ID                      7983208 ROUTE_ID                 406261507 RUN_DIST                     15265 STATION_ORD                     34 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    3 Name: 2000884, dtype: object
(406261507, 3, 7983208, 13)
EVENT_DATE       19/05/31 07:14:22 EVENT_CD                        18 VH_ID                      7997515 ROUTE_ID                 406262101 RUN_DIST                     12134 STATION_ORD                     29 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 21799, dtype: object
(406262101, 1, 7997515, 1)
EVENT_DATE       19/05/31 17:55:27 EVENT_CD                        18 VH_ID                      7997517 ROUTE_ID                 406262101 RUN_DIST                     18056 STATION_ORD                     43 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    8 Name: 1611326, dtype: object
(406262101, 8, 7997517, 5)
EVENT_DATE       19/05/31 17:56:34 EVENT_CD                        18 VH_ID                      7997515 ROUTE_ID                 406262101 RUN_DIST                      4546 STATION_ORD                     11 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    9 Name: 1657614, dtype: object
(406262101, 9, 7997515, 5)
EVENT_DATE       19/05/31 06:25:15 EVENT_CD                        18 VH_ID                      7997517 ROUTE_ID                 406262103 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 182022, dtype: object
(406262103, 1, 7997517, 1)

EVENT_DATE       19/05/31 12:17:28 EVENT_CD                        18 VH_ID                      7996615 ROUTE_ID                 406262202 RUN_DIST                     20844 STATION_ORD                     46 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1234163, dtype: object
(406262202, 2, 7996615, 4)
EVENT_DATE       19/05/31 21:29:33 EVENT_CD                        18 VH_ID                      7996615 ROUTE_ID                 406262202 RUN_DIST                     20844 STATION_ORD                     46 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    2 Name: 2043061, dtype: object
(406262202, 2, 7996615, 11)
EVENT_DATE       19/05/31 15:33:42 EVENT_CD                        18 VH_ID                      7996615 ROUTE_ID                 406262202 RUN_DIST                     20844 STATION_ORD                     46 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 972291, dtype: object
(406262202, 3, 7996615, 6)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7996615 ROUTE_ID                 406262202 RUN_DIST                      6238 STATION_ORD                     15 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1625735, dtype: object
(406262202, 4, 7996615, 8)
EVENT_DATE       19/05/31 17:47:55 EVENT_CD                        18 VH_ID                      7997524 ROUTE_ID                 406262303 RUN_DIST                      8081 STATION_ORD                     13 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    8 Name: 1617364, dtype: object
(406262303, 8, 7997524, 6)
EVENT_DATE       19/05/31 06:11:05 EVENT_CD                        18 VH_ID                      7997541 ROUTE_ID                 406262403 RUN_DIST                      3977 STATION_ORD                      9 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 285204, dtype: object
(406262403, 1, 7997541, 1)
EVENT_DATE       19/05/31 10:14:45 EVENT_CD                        18 VH_ID                      7997540 ROUTE_ID                 406262404 RUN_DIST                     31408 STATION_ORD                     63 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 364837, dtype: object
(406262404, 1, 7997540, 2)
EVENT_DATE       19/05/31 17:53:49 EVENT_CD                        18 VH_ID                      7997541 ROUTE_ID                 406262404 RUN_DIST                     22789 STATION_ORD                     50 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 1614641, dtype: object
(406262404, 6, 7997541, 5)
EVENT_DATE       19/05/31 06:39:01 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262501 RUN_DIST                      9016 STATION_ORD                     24 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 183336, dtype: object
(406262501, 1, 7997545, 1)
EVENT_DATE       19/05/31 21:42:47 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262502 RUN_DIST                     10619 STATION_ORD                     25 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    0 Name: 1804020, dtype: object
(406262502, 0, 7997545, 13)
EVENT_DATE       19/05/31 19:04:36 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262502 RUN_DIST                     10619 STATION_ORD                     25 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    1 Name: 1397469, dtype: object
(406262502, 1, 7997523, 14)
EVENT_DATE       19/05/31 10:35:44 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 728406, dtype: object
(406262504, 0, 7997523, 0)
EVENT_DATE       19/05/31 08:02:25 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 280769, dtype: object
(406262504, 0, 7997523, 1)
EVENT_DATE       19/05/31 09:34:30 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    0 Name: 681015, dtype: object
(406262504, 0, 7997523, 2)
EVENT_DATE       19/05/31 20:40:54 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    0 Name: 1831642, dtype: object
(406262504, 0, 7997523, 15)
EVENT_DATE       19/05/31 07:20:39 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    0 Name: 300630, dtype: object
(406262504, 0, 7997545, 1)
EVENT_DATE       19/05/31 14:46:39 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 873737, dtype: object
(406262504, 0, 7997545, 7)
EVENT_DATE       19/05/31 20:12:49 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    0 Name: 1987230, dtype: object
(406262504, 0, 7997545, 12)
EVENT_DATE       19/05/31 08:22:38 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 255520, dtype: object
(406262504, 0, 7997547, 3)
EVENT_DATE       19/05/31 10:10:29 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    0 Name: 385508, dtype: object
(406262504, 0, 7997547, 4)
EVENT_DATE       19/05/31 14:02:23 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 843673, dtype: object
(406262504, 0, 7997547, 7)
EVENT_DATE       19/05/31 19:40:25 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    0 Name: 2096014, dtype: object
(406262504, 0, 7997547, 12)
EVENT_DATE       19/05/31 18:30:57 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 1364516, dtype: object
(406262504, 1, 7997545, 11)
EVENT_DATE       19/05/31 06:18:31 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                       943 STATION_ORD                      2 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 181509, dtype: object
(406262504, 1, 7997547, 1)
EVENT_DATE       19/05/31 17:59:54 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    2 Name: 1658099, dtype: object
(406262504, 2, 7997523, 13)
EVENT_DATE       19/05/31 06:48:26 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 180876, dtype: object
(406262504, 2, 7997547, 2)
EVENT_DATE       19/05/31 08:50:45 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 766892, dtype: object
(406262504, 3, 7997545, 3)
EVENT_DATE       19/05/31 21:14:34 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    3 Name: 2009567, dtype: object
(406262504, 3, 7997547, 14)
EVENT_DATE       19/05/31 10:17:31 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     21 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 365213, dtype: object
(406262504, 4, 7997523, 3)
EVENT_DATE       19/05/31 22:14:28 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    4 Name: 1884551, dtype: object
(406262504, 4, 7997523, 17)
EVENT_DATE       19/05/31 10:39:42 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                      1930 STATION_ORD                      3 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 711238, dtype: object
(406262504, 5, 7997523, 4)
EVENT_DATE       19/05/31 11:21:12 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    6 Name: 423132, dtype: object
(406262504, 6, 7997523, 5)
EVENT_DATE       19/05/31 11:56:34 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 523387, dtype: object
(406262504, 7, 7997547, 6)
EVENT_DATE       19/05/31 12:30:27 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    8 Name: 1253513, dtype: object
(406262504, 8, 7997545, 6)
EVENT_DATE       19/05/31 13:14:37 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    9 Name: 1018228, dtype: object
(406262504, 9, 7997523, 7)
EVENT_DATE       19/05/31 13:37:53 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                   10 Name: 982132, dtype: object
(406262504, 10, 7997545, 7)
EVENT_DATE       19/05/31 15:26:29 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   11 Name: 1088248, dtype: object
(406262504, 11, 7997523, 9)
EVENT_DATE       19/05/31 16:08:29 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   12 Name: 1706584, dtype: object
(406262504, 12, 7997547, 9)
EVENT_DATE       19/05/31 15:37:42 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   13 Name: 972841, dtype: object
(406262504, 13, 7997545, 8)
EVENT_DATE       19/05/31 16:11:37 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   14 Name: 1689301, dtype: object
(406262504, 14, 7997523, 10)
EVENT_DATE       19/05/31 16:46:48 EVENT_CD                        18 VH_ID                      7997545 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   15 Name: 1580541, dtype: object
(406262504, 15, 7997545, 9)
EVENT_DATE       19/05/31 16:56:26 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                      3464 STATION_ORD                      6 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   16 Name: 1450901, dtype: object
(406262504, 16, 7997523, 11)
EVENT_DATE       19/05/31 17:22:57 EVENT_CD                        18 VH_ID                      7997523 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                   17 Name: 1306124, dtype: object
(406262504, 17, 7997523, 12)
EVENT_DATE       19/05/31 17:56:30 EVENT_CD                        18 VH_ID                      7997547 ROUTE_ID                 406262504 RUN_DIST                     10303 STATION_ORD                     24 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   18 Name: 1646996, dtype: object
(406262504, 18, 7997547, 11)
EVENT_DATE       19/05/31 17:56:35 EVENT_CD                        18 VH_ID                      7996622 ROUTE_ID                 406262702 RUN_DIST                      7089 STATION_ORD                     19 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 1657658, dtype: object
(406262702, 3, 7996622, 8)
EVENT_DATE       19/05/31 07:07:01 EVENT_CD                        18 VH_ID                      7997529 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 56306, dtype: object
(406263002, 1, 7997529, 1)
EVENT_DATE       19/05/31 19:09:27 EVENT_CD                        18 VH_ID                      7997530 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1408809, dtype: object
(406263002, 1, 7997530, 7)
EVENT_DATE       19/05/31 09:22:36 EVENT_CD                        18 VH_ID                      7997530 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 640518, dtype: object
(406263002, 2, 7997530, 2)
EVENT_DATE       19/05/31 19:54:04 EVENT_CD                        18 VH_ID                      7997531 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 1935206, dtype: object
(406263002, 2, 7997531, 9)
EVENT_DATE       19/05/31 20:26:40 EVENT_CD                        18 VH_ID                      7997529 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 1833241, dtype: object
(406263002, 3, 7997529, 8)
EVENT_DATE       19/05/31 09:58:23 EVENT_CD                        18 VH_ID                      7997531 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 553456, dtype: object
(406263002, 3, 7997531, 3)
EVENT_DATE       19/05/31 10:32:41 EVENT_CD                        18 VH_ID                      7997529 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 696089, dtype: object
(406263002, 4, 7997529, 3)
EVENT_DATE       19/05/31 20:59:30 EVENT_CD                        18 VH_ID                      7997530 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1735654, dtype: object
(406263002, 4, 7997530, 8)
EVENT_DATE       19/05/31 11:04:36 EVENT_CD                        18 VH_ID                      7997530 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 459759, dtype: object
(406263002, 5, 7997530, 3)
EVENT_DATE       19/05/31 21:08:07 EVENT_CD                        18 VH_ID                      7997531 ROUTE_ID                 406263002 RUN_DIST                      1915 STATION_ORD                      4 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    5 Name: 1743794, dtype: object
(406263002, 5, 7997531, 10)
EVENT_DATE       19/05/31 22:00:38 EVENT_CD                        18 VH_ID                      7997529 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    6 Name: 1788270, dtype: object
(406263002, 6, 7997529, 9)
EVENT_DATE       19/05/31 11:43:42 EVENT_CD                        18 VH_ID                      7997531 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    6 Name: 599592, dtype: object
(406263002, 6, 7997531, 4)
EVENT_DATE       19/05/31 12:17:09 EVENT_CD                        18 VH_ID                      7997529 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 1248290, dtype: object
(406263002, 7, 7997529, 4)
EVENT_DATE       19/05/31 12:58:16 EVENT_CD                        18 VH_ID                      7997530 ROUTE_ID                 406263002 RUN_DIST                     10165 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    8 Name: 1147150, dtype: object
(406263002, 8, 7997530, 4)

EVENT_DATE       19/05/31 21:39:58 EVENT_CD                        18 VH_ID                      7983231 ROUTE_ID                 406263307 RUN_DIST                     18402 STATION_ORD                     40 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1824822, dtype: object
(406263307, 1, 7983231, 8)
EVENT_DATE       19/05/31 13:53:48 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263501 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    0 Name: 860361, dtype: object
(406263501, 0, 7997533, 8)
EVENT_DATE       19/05/31 12:44:25 EVENT_CD                        18 VH_ID                      7997521 ROUTE_ID                 406263501 RUN_DIST                      6062 STATION_ORD                     16 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    8 Name: 1258827, dtype: object
(406263501, 8, 7997521, 3)
EVENT_DATE       19/05/31 12:54:27 EVENT_CD                        18 VH_ID                      7997521 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 1111320, dtype: object
(406263502, 0, 7997521, 3)
EVENT_DATE       19/05/31 07:58:01 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 106093, dtype: object
(406263502, 0, 7997522, 0)
EVENT_DATE       19/05/31 07:11:39 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 49909, dtype: object
(406263502, 0, 7997532, 0)
EVENT_DATE       19/05/31 07:42:27 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 64845, dtype: object
(406263502, 1, 7997522, 2)
EVENT_DATE       19/05/31 18:26:28 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    1 Name: 1374560, dtype: object
(406263502, 1, 7997532, 14)
EVENT_DATE       19/05/31 09:02:29 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 779195, dtype: object
(406263502, 2, 7997522, 4)
EVENT_DATE       19/05/31 18:54:40 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    2 Name: 1516488, dtype: object
(406263502, 2, 7997533, 14)
EVENT_DATE       19/05/31 19:22:26 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    3 Name: 1385817, dtype: object
(406263502, 3, 7997522, 10)
EVENT_DATE       19/05/31 09:34:26 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    3 Name: 670437, dtype: object
(406263502, 3, 7997532, 4)
EVENT_DATE       19/05/31 19:54:51 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     16 ROUTE_RUN_CNT                    4 Name: 1988372, dtype: object
(406263502, 4, 7997532, 16)
EVENT_DATE       19/05/31 10:05:07 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 540257, dtype: object
(406263502, 4, 7997533, 4)
EVENT_DATE       19/05/31 10:40:52 EVENT_CD                        18 VH_ID                      7997521 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    5 Name: 704314, dtype: object
(406263502, 5, 7997521, 2)
EVENT_DATE       19/05/31 20:18:41 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    5 Name: 1881703, dtype: object
(406263502, 5, 7997533, 15)
EVENT_DATE       19/05/31 11:16:41 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 440195, dtype: object
(406263502, 6, 7997532, 6)
EVENT_DATE       19/05/31 20:24:00 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    6 Name: 1864727, dtype: object
(406263502, 6, 7997532, 17)
EVENT_DATE       19/05/31 20:54:30 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    7 Name: 1717353, dtype: object
(406263502, 7, 7997522, 12)
EVENT_DATE       19/05/31 11:50:47 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 483675, dtype: object
(406263502, 7, 7997533, 6)
EVENT_DATE       19/05/31 12:07:58 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 517793, dtype: object
(406263502, 8, 7997532, 7)
EVENT_DATE       19/05/31 21:24:47 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     18 ROUTE_RUN_CNT                    8 Name: 2031956, dtype: object
(406263502, 8, 7997532, 18)
EVENT_DATE       19/05/31 13:08:42 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    9 Name: 1099000, dtype: object
(406263502, 9, 7997532, 8)
EVENT_DATE       19/05/31 21:50:24 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    9 Name: 1811901, dtype: object
(406263502, 9, 7997533, 17)
EVENT_DATE       19/05/31 13:53:07 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   10 Name: 831944, dtype: object
(406263502, 10, 7997533, 8)
EVENT_DATE       19/05/31 13:27:41 EVENT_CD                        18 VH_ID                      7997521 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   11 Name: 1026946, dtype: object
(406263502, 11, 7997521, 4)
EVENT_DATE       19/05/31 14:26:27 EVENT_CD                        18 VH_ID                      7997521 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   12 Name: 1200679, dtype: object
(406263502, 12, 7997521, 5)
EVENT_DATE       19/05/31 15:08:30 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   13 Name: 1082290, dtype: object
(406263502, 13, 7997532, 10)
EVENT_DATE       19/05/31 15:38:42 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   14 Name: 941110, dtype: object
(406263502, 14, 7997533, 10)
EVENT_DATE       19/05/31 16:06:43 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   15 Name: 1692176, dtype: object
(406263502, 15, 7997522, 6)
EVENT_DATE       19/05/31 17:23:01 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                   16 Name: 1313256, dtype: object
(406263502, 16, 7997533, 12)
EVENT_DATE       19/05/31 17:52:35 EVENT_CD                        18 VH_ID                      7997522 ROUTE_ID                 406263502 RUN_DIST                      9868 STATION_ORD                     26 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   17 Name: 1603851, dtype: object
(406263502, 17, 7997522, 8)
EVENT_DATE       19/05/31 08:12:49 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263504 RUN_DIST                     12438 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    1 Name: 236423, dtype: object
(406263504, 1, 7997532, 2)
EVENT_DATE       19/05/31 08:32:44 EVENT_CD                        18 VH_ID                      7997533 ROUTE_ID                 406263504 RUN_DIST                     12438 STATION_ORD                     28 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 114841, dtype: object
(406263504, 2, 7997533, 2)
EVENT_DATE       19/05/31 16:48:58 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263504 RUN_DIST                     12438 STATION_ORD                     28 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    3 Name: 1442790, dtype: object
(406263504, 3, 7997532, 12)
EVENT_DATE       19/05/31 17:25:41 EVENT_CD                        18 VH_ID                      7997532 ROUTE_ID                 406263504 RUN_DIST                     12438 STATION_ORD                     28 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    4 Name: 1295918, dtype: object
(406263504, 4, 7997532, 13)
EVENT_DATE       19/05/31 17:56:29 EVENT_CD                        18 VH_ID                      7983211 ROUTE_ID                 406264202 RUN_DIST                      9729 STATION_ORD                     23 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                   12 Name: 1646956, dtype: object
(406264202, 12, 7983211, 8)
EVENT_DATE       19/05/31 11:13:05 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 446779, dtype: object
(406264301, 0, 7983215, 3)
EVENT_DATE       19/05/31 07:13:08 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 46598, dtype: object
(406264301, 1, 7983215, 1)
EVENT_DATE       19/05/31 18:53:12 EVENT_CD                        18 VH_ID                      7983216 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1537505, dtype: object
(406264301, 1, 7983216, 7)
EVENT_DATE       19/05/31 09:14:57 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 667683, dtype: object
(406264301, 2, 7983214, 2)
EVENT_DATE       19/05/31 19:55:19 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    2 Name: 1942433, dtype: object
(406264301, 2, 7983215, 8)
EVENT_DATE       19/05/31 10:03:34 EVENT_CD                        18 VH_ID                      7983216 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 543547, dtype: object
(406264301, 3, 7983216, 2)
EVENT_DATE       19/05/31 20:39:09 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264301 RUN_DIST                      3545 STATION_ORD                      8 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    4 Name: 1873884, dtype: object
(406264301, 4, 7983215, 9)
EVENT_DATE       19/05/31 13:15:02 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264301 RUN_DIST                     31046 STATION_ORD                     72 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 1014735, dtype: object
(406264301, 5, 7983214, 4)
EVENT_DATE       19/05/31 17:56:04 EVENT_CD                        18 VH_ID                      7983216 ROUTE_ID                 406264301 RUN_DIST                      7962 STATION_ORD                     18 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1646901, dtype: object
(406264301, 6, 7983216, 6)
EVENT_DATE       19/05/31 18:01:08 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264302 RUN_DIST                     33268 STATION_ORD                     74 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1605028, dtype: object
(406264302, 1, 7983214, 7)
EVENT_DATE       19/05/31 15:05:29 EVENT_CD                        18 VH_ID                      7983216 ROUTE_ID                 406264302 RUN_DIST                     33268 STATION_ORD                     74 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1057060, dtype: object
(406264302, 1, 7983216, 4)
EVENT_DATE       19/05/31 15:55:09 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264302 RUN_DIST                     33268 STATION_ORD                     74 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 950377, dtype: object
(406264302, 2, 7983215, 5)
EVENT_DATE       19/05/31 17:56:14 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264302 RUN_DIST                     31123 STATION_ORD                     70 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1611458, dtype: object
(406264302, 4, 7983214, 6)
EVENT_DATE       19/05/31 06:43:37 EVENT_CD                        18 VH_ID                      7983212 ROUTE_ID                 406264303 RUN_DIST                      7320 STATION_ORD                     12 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 201738, dtype: object
(406264303, 1, 7983212, 1)
EVENT_DATE       19/05/31 21:45:05 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    0 Name: 1783144, dtype: object
(406264402, 0, 7983215, 9)
EVENT_DATE       19/05/31 07:25:08 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 301288, dtype: object
(406264402, 1, 7983214, 1)
EVENT_DATE       19/05/31 18:07:22 EVENT_CD                        18 VH_ID                      7983215 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    2 Name: 1336634, dtype: object
(406264402, 2, 7983215, 7)
EVENT_DATE       19/05/31 08:11:21 EVENT_CD                        18 VH_ID                      7983216 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    2 Name: 232687, dtype: object
(406264402, 2, 7983216, 1)
EVENT_DATE       19/05/31 10:19:11 EVENT_CD                        18 VH_ID                      7983212 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 379612, dtype: object
(406264402, 3, 7983212, 2)
EVENT_DATE       19/05/31 20:05:10 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 1947259, dtype: object
(406264402, 3, 7983214, 8)
EVENT_DATE       19/05/31 11:13:10 EVENT_CD                        18 VH_ID                      7983214 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 460910, dtype: object
(406264402, 4, 7983214, 3)
EVENT_DATE       19/05/31 20:56:55 EVENT_CD                        18 VH_ID                      7983216 ROUTE_ID                 406264402 RUN_DIST                     31096 STATION_ORD                     74 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    4 Name: 1745931, dtype: object
(406264402, 4, 7983216, 8)

EVENT_DATE       19/05/31 21:50:57 EVENT_CD                        18 VH_ID                      7983027 ROUTE_ID                 406265105 RUN_DIST                     20683 STATION_ORD                     53 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    6 Name: 1818989, dtype: object
(406265105, 6, 7983027, 10)
EVENT_DATE       19/05/31 11:12:39 EVENT_CD                        18 VH_ID                      7983070 ROUTE_ID                 406265105 RUN_DIST                     19164 STATION_ORD                     48 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    9 Name: 443210, dtype: object
(406265105, 9, 7983070, 5)
EVENT_DATE       19/05/31 11:18:11 EVENT_CD                        18 VH_ID                      7983070 ROUTE_ID                 406265105 RUN_DIST                     20683 STATION_ORD                     53 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   10 Name: 468676, dtype: object
(406265105, 10, 7983070, 6)
EVENT_DATE       19/05/31 17:56:43 EVENT_CD                        18 VH_ID                      7983025 ROUTE_ID                 406265105 RUN_DIST                      2756 STATION_ORD                      8 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   18 Name: 1618628, dtype: object
(406265105, 18, 7983025, 9)
EVENT_DATE       19/05/31 22:20:29 EVENT_CD                        18 VH_ID                      7983070 ROUTE_ID                 406265205 RUN_DIST                     20713 STATION_ORD                     52 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    3 Name: 1925361, dtype: object
(406265205, 3, 7983070, 17)
EVENT_DATE       19/05/31 07:28:51 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                      3029 STATION_ORD                     10 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    0 Name: 319524, dtype: object
(406265501, 0, 7983219, 3)
EVENT_DATE       19/05/31 19:18:12 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    1 Name: 1413523, dtype: object
(406265501, 1, 7983219, 17)
EVENT_DATE       19/05/31 20:11:01 EVENT_CD                        18 VH_ID                      7983221 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 1962253, dtype: object
(406265501, 2, 7983221, 9)
EVENT_DATE       19/05/31 22:15:59 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                     19 ROUTE_RUN_CNT                    4 Name: 1897224, dtype: object
(406265501, 4, 7983219, 19)
EVENT_DATE       19/05/31 11:25:09 EVENT_CD                        18 VH_ID                      7983218 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    5 Name: 632469, dtype: object
(406265501, 5, 7983218, 3)
EVENT_DATE       19/05/31 11:18:33 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                      4616 STATION_ORD                     11 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    6 Name: 461654, dtype: object
(406265501, 6, 7983219, 8)
EVENT_DATE       19/05/31 13:02:23 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                   10 Name: 1115860, dtype: object
(406265501, 10, 7983219, 10)
EVENT_DATE       19/05/31 15:03:09 EVENT_CD                        18 VH_ID                      7983218 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   11 Name: 904289, dtype: object
(406265501, 11, 7983218, 5)
EVENT_DATE       19/05/31 15:10:00 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                      4616 STATION_ORD                     11 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                   12 Name: 1064787, dtype: object
(406265501, 12, 7983219, 11)
EVENT_DATE       19/05/31 15:22:18 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                     11545 STATION_ORD                     24 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                   13 Name: 1069969, dtype: object
(406265501, 13, 7983219, 12)
EVENT_DATE       19/05/31 16:31:09 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265501 RUN_DIST                     29395 STATION_ORD                     66 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                   15 Name: 1557108, dtype: object
(406265501, 15, 7983219, 14)
EVENT_DATE       19/05/31 14:02:59 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265502 RUN_DIST                     29587 STATION_ORD                     65 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    0 Name: 811839, dtype: object
(406265502, 0, 7983219, 10)
EVENT_DATE       19/05/31 18:20:39 EVENT_CD                        18 VH_ID                      7983221 ROUTE_ID                 406265502 RUN_DIST                     29587 STATION_ORD                     65 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1320739, dtype: object
(406265502, 1, 7983221, 8)
EVENT_DATE       19/05/31 19:58:27 EVENT_CD                        18 VH_ID                      7983218 ROUTE_ID                 406265502 RUN_DIST                     25560 STATION_ORD                     57 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    2 Name: 1988849, dtype: object
(406265502, 2, 7983218, 9)
EVENT_DATE       19/05/31 07:06:14 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265502 RUN_DIST                     29587 STATION_ORD                     65 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 56181, dtype: object
(406265502, 3, 7983219, 3)
EVENT_DATE       19/05/31 20:49:02 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265502 RUN_DIST                     29587 STATION_ORD                     65 BUS_RUN_CNT                     18 ROUTE_RUN_CNT                    3 Name: 1720165, dtype: object
(406265502, 3, 7983219, 18)
EVENT_DATE       19/05/31 09:45:08 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265502 RUN_DIST                      7506 STATION_ORD                     17 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    7 Name: 569304, dtype: object
(406265502, 7, 7983219, 6)
EVENT_DATE       19/05/31 10:34:46 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265502 RUN_DIST                     29587 STATION_ORD                     65 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    8 Name: 707006, dtype: object
(406265502, 8, 7983219, 7)
EVENT_DATE       19/05/31 14:59:13 EVENT_CD                        18 VH_ID                      7983221 ROUTE_ID                 406265502 RUN_DIST                     29587 STATION_ORD                     65 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                   12 Name: 917941, dtype: object
(406265502, 12, 7983221, 5)
EVENT_DATE       19/05/31 08:15:27 EVENT_CD                        18 VH_ID                      7983218 ROUTE_ID                 406265503 RUN_DIST                     31847 STATION_ORD                     70 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 240353, dtype: object
(406265503, 1, 7983218, 1)
EVENT_DATE       19/05/31 16:59:14 EVENT_CD                        18 VH_ID                      7983221 ROUTE_ID                 406265503 RUN_DIST                     31847 STATION_ORD                     70 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    2 Name: 1451331, dtype: object
(406265503, 2, 7983221, 6)
EVENT_DATE       19/05/31 16:50:09 EVENT_CD                        18 VH_ID                      7983219 ROUTE_ID                 406265504 RUN_DIST                     12443 STATION_ORD                     26 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    0 Name: 1450009, dtype: object
(406265504, 0, 7983219, 14)
EVENT_DATE       19/05/31 08:17:49 EVENT_CD                        18 VH_ID                      7996621 ROUTE_ID                 406269001 RUN_DIST                      1141 STATION_ORD                      3 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 258355, dtype: object
(406269001, 2, 7996621, 2)
EVENT_DATE       19/05/31 11:32:41 EVENT_CD                        18 VH_ID                      7996621 ROUTE_ID                 406269001 RUN_DIST                      1456 STATION_ORD                      4 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 633446, dtype: object
(406269001, 4, 7996621, 5)
EVENT_DATE       19/05/31 15:50:50 EVENT_CD                        18 VH_ID                      7996626 ROUTE_ID                 406269002 RUN_DIST                      4502 STATION_ORD                     10 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    7 Name: 925050, dtype: object
(406269002, 7, 7996626, 4)
EVENT_DATE       19/05/31 17:56:47 EVENT_CD                        18 VH_ID                      7996633 ROUTE_ID                 406269002 RUN_DIST                     18139 STATION_ORD                     45 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    9 Name: 1629261, dtype: object
(406269002, 9, 7996633, 7)
EVENT_DATE       19/05/31 13:26:34 EVENT_CD                        18 VH_ID                      7983024 ROUTE_ID                 406329501 RUN_DIST                      6225 STATION_ORD                     13 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    6 Name: 1005540, dtype: object
(406329501, 6, 7983024, 3)
EVENT_DATE       19/05/31 17:56:41 EVENT_CD                        18 VH_ID                      7983055 ROUTE_ID                 406329501 RUN_DIST                     18429 STATION_ORD                     38 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                   10 Name: 1615062, dtype: object
(406329501, 10, 7983055, 4)
EVENT_DATE       19/05/31 19:41:20 EVENT_CD                        18 VH_ID                      7983052 ROUTE_ID                 406329502 RUN_DIST                     73253 STATION_ORD                    129 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    2 Name: 2053644, dtype: object
(406329502, 2, 7983052, 5)
EVENT_DATE       19/05/31 17:56:33 EVENT_CD                        18 VH_ID                      7983024 ROUTE_ID                 406329502 RUN_DIST                     62380 STATION_ORD                    107 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1654090, dtype: object
(406329502, 3, 7983024, 5)
EVENT_DATE       19/05/31 17:55:56 EVENT_CD                        18 VH_ID                      7983052 ROUTE_ID                 406329502 RUN_DIST                      5328 STATION_ORD                     10 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 1625617, dtype: object
(406329502, 4, 7983052, 4)
EVENT_DATE       19/05/31 22:01:23 EVENT_CD                        18 VH_ID                      7983055 ROUTE_ID                 406329502 RUN_DIST                     73253 STATION_ORD                    129 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1805918, dtype: object
(406329502, 4, 7983055, 6)
EVENT_DATE       19/05/31 11:11:33 EVENT_CD                        18 VH_ID                      7983024 ROUTE_ID                 406329505 RUN_DIST                     67732 STATION_ORD                    120 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 464231, dtype: object
(406329505, 2, 7983024, 2)
EVENT_DATE       19/05/31 13:59:34 EVENT_CD                        18 VH_ID                      7983037 ROUTE_ID                 406329505 RUN_DIST                     67732 STATION_ORD                    120 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    4 Name: 822071, dtype: object
(406329505, 4, 7983037, 3)

EVENT_DATE       19/05/31 08:01:24 EVENT_CD                        18 VH_ID                      7996625 ROUTE_ID                 406572103 RUN_DIST                     33647 STATION_ORD                     43 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 67691, dtype: object
(406572103, 1, 7996625, 1)
EVENT_DATE       19/05/31 10:02:02 EVENT_CD                        18 VH_ID                      7996625 ROUTE_ID                 406572103 RUN_DIST                     33647 STATION_ORD                     43 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 550403, dtype: object
(406572103, 2, 7996625, 2)
EVENT_DATE       19/05/31 12:29:24 EVENT_CD                        18 VH_ID                      7996625 ROUTE_ID                 406572103 RUN_DIST                     33647 STATION_ORD                     43 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 1228622, dtype: object
(406572103, 3, 7996625, 3)
EVENT_DATE       19/05/31 17:55:16 EVENT_CD                        18 VH_ID                      7996625 ROUTE_ID                 406572103 RUN_DIST                     22405 STATION_ORD                     23 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1643262, dtype: object
(406572103, 5, 7996625, 5)
EVENT_DATE       19/05/31 08:36:12 EVENT_CD                        18 VH_ID                      7996640 ROUTE_ID                 406572105 RUN_DIST                     30720 STATION_ORD                     43 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 133001, dtype: object
(406572105, 1, 7996640, 1)
EVENT_DATE       19/05/31 10:53:36 EVENT_CD                        18 VH_ID                      7996640 ROUTE_ID                 406572105 RUN_DIST                     30720 STATION_ORD                     43 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 734422, dtype: object
(406572105, 2, 7996640, 2)
EVENT_DATE       19/05/31 12:57:57 EVENT_CD                        18 VH_ID                      7996640 ROUTE_ID                 406572105 RUN_DIST                     30257 STATION_ORD                     42 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    3 Name: 1104736, dtype: object
(406572105, 3, 7996640, 3)
EVENT_DATE       19/05/31 14:54:11 EVENT_CD                        18 VH_ID                      7996640 ROUTE_ID                 406572105 RUN_DIST                     30720 STATION_ORD                     43 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    4 Name: 895988, dtype: object
(406572105, 4, 7996640, 4)
EVENT_DATE       19/05/31 16:54:10 EVENT_CD                        18 VH_ID                      7996640 ROUTE_ID                 406572105 RUN_DIST                     30720 STATION_ORD                     43 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    5 Name: 1468283, dtype: object
(406572105, 5, 7996640, 5)
EVENT_DATE       19/05/31 21:27:38 EVENT_CD                        18 VH_ID                      7996625 ROUTE_ID                 406572107 RUN_DIST                      7949 STATION_ORD                     12 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    0 Name: 2042842, dtype: object
(406572107, 0, 7996625, 8)
EVENT_DATE       19/05/31 17:55:52 EVENT_CD                        18 VH_ID                      7996628 ROUTE_ID                 406572201 RUN_DIST                     11481 STATION_ORD                     12 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                   10 Name: 1618482, dtype: object
(406572201, 10, 7996628, 9)
EVENT_DATE       19/05/31 14:52:42 EVENT_CD                        18 VH_ID                      7996644 ROUTE_ID                 406572203 RUN_DIST                       407 STATION_ORD                      3 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    7 Name: 913485, dtype: object
(406572203, 7, 7996644, 1)
EVENT_DATE       19/05/31 15:44:30 EVENT_CD                        18 VH_ID                      7996644 ROUTE_ID                 406572203 RUN_DIST                     27280 STATION_ORD                     42 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    8 Name: 963128, dtype: object
(406572203, 8, 7996644, 2)
EVENT_DATE       19/05/31 17:54:11 EVENT_CD                        18 VH_ID                      7996644 ROUTE_ID                 406572203 RUN_DIST                     27280 STATION_ORD                     42 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                   10 Name: 1607585, dtype: object
(406572203, 10, 7996644, 3)
EVENT_DATE       19/05/31 18:14:27 EVENT_CD                        18 VH_ID                      7996644 ROUTE_ID                 406572204 RUN_DIST                     10347 STATION_ORD                     18 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    1 Name: 1330533, dtype: object
(406572204, 1, 7996644, 4)
EVENT_DATE       19/05/31 14:28:08 EVENT_CD                        18 VH_ID                      7996632 ROUTE_ID                 406573101 RUN_DIST                      5548 STATION_ORD                      7 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    5 Name: 1186715, dtype: object
(406573101, 5, 7996632, 9)
EVENT_DATE       19/05/31 21:35:41 EVENT_CD                        18 VH_ID                      7996632 ROUTE_ID                 406573102 RUN_DIST                     12896 STATION_ORD                     24 BUS_RUN_CNT                     17 ROUTE_RUN_CNT                    3 Name: 1990880, dtype: object
(406573102, 3, 7996632, 17)
EVENT_DATE       19/05/31 17:52:47 EVENT_CD                        18 VH_ID                      7996632 ROUTE_ID                 406573102 RUN_DIST                      9172 STATION_ORD                     23 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    5 Name: 1635832, dtype: object
(406573102, 5, 7996632, 12)
EVENT_DATE       19/05/31 18:27:29 EVENT_CD                        18 VH_ID                      7996610 ROUTE_ID                 406573103 RUN_DIST                     14671 STATION_ORD                     20 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    1 Name: 1339313, dtype: object
(406573103, 1, 7996610, 13)
EVENT_DATE       19/05/31 21:23:28 EVENT_CD                        18 VH_ID                      7996610 ROUTE_ID                 406573103 RUN_DIST                     14671 STATION_ORD                     20 BUS_RUN_CNT                     18 ROUTE_RUN_CNT                    4 Name: 2042358, dtype: object
(406573103, 4, 7996610, 18)
EVENT_DATE       19/05/31 11:48:50 EVENT_CD                        18 VH_ID                      7996610 ROUTE_ID                 406573104 RUN_DIST                     14437 STATION_ORD                     19 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 614385, dtype: object
(406573104, 3, 7996610, 6)
EVENT_DATE       19/05/31 13:16:59 EVENT_CD                        18 VH_ID                      7996610 ROUTE_ID                 406573104 RUN_DIST                     10713 STATION_ORD                     18 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 983122, dtype: object
(406573104, 4, 7996610, 7)
EVENT_DATE       19/05/31 17:54:04 EVENT_CD                        18 VH_ID                      7996610 ROUTE_ID                 406573104 RUN_DIST                     10713 STATION_ORD                     18 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    6 Name: 1646666, dtype: object
(406573104, 6, 7996610, 11)
EVENT_DATE       19/05/31 13:36:09 EVENT_CD                        18 VH_ID                      7996623 ROUTE_ID                 406573201 RUN_DIST                     17144 STATION_ORD                     26 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    5 Name: 996103, dtype: object
(406573201, 5, 7996623, 9)
EVENT_DATE       19/05/31 20:32:33 EVENT_CD                        18 VH_ID                      7996623 ROUTE_ID                 406573202 RUN_DIST                     17122 STATION_ORD                     27 BUS_RUN_CNT                     15 ROUTE_RUN_CNT                    2 Name: 1848180, dtype: object
(406573202, 2, 7996623, 15)
EVENT_DATE       19/05/31 21:49:25 EVENT_CD                        18 VH_ID                      7996623 ROUTE_ID                 406573202 RUN_DIST                     17122 STATION_ORD                     27 BUS_RUN_CNT                     16 ROUTE_RUN_CNT                    3 Name: 1818813, dtype: object
(406573202, 3, 7996623, 16)
EVENT_DATE       19/05/31 15:51:17 EVENT_CD                        18 VH_ID                      7996623 ROUTE_ID                 406573202 RUN_DIST                     17122 STATION_ORD                     27 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    5 Name: 935711, dtype: object
(406573202, 5, 7996623, 10)
EVENT_DATE       19/05/31 15:23:47 EVENT_CD                        18 VH_ID                      7996641 ROUTE_ID                 406573203 RUN_DIST                     30388 STATION_ORD                     46 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1052444, dtype: object
(406573203, 3, 7996641, 5)
EVENT_DATE       19/05/31 13:09:52 EVENT_CD                        18 VH_ID                      7996641 ROUTE_ID                 406573204 RUN_DIST                     27695 STATION_ORD                     43 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    2 Name: 1134485, dtype: object
(406573204, 2, 7996641, 4)
EVENT_DATE       19/05/31 16:57:46 EVENT_CD                        18 VH_ID                      7996641 ROUTE_ID                 406573204 RUN_DIST                     27695 STATION_ORD                     43 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    3 Name: 1475826, dtype: object
(406573204, 3, 7996641, 6)
EVENT_DATE       19/05/31 17:56:34 EVENT_CD                        18 VH_ID                      7996641 ROUTE_ID                 406573205 RUN_DIST                     13137 STATION_ORD                     17 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    1 Name: 1657615, dtype: object
(406573205, 1, 7996641, 7)
EVENT_DATE       19/05/31 19:29:54 EVENT_CD                        18 VH_ID                      7996641 ROUTE_ID                 406573206 RUN_DIST                     19923 STATION_ORD                     31 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 2048514, dtype: object
(406573206, 1, 7996641, 9)
EVENT_DATE       19/05/31 21:26:57 EVENT_CD                        18 VH_ID                      7996641 ROUTE_ID                 406573207 RUN_DIST                     14279 STATION_ORD                     22 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    1 Name: 2014583, dtype: object
(406573207, 1, 7996641, 11)
EVENT_DATE       19/05/31 10:50:37 EVENT_CD                        18 VH_ID                      7996609 ROUTE_ID                 406574103 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    3 Name: 716256, dtype: object
(406574103, 3, 7996609, 4)
EVENT_DATE       19/05/31 21:40:36 EVENT_CD                        18 VH_ID                      7996605 ROUTE_ID                 406574202 RUN_DIST                      6073 STATION_ORD                     15 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    4 Name: 1782658, dtype: object
(406574202, 4, 7996605, 11)
EVENT_DATE       19/05/31 16:22:22 EVENT_CD                        18 VH_ID                      7996605 ROUTE_ID                 406574202 RUN_DIST                     11063 STATION_ORD                     22 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    6 Name: 1687208, dtype: object
(406574202, 6, 7996605, 6)
EVENT_DATE       19/05/31 18:33:33 EVENT_CD                        18 VH_ID                      7996624 ROUTE_ID                 406575102 RUN_DIST                     28758 STATION_ORD                     36 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1495960, dtype: object
(406575102, 1, 7996624, 9)

EVENT_DATE       19/05/31 07:08:54 EVENT_CD                        18 VH_ID                      7996635 ROUTE_ID                 406575102 RUN_DIST                     28758 STATION_ORD                     36 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 3257, dtype: object
(406575102, 1, 7996635, 1)
EVENT_DATE       19/05/31 20:50:51 EVENT_CD                        18 VH_ID                      7996624 ROUTE_ID                 406575102 RUN_DIST                     28758 STATION_ORD                     36 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    3 Name: 1738082, dtype: object
(406575102, 3, 7996624, 11)
EVENT_DATE       19/05/31 09:23:16 EVENT_CD                        18 VH_ID                      7996635 ROUTE_ID                 406575102 RUN_DIST                     28758 STATION_ORD                     36 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    3 Name: 679479, dtype: object
(406575102, 3, 7996635, 2)
EVENT_DATE       19/05/31 12:23:26 EVENT_CD                        18 VH_ID                      7996635 ROUTE_ID                 406575102 RUN_DIST                     28758 STATION_ORD                     36 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    5 Name: 1234951, dtype: object
(406575102, 5, 7996635, 4)
EVENT_DATE       19/05/31 17:56:03 EVENT_CD                        18 VH_ID                      7996630 ROUTE_ID                 406575103 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    3 Name: 1643359, dtype: object
(406575103, 3, 7996630, 8)
EVENT_DATE       19/05/31 18:37:44 EVENT_CD                        18 VH_ID                      7996631 ROUTE_ID                 406575104 RUN_DIST                     26476 STATION_ORD                     35 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1489438, dtype: object
(406575104, 1, 7996631, 10)
EVENT_DATE       19/05/31 13:21:31 EVENT_CD                        18 VH_ID                      7996631 ROUTE_ID                 406575104 RUN_DIST                     33965 STATION_ORD                     46 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1001404, dtype: object
(406575104, 3, 7996631, 5)
EVENT_DATE       19/05/31 15:56:15 EVENT_CD                        18 VH_ID                      7996631 ROUTE_ID                 406575104 RUN_DIST                     33965 STATION_ORD                     46 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    4 Name: 929296, dtype: object
(406575104, 4, 7996631, 7)
EVENT_DATE       19/05/31 17:55:36 EVENT_CD                        18 VH_ID                      7996631 ROUTE_ID                 406575104 RUN_DIST                      2509 STATION_ORD                      3 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    5 Name: 1632667, dtype: object
(406575104, 5, 7996631, 9)
EVENT_DATE       19/05/31 06:55:25 EVENT_CD                        18 VH_ID                      7996630 ROUTE_ID                 406575108 RUN_DIST                     28176 STATION_ORD                     41 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 11987, dtype: object
(406575108, 1, 7996630, 1)
EVENT_DATE       19/05/31 08:13:42 EVENT_CD                        18 VH_ID                      7996630 ROUTE_ID                 406575108 RUN_DIST                      5682 STATION_ORD                      8 BUS_RUN_CNT                      2 ROUTE_RUN_CNT                    2 Name: 257742, dtype: object
(406575108, 2, 7996630, 2)
EVENT_DATE       19/05/31 12:17:48 EVENT_CD                        18 VH_ID                      7996630 ROUTE_ID                 406575108 RUN_DIST                     28176 STATION_ORD                     41 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1223581, dtype: object
(406575108, 4, 7996630, 5)
EVENT_DATE       19/05/31 06:31:32 EVENT_CD                        18 VH_ID                      7996616 ROUTE_ID                 406575201 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 211205, dtype: object
(406575201, 1, 7996616, 1)
EVENT_DATE       19/05/31 20:36:59 EVENT_CD                        18 VH_ID                      7996616 ROUTE_ID                 406575201 RUN_DIST                     44763 STATION_ORD                     51 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1855860, dtype: object
(406575201, 1, 7996616, 8)
EVENT_DATE       19/05/31 20:35:10 EVENT_CD                        18 VH_ID                      7996618 ROUTE_ID                 406575202 RUN_DIST                     44711 STATION_ORD                     49 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    0 Name: 1880424, dtype: object
(406575202, 0, 7996618, 7)
EVENT_DATE       19/05/31 08:10:34 EVENT_CD                        18 VH_ID                      7996618 ROUTE_ID                 406575202 RUN_DIST                     44711 STATION_ORD                     49 BUS_RUN_CNT                      1 ROUTE_RUN_CNT                    1 Name: 282011, dtype: object
(406575202, 1, 7996618, 1)
EVENT_DATE       19/05/31 18:09:15 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                         0 STATION_ORD                      0 BUS_RUN_CNT                      0 ROUTE_RUN_CNT                    0 Name: 1372273, dtype: object
(406575203, 0, 7996617, 0)
EVENT_DATE       19/05/31 17:59:19 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                     51943 STATION_ORD                     59 BUS_RUN_CNT                     13 ROUTE_RUN_CNT                    1 Name: 1633153, dtype: object
(406575203, 1, 7996617, 13)
EVENT_DATE       19/05/31 20:21:40 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                     52157 STATION_ORD                     60 BUS_RUN_CNT                     14 ROUTE_RUN_CNT                    2 Name: 1829012, dtype: object
(406575203, 2, 7996617, 14)
EVENT_DATE       19/05/31 12:38:29 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                     21663 STATION_ORD                     32 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 1229819, dtype: object
(406575203, 5, 7996617, 6)
EVENT_DATE       19/05/31 12:40:42 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                     23420 STATION_ORD                     35 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1237135, dtype: object
(406575203, 6, 7996617, 7)
EVENT_DATE       19/05/31 12:49:15 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                     28728 STATION_ORD                     38 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1096561, dtype: object
(406575203, 7, 7996617, 8)
EVENT_DATE       19/05/31 13:30:13 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    9 Name: 1002458, dtype: object
(406575203, 9, 7996617, 10)
EVENT_DATE       19/05/31 17:55:19 EVENT_CD                        18 VH_ID                      7996617 ROUTE_ID                 406575203 RUN_DIST                     50781 STATION_ORD                     56 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                   11 Name: 1650362, dtype: object
(406575203, 11, 7996617, 12)
EVENT_DATE       19/05/31 20:11:28 EVENT_CD                        18 VH_ID                      7996619 ROUTE_ID                 406575204 RUN_DIST                     52095 STATION_ORD                     57 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1969365, dtype: object
(406575204, 1, 7996619, 8)
EVENT_DATE       19/05/31 13:31:26 EVENT_CD                        18 VH_ID                      7996619 ROUTE_ID                 406575204 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 981348, dtype: object
(406575204, 4, 7996619, 5)
EVENT_DATE       19/05/31 15:42:36 EVENT_CD                        18 VH_ID                      7996619 ROUTE_ID                 406575204 RUN_DIST                     52095 STATION_ORD                     57 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    5 Name: 930997, dtype: object
(406575204, 5, 7996619, 6)
EVENT_DATE       19/05/31 17:46:56 EVENT_CD                        18 VH_ID                      7996619 ROUTE_ID                 406575204 RUN_DIST                     52095 STATION_ORD                     57 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    6 Name: 1649232, dtype: object
(406575204, 6, 7996619, 7)
EVENT_DATE       19/05/31 16:28:18 EVENT_CD                        18 VH_ID                      7996616 ROUTE_ID                 406575205 RUN_DIST                     49881 STATION_ORD                     58 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    3 Name: 1549666, dtype: object
(406575205, 3, 7996616, 5)
EVENT_DATE       19/05/31 17:56:03 EVENT_CD                        18 VH_ID                      7996616 ROUTE_ID                 406575205 RUN_DIST                     13013 STATION_ORD                     18 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                    4 Name: 1639836, dtype: object
(406575205, 4, 7996616, 6)
EVENT_DATE       19/05/31 12:21:09 EVENT_CD                        18 VH_ID                      7996618 ROUTE_ID                 406575206 RUN_DIST                     49834 STATION_ORD                     55 BUS_RUN_CNT                      3 ROUTE_RUN_CNT                    2 Name: 1213427, dtype: object
(406575206, 2, 7996618, 3)
EVENT_DATE       19/05/31 18:53:46 EVENT_CD                        18 VH_ID                      7996618 ROUTE_ID                 406575206 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                      7 ROUTE_RUN_CNT                    2 Name: 1502253, dtype: object
(406575206, 2, 7996618, 7)
EVENT_DATE       19/05/31 17:56:28 EVENT_CD                        18 VH_ID                      7996618 ROUTE_ID                 406575206 RUN_DIST                     18162 STATION_ORD                     19 BUS_RUN_CNT                      5 ROUTE_RUN_CNT                    4 Name: 1643429, dtype: object
(406575206, 4, 7996618, 5)
EVENT_DATE       19/05/31 19:07:38 EVENT_CD                        18 VH_ID                      7996634 ROUTE_ID                 406576103 RUN_DIST                     22735 STATION_ORD                     31 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    2 Name: 1380176, dtype: object
(406576103, 2, 7996634, 10)
EVENT_DATE       19/05/31 20:20:11 EVENT_CD                        18 VH_ID                      7996643 ROUTE_ID                 406576103 RUN_DIST                     22735 STATION_ORD                     31 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    3 Name: 1850029, dtype: object
(406576103, 3, 7996643, 12)
EVENT_DATE       19/05/31 21:01:39 EVENT_CD                        18 VH_ID                      7996634 ROUTE_ID                 406576103 RUN_DIST                     22735 STATION_ORD                     31 BUS_RUN_CNT                     12 ROUTE_RUN_CNT                    4 Name: 1743006, dtype: object
(406576103, 4, 7996634, 12)
EVENT_DATE       19/05/31 17:50:17 EVENT_CD                        18 VH_ID                      7996643 ROUTE_ID                 406576103 RUN_DIST                     22735 STATION_ORD                     31 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    9 Name: 1610639, dtype: object
(406576103, 9, 7996643, 9)
EVENT_DATE       19/05/31 16:52:23 EVENT_CD                        18 VH_ID                      7996643 ROUTE_ID                 406576104 RUN_DIST                     21381 STATION_ORD                     30 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    7 Name: 1439715, dtype: object
(406576104, 7, 7996643, 8)
EVENT_DATE       19/05/31 17:56:18 EVENT_CD                        18 VH_ID                      7996634 ROUTE_ID                 406576104 RUN_DIST                     16392 STATION_ORD                     23 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    8 Name: 1622081, dtype: object
(406576104, 8, 7996634, 8)
EVENT_DATE       19/05/31 14:26:27 EVENT_CD                        18 VH_ID                      7996637 ROUTE_ID                 406888001 RUN_DIST                      5073 STATION_ORD                     14 BUS_RUN_CNT                      4 ROUTE_RUN_CNT                    8 Name: 1200678, dtype: object
(406888001, 8, 7996637, 4)
EVENT_DATE       19/05/31 17:56:46 EVENT_CD                        18 VH_ID                      7996638 ROUTE_ID                 406888001 RUN_DIST                     12466 STATION_ORD                     33 BUS_RUN_CNT                      6 ROUTE_RUN_CNT                   14 Name: 1625736, dtype: object
(406888001, 14, 7996638, 6)
EVENT_DATE       19/05/31 22:34:11 EVENT_CD                        18 VH_ID                      7997501 ROUTE_ID                 406900101 RUN_DIST                         0 STATION_ORD                      1 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1892206, dtype: object
(406900101, 1, 7997501, 10)
EVENT_DATE       19/05/31 23:48:29 EVENT_CD                        18 VH_ID                      7997501 ROUTE_ID                 406900101 RUN_DIST                     24258 STATION_ORD                     56 BUS_RUN_CNT                     11 ROUTE_RUN_CNT                    2 Name: 1915501, dtype: object
(406900101, 2, 7997501, 11)
EVENT_DATE       19/05/31 23:44:14 EVENT_CD                        18 VH_ID                      7997502 ROUTE_ID                 406900201 RUN_DIST                     24140 STATION_ORD                     55 BUS_RUN_CNT                      8 ROUTE_RUN_CNT                    1 Name: 1890598, dtype: object
(406900201, 1, 7997502, 8)
EVENT_DATE       19/05/31 23:49:54 EVENT_CD                        18 VH_ID                      7997546 ROUTE_ID                 406900501 RUN_DIST                     28011 STATION_ORD                     55 BUS_RUN_CNT                      9 ROUTE_RUN_CNT                    1 Name: 1921669, dtype: object
(406900501, 1, 7997546, 9)
EVENT_DATE       19/05/31 23:48:53 EVENT_CD                        18 VH_ID                      7997508 ROUTE_ID                 406900601 RUN_DIST                     28339 STATION_ORD                     55 BUS_RUN_CNT                     10 ROUTE_RUN_CNT                    1 Name: 1915541, dtype: object
(406900601, 1, 7997508, 10)
1462

In [71]:
len(group[group.STATION_ORD == 1])

2

In [76]:
len(grouped_1)

5174

In [82]:
df[(df['ROUTE_ID'] == 405131101) & (df['ROUTE_RUN_CNT'] == 10)].sort_values(by=['EVENT_DATE']).to_csv('sleepy.csv')

In [13]:
# (405131201, 21, 7983694, 6)

In [11]:
df[(df['ROUTE_ID'] == 405130001) & (df['ROUTE_RUN_CNT'] == 2)].sort_values(by=['EVENT_DATE'])

,EVENT_DATE,EVENT_CD,VH_ID,ROUTE_ID,RUN_DIST,STATION_ORD,BUS_RUN_CNT,ROUTE_RUN_CNT
174823,19/05/31 06:24:31,18,7996027,405130001,0,1,1,2
181961,19/05/31 06:24:34,17,7996027,405130001,0,1,1,2
182006,19/05/31 06:24:36,18,7996027,405130001,0,1,1,2
185598,19/05/31 06:24:39,17,7996027,405130001,0,1,1,2
174854,19/05/31 06:25:10,18,7996027,405130001,0,1,1,2
192809,19/05/31 06:25:25,17,7996027,405130001,183,2,1,2
174918,19/05/31 06:25:51,18,7996027,405130001,183,2,1,2
210782,19/05/31 06:27:01,17,7996027,405130001,1087,3,1,2
218041,19/05/31 06:27:45,18,7996027,405130001,1087,3,1,2
218169,19/05/31 06:29:43,17,7996027,405130001,2207,4,1,2
207505,19/05/31 06:30:15,18,7996027,405130001,2207,4,1,2
222140,19/05/31 06:33:58,17,7996027,405130001,4400,5,1,2
222175,19/05/31 06:33:59,18,7996027,405130001,4400,5,1,2
219114,19/05/31 06:38:51,17,7996027,405130001,7077,6,1,2
222679,19/05/31 06:38:52,18,7996027,405130001,7077,6,1,2
172827,19/05/31 06:41:00,17,7996027,405130001,8101,7,1,2
183617,19/05/31 06:41:35,18,7996027,405130001,8101,7,1,2
212660,19/05/31 06:45:10,17,7996027,405130001,9308,8,1,2
227059,19/05/31 06:45:43,18,7996027,405130001,9308,8,1,2
184329,19/05/31 06:47:36,17,7996027,405130001,9882,9,1,2
180845,19/05/31 06:48:25,18,7996027,405130001,9882,9,1,2
25928,19/05/31 06:53:30,17,7996027,405130001,11483,10,1,2
29513,19/05/31 06:53:31,18,7996027,405130001,11483,10,1,2
47740,19/05/31 06:56:50,17,7996027,405130001,13395,11,1,2
5171,19/05/31 06:57:20,18,7996027,405130001,13395,11,1,2
37221,19/05/31 06:57:55,17,7996027,405130001,13889,12,1,2
44498,19/05/31 06:58:47,18,7996027,405130001,13889,12,1,2
44880,19/05/31 07:01:33,17,7996027,405130001,15122,13,1,2
34314,19/05/31 07:02:13,18,7996027,405130001,15122,13,1,2
6031,19/05/31 07:03:34,17,7996027,405130001,15673,14,1,2
...,...,...,...,...,...,...,...,...
307167,19/05/31 07:17:20,17,7996027,405130001,21303,18,1,2
339153,19/05/31 07:17:55,18,7996027,405130001,21303,18,1,2
304578,19/05/31 07:23:38,17,7996027,405130001,24810,19,1,2
340027,19/05/31 07:23:51,18,7996027,405130001,24810,19,1,2
333507,19/05/31 07:27:31,17,7996027,405130001,27077,20,1,2
305224,19/05/31 07:27:42,18,7996027,405130001,27077,20,1,2
337372,19/05/31 07:29:42,17,7996027,405130001,28481,21,1,2
340924,19/05/31 07:29:43,18,7996027,405130001,28481,21,1,2
351999,19/05/31 07:32:41,17,7996027,405130001,29976,22,1,2
352109,19/05/31 07:33:24,18,7996027,405130001,29976,22,1,2
327653,19/05/31 07:35:45,17,7996027,405130001,31124,23,1,2
299387,19/05/31 07:35:56,18,7996027,405130001,31124,23,1,2
324405,19/05/31 07:37:31,17,7996027,405130001,32189,24,1,2
1651187,19/05/31 18:01:27,17,7996016,405130001,18591,16,6,2
1622826,19/05/31 18:01:39,18,7996016,405130001,18591,16,6,2
1608734,19/05/31 18:02:22,17,7996016,405130001,19376,17,6,2
1622996,19/05/31 18:02:51,18,7996016,405130001,19376,17,6,2
1368286,19/05/31 18:05:56,17,7996016,405130001,21303,18,6,2
1361258,19/05/31 18:06:17,18,7996016,405130001,21303,18,6,2
1323071,19/05/31 18:11:26,17,7996016,405130001,24810,19,6,2
1330180,19/05/31 18:11:54,18,7996016,405130001,24810,19,6,2
1337645,19/05/31 18:14:55,17,7996016,405130001,27077,20,6,2
1323553,19/05/31 18:15:15,18,7996016,405130001,27077,20,6,2
1366214,19/05/31 18:16:49,17,7996016,405130001,28481,21,6,2
1369731,19/05/31 18:16:50,18,7996016,405130001,28481,21,6,2
1355919,19/05/31 18:19:14,17,7996016,405130001,29976,22,6,2
1345356,19/05/31 18:19:34,18,7996016,405130001,29976,22,6,2
1321056,19/05/31 18:23:10,17,7996016,405130001,31124,23,6,2
1356946,19/05/31 18:27:12,18,7996016,405130001,31124,23,6,2
1321890,19/05/31 18:29:28,17,7996016,405130001,32189,24,6,2

In [16]:
g[0].to_csv('new.csv')

In [15]:
g[0].iloc[-1]

EVENT_DATE       19/05/31 07:33:24
EVENT_CD                        18
VH_ID                      7996027
ROUTE_ID                 405130001
RUN_DIST                     29976
STATION_ORD                     22
BUS_RUN_CNT                      1
ROUTE_RUN_CNT                    2
Name: 352109, dtype: object

In [17]:
g[0].sort_values(by=['EVENT_DATE'])

,EVENT_DATE,EVENT_CD,VH_ID,ROUTE_ID,RUN_DIST,STATION_ORD,BUS_RUN_CNT,ROUTE_RUN_CNT
174823,19/05/31 06:24:31,18,7996027,405130001,0,1,1,2
181961,19/05/31 06:24:34,17,7996027,405130001,0,1,1,2
182006,19/05/31 06:24:36,18,7996027,405130001,0,1,1,2
185598,19/05/31 06:24:39,17,7996027,405130001,0,1,1,2
174854,19/05/31 06:25:10,18,7996027,405130001,0,1,1,2
192809,19/05/31 06:25:25,17,7996027,405130001,183,2,1,2
174918,19/05/31 06:25:51,18,7996027,405130001,183,2,1,2
210782,19/05/31 06:27:01,17,7996027,405130001,1087,3,1,2
218041,19/05/31 06:27:45,18,7996027,405130001,1087,3,1,2
218169,19/05/31 06:29:43,17,7996027,405130001,2207,4,1,2
207505,19/05/31 06:30:15,18,7996027,405130001,2207,4,1,2
222140,19/05/31 06:33:58,17,7996027,405130001,4400,5,1,2
222175,19/05/31 06:33:59,18,7996027,405130001,4400,5,1,2
219114,19/05/31 06:38:51,17,7996027,405130001,7077,6,1,2
222679,19/05/31 06:38:52,18,7996027,405130001,7077,6,1,2
172827,19/05/31 06:41:00,17,7996027,405130001,8101,7,1,2
183617,19/05/31 06:41:35,18,7996027,405130001,8101,7,1,2
212660,19/05/31 06:45:10,17,7996027,405130001,9308,8,1,2
227059,19/05/31 06:45:43,18,7996027,405130001,9308,8,1,2
184329,19/05/31 06:47:36,17,7996027,405130001,9882,9,1,2
180845,19/05/31 06:48:25,18,7996027,405130001,9882,9,1,2
25928,19/05/31 06:53:30,17,7996027,405130001,11483,10,1,2
29513,19/05/31 06:53:31,18,7996027,405130001,11483,10,1,2
47740,19/05/31 06:56:50,17,7996027,405130001,13395,11,1,2
5171,19/05/31 06:57:20,18,7996027,405130001,13395,11,1,2
37221,19/05/31 06:57:55,17,7996027,405130001,13889,12,1,2
44498,19/05/31 06:58:47,18,7996027,405130001,13889,12,1,2
44880,19/05/31 07:01:33,17,7996027,405130001,15122,13,1,2
34314,19/05/31 07:02:13,18,7996027,405130001,15122,13,1,2
6031,19/05/31 07:03:34,17,7996027,405130001,15673,14,1,2
20335,19/05/31 07:04:03,18,7996027,405130001,15673,14,1,2
42087,19/05/31 07:06:56,17,7996027,405130001,16831,15,1,2
21112,19/05/31 07:09:21,18,7996027,405130001,16831,15,1,2
39425,19/05/31 07:12:44,17,7996027,405130001,18591,16,1,2
53703,19/05/31 07:13:11,18,7996027,405130001,18591,16,1,2
529,19/05/31 07:14:05,17,7996027,405130001,19376,17,1,2
4168,19/05/31 07:14:52,18,7996027,405130001,19376,17,1,2
307167,19/05/31 07:17:20,17,7996027,405130001,21303,18,1,2
339153,19/05/31 07:17:55,18,7996027,405130001,21303,18,1,2
304578,19/05/31 07:23:38,17,7996027,405130001,24810,19,1,2
340027,19/05/31 07:23:51,18,7996027,405130001,24810,19,1,2
333507,19/05/31 07:27:31,17,7996027,405130001,27077,20,1,2
305224,19/05/31 07:27:42,18,7996027,405130001,27077,20,1,2
337372,19/05/31 07:29:42,17,7996027,405130001,28481,21,1,2
340924,19/05/31 07:29:43,18,7996027,405130001,28481,21,1,2
351999,19/05/31 07:32:41,17,7996027,405130001,29976,22,1,2
352109,19/05/31 07:33:24,18,7996027,405130001,29976,22,1,2
327653,19/05/31 07:35:45,17,7996027,405130001,31124,23,1,2
299387,19/05/31 07:35:56,18,7996027,405130001,31124,23,1,2
324405,19/05/31 07:37:31,17,7996027,405130001,32189,24,1,2

In [20]:
g[0].to_csv('real.csv')